<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Date input - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- GCDS CSS Shortcuts -->
    <link rel="stylesheet" href="/gcds-docs/gcds-css-shortcuts.min.css" />

    <!-- Prism -->
    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <script src="/gcds-docs/scripts/prism.min.js"></script>

    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <script src="/gcds-docs/scripts/general.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/champ-de-date/design/'
>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <gcds-grid columns="minmax(0, 1fr)" columns-desktop="320px minmax(0, 1fr)" tag="div" container="xl" centered class="xl:px-0 sm:px-600 px-225 general-layout">
        






















<gcds-side-nav label="GC Design System" class="side-nav lg:position-sticky box-border overflow-x-visible align-self-start px-75">
  <gcds-nav-link href="/en">Home</gcds-nav-link>
  <gcds-nav-link href="/en/start-to-use" >Start to use</gcds-nav-link>

  
  
  <gcds-nav-group
    menu-label="Page templates"
    open-trigger="Page templates"
    
  >
    <gcds-nav-link
      href="/en/page-templates"
      
    >
      Page templates overview
    </gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/basic/"
      
    >
      Basic page
    </gcds-nav-link>
  
</gcds-nav-group>

  
  
  <gcds-nav-group
    menu-label="Components"
    open-trigger="Components"
    open
  >
    <gcds-nav-link
      href="/en/components"
      
    >
      Components overview
    </gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/breadcrumbs/"
      
    >
      Breadcrumbs
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/button/"
      
    >
      Button
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/card/"
      
    >
      Card
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/checkboxes/"
      
    >
      Checkboxes
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/container/"
      
    >
      Container
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/date-input/"
      current
    >
      Date input
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/date-modified/"
      
    >
      Date modified
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/details/"
      
    >
      Details
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/error-message/"
      
    >
      Error message
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/error-summary/"
      
    >
      Error summary
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/fieldset/"
      
    >
      Fieldset
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/file-uploader/"
      
    >
      File uploader
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/footer/"
      
    >
      Footer
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/grid/"
      
    >
      Grid
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/header/"
      
    >
      Header
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/heading/"
      
    >
      Heading
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/icon/"
      
    >
      Icon
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/input/"
      
    >
      Input
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/language-toggle/"
      
    >
      Language toggle
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/link/"
      
    >
      Link
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/notice/"
      
    >
      Notice
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/pagination/"
      
    >
      Pagination
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/radios/"
      
    >
      Radios
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/screenreader-only/"
      
    >
      Screenreader-only
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/search/"
      
    >
      Search
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/select/"
      
    >
      Select
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/side-navigation/"
      
    >
      Side navigation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/signature/"
      
    >
      Signature
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/stepper/"
      
    >
      Stepper
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/text/"
      
    >
      Text
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/textarea/"
      
    >
      Textarea
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/theme-and-topic-menu/"
      
    >
      Theme and topic menu
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/top-navigation/"
      
    >
      Top navigation
    </gcds-nav-link>
  
</gcds-nav-group>

  

  <gcds-nav-group
    menu-label="CSS shortcuts"
    open-trigger="CSS shortcuts"
    
  >
    <gcds-nav-link
      href="/en/css-shortcuts"
      
    >
      CSS shortcuts overview
    </gcds-nav-link>
  
    <gcds-nav-group
      menu-label="Defaults"
      open-trigger="Defaults"
      
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/reset-styles/"
      
    >
      Reset styles
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Conditional styling"
      open-trigger="Conditional styling"
      
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/responsive-layout/"
      
    >
      Responsive layout
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/state/"
      
    >
      State
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Layout"
      open-trigger="Layout"
      
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/box-sizing/"
      
    >
      Box sizing
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/container-sizing/"
      
    >
      Container sizing
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/display/"
      
    >
      Display
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/overflow/"
      
    >
      Overflow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/position/"
      
    >
      Position
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/visibility/"
      
    >
      Visibility
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Typography"
      open-trigger="Typography"
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font/"
      
    >
      Font
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-family/"
      
    >
      Font family
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-size/"
      
    >
      Font size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-style/"
      
    >
      Font style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-weight/"
      
    >
      Font weight
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/line-height/"
      
    >
      Line height
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-colour/"
      
    >
      Link colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-size/"
      
    >
      Link size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-text-decoration/"
      
    >
      Link text decoration
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/list-style/"
      
    >
      List style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-align/"
      
    >
      Text align
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-colour/"
      
    >
      Text colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-overflow/"
      
    >
      Text overflow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-transform/"
      
    >
      Text transform
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/word-break/"
      
    >
      Word break
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Spacing"
      open-trigger="Spacing"
      
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/margin/"
      
    >
      Margin
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/padding/"
      
    >
      Padding
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Flexbox and grid"
      open-trigger="Flexbox and grid"
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-content/"
      
    >
      Align content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-items/"
      
    >
      Align items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-self/"
      
    >
      Align self
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex/"
      
    >
      Flex
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-direction/"
      
    >
      Flex direction
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-grow/"
      
    >
      Flex grow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-shrink/"
      
    >
      Flex shrink
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-wrap/"
      
    >
      Flex wrap
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/gap/"
      
    >
      Gap
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/grid-columns/"
      
    >
      Grid columns
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/grid-rows/"
      
    >
      Grid rows
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-content/"
      
    >
      Justify content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-items/"
      
    >
      Justify items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-self/"
      
    >
      Justify self
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/order/"
      
    >
      Order
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-content/"
      
    >
      Place content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-items/"
      
    >
      Place items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-self/"
      
    >
      Place self
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Background and border"
      open-trigger="Background and border"
      
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/background-colour/"
      
    >
      Background colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-colour/"
      
    >
      Border colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-radius/"
      
    >
      Border radius
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-style/"
      
    >
      Border style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-width/"
      
    >
      Border width
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Icon and image"
      open-trigger="Icon and image"
      
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/icon-names/"
      
    >
      Icon names
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/icon-size/"
      
    >
      Icon size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/image/"
      
    >
      Image
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Interactive"
      open-trigger="Interactive"
      
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/cursor/"
      
    >
      Cursor
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/pointer-events/"
      
    >
      Pointer events
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/transition/"
      
    >
      Transition
    </gcds-nav-link>
  
</gcds-nav-group>
  
</gcds-nav-group>

  

  <gcds-nav-group
    menu-label="Styles"
    open-trigger="Styles"
    
  >
    <gcds-nav-link href="/en/styles">Styles overview</gcds-nav-link>
    <gcds-nav-link href="/en/styles/design-tokens" >Design tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/colour" >Colour tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/spacing" >Spacing tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/typography" >Typography tokens</gcds-nav-link>
  </gcds-nav-group>

  

  <gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
    
  
    
  
    
  
    
  
  >
    <gcds-nav-link href="/en/contact" >Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved" >Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo" >Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-side-nav>
        <main id="mc" class="general-layout" data-pagefind-body>
          
  
    <h1 id="date-input-brgcdsdateinput">Date input <br><code>&lt;gcds-date-input&gt;</code></h1>
<p><em>Also called: dates, dateinput, date, memorable date.</em></p>
<p>A date input is a space to enter a known date.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-date-input">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/community/file/1128687821123298228">
Figma
</gcds-link>
</li>
</ul></p>
<p><div class="my-600 b-sm b-default component-preview">
<h2 class="container-full font-text font-semibold m-0 px-225 py-150 bb-sm b-default bg-light">
Date input component preview
</h2>
<div>
<iframe
            title="Date input component preview"
            src="/en/components/date-input/preview/"
            style="display: block; margin: 0 auto;"
            frameBorder="0"
            width="100%"
            id="component-preview"
          ></iframe>
</div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/date-input/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/date-input/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/date-input/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="date-input-anatomy">Date input anatomy</h2>
<ol class="anatomy-list">
  <li>The <strong>fieldset legend</strong> states the information a person should enter in the date input field. Text is left-aligned and in sentence case (only the initial letter is capitalized). For the date input component, the fieldset is typically labelled as "date" or with the specific date type sought. The hint text shows the format of the date.</li>
  <li>The <strong>month label</strong> identifies the month select field.</li>
  <li>The <strong>month select field</strong> field provides a predefined, chronological list of months for a person to select from.</li>
  <li>The <strong>day label</strong> identifies the day input.</li>
  <li>The <strong>day input</strong> field can be 1 or 2 digits.</li>
  <li>The <strong>year label</strong> identifies the year input field.</li>
  <li>The <strong>year input</strong> field is limited to 4 digits.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-date-input-anatomy.svg" alt="A date input anatomy represented by 6 elements: the fieldset legend, the month label, the month select field, the day label, the day input field, the year label, and the year input field." />
<h2 id="design-and-accessibility-for-date-inputs">Design and accessibility for date inputs</h2>
<h3 id="support-task-success-with-hint-text">Support task success with hint text</h3>
<p>Use the hint text in the fieldset legend to help a person understand the format they can use to enter the date. For example, showing a single digit number without a leading zero, like September 7, rather than September 07 shows that a leading zero is not needed.</p>
<h3 id="write-specific-error-messages">Write specific error messages</h3>
<p>Write error messages for each field of the date input. Error messages must provide information on what is missing or on incorrect formatting. For example, if the year was input using 2 digits, state that the year should be 4 digits.</p>


  <section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
    target="_blank"
    rel="noopener noreferrer"
  >
    Report an issue on GitHub
  </gcds-button>
</section>



          <gcds-date-modified class="mb-300">
            2025-10-24
          </gcds-date-modified>
        </main>
      </gcds-grid>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
