<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Implementing a Button for Design FR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "/alpha-design-system-documentation/components/loader/index.es2017.js";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="/alpha-design-system-documentation/components/dist/gcds/gcds.css">
        <link rel="stylesheet" href="/alpha-design-system-documentation/styles/prism.css">

    </head>
    <body>
        <gcds-button
        type="link"
        task="skip-to-content"
        href="#content"
        >
        Passer au contenu principal
        </gcds-button>

        
<header>
    <div  lang="en">
        
        
        <ul>

        
        

        
        

        
        

            
            

        

            
            

        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-design-system-documentation/en/components/basic/buttons/design/">English</a>
        </li>

        

        
        
        

        
        

        
        

        </ul>
        
    </div>

    


<gcds-site-menu menu-alignment="right">
 <span slot="left">Design system FR</span>
<ul>
    <li>
    
        <a href="/alpha-design-system-documentation/fr/">Home</a>
    </li>

    <li>
    
        <a href="/alpha-design-system-documentation/fr/components/">Component and Pattern Inventory FR</a>
    <ul>
            
    <li>
    
        <a href="/alpha-design-system-documentation/fr/components/boutons/">Boutons</a>
    </li>

        </ul></li>
</ul>
</gcds-site-menu>


    

</header>

        

        <main id="content">
            <h1 id="concevoir-les-boutons" tabindex="-1">Concevoir les boutons <a class="direct-link" href="#concevoir-les-boutons">#</a></h1>
<p>Un bouton est un objet intéractif qui souligne un action important ou fréquent pour la personne utilisant votre produit.</p>
<h2 id="choisir-une-t%C3%A2che-de-bouton" tabindex="-1">Choisir une tâche de bouton <a class="direct-link" href="#choisir-une-t%C3%A2che-de-bouton">#</a></h2>
<p>[visual examples]</p>
<p>Les tâches de boutons ont une fonction et un aspect distinct.</p>
<p><strong>Principal</strong>:  Pour l’action la plus importante envers laquelle vous guider une personne, pour les actions critiques qui font partie d’un flow ou pour l’action par défaut. Plus d’un appel à l’action dans la même page réduit l’impact de votre message et le rend difficil de reconnaitre la prochaine étape.</p>
<p><strong>Secondaire</strong>: Pour des actions ultérieures. Souligne une action importante, usuel pour la personne qui utilise votre produit.</p>
<p><strong>Passer au contenu</strong>:</p>
<p><strong>Danger</strong>: Pour signaller une action finale ou destructive, comme supprimer.</p>
<p>Text only:  For use in an application or similar web product. A link styled as a button for prominence or balance.  To avoid on a website.
Danger: For signalling a final or destructive action like a deletion.</p>
<br />
<h2 id="les-variants-de-t%C3%A2ches" tabindex="-1">Les variants de tâches <a class="direct-link" href="#les-variants-de-t%C3%A2ches">#</a></h2>
<p>[visual examples]</p>
<p><strong>Text only</strong>: For use in an application or similar web product. A link styled as a button for prominence of balance. To avoid on a website.</p>
<p><strong>Outline</strong>: For button groups, to distinguish actions.</p>
<h2 id="button-grid" tabindex="-1">Button grid <a class="direct-link" href="#button-grid">#</a></h2>
<p>[visual button sizes]
say what each are for</p>
<h2 id="button-interaction-states" tabindex="-1">Button interaction states <a class="direct-link" href="#button-interaction-states">#</a></h2>
<p>[visual examples]</p>
<p><strong>Hover</strong>: the button is selected.</p>
<p><strong>Active</strong>: the button has been engaged.</p>
<p><strong>Focus</strong>: a visual marker, usually as an outline or colour change that shows where the user is at on the page. (Browsers provide focus states by default but they are often hard to see.)</p>
<p><strong>Disabled</strong> and disabled alternative: the button is invalid or unattainable.</p>
<br/>
<h2 id="make-your-buttons-usable" tabindex="-1">Make your buttons usable <a class="direct-link" href="#make-your-buttons-usable">#</a></h2>
<h3 id="labels" tabindex="-1">Labels <a class="direct-link" href="#labels">#</a></h3>
<p>Think of the label as a sign that situates someone using your product. State the button’s specific action in the fewest number of words possible, using sentence case. Labels that are vague or closely resemble other labels make it difficult for someone to acccomplish their task.</p>
<h3 id="icons" tabindex="-1">Icons <a class="direct-link" href="#icons">#</a></h3>
<p>When there’s an icon, align button text to the left.  Only use an icon without text if it’s universally recognized. If it’s universal, you can point to many different web contexts that use the icon (like the gear symbol for settings). Always include descriptive alt text for icons and images.</p>
<h3 id="background-and-border" tabindex="-1">Background and border <a class="direct-link" href="#background-and-border">#</a></h3>
<p>Consider the visibility of the button of the button and border in relation to the surface where you’re placing it.</p>
<br/>
<h2 id="make-your-buttons-accessible" tabindex="-1">Make your buttons accessible <a class="direct-link" href="#make-your-buttons-accessible">#</a></h2>
<h3 id="auditory" tabindex="-1">Auditory <a class="direct-link" href="#auditory">#</a></h3>
<p>Use descriptive text for any icons or images on button. Use descriptive text for any icons or images on button.</p>
<p>Avoid repeating button label text within the same page. A person browsing buttons will hear the label text in rapid succession without cues to tell which button is for which action.</p>
<h3 id="cognitive" tabindex="-1">Cognitive <a class="direct-link" href="#cognitive">#</a></h3>
<p>Regular and predictable button placement helps someone find their way through your product and lets them reflect their intent in their actions.</p>
<p>Avoid closely resembling language constructions across buttons, like sign up and sign in. Avoid using common verb phrases that are unfamiliar to non-fluent speakers, like sign up where the “up” has no meaning in relation to the action.</p>
<h3 id="physical" tabindex="-1">Physical <a class="direct-link" href="#physical">#</a></h3>
<p>In your buton placement, consider helping someone to avoid scrolling, tabbing, or typing by providing the path to the next action early.</p>
<h3 id="visual" tabindex="-1">Visual <a class="direct-link" href="#visual">#</a></h3>
<p>Ensure colour contrast. Use built in or custom hover state.</p>
<br/>
<h2 id="integrating-the-figma-component" tabindex="-1">Integrating the Figma component <a class="direct-link" href="#integrating-the-figma-component">#</a></h2>
<p>how to integrate</p>

        </main>

        <footer>
    <br/>

    <ul>
    
        
    
    </ul>
</footer>
    </body>
</html>
