.anatomy-list {
  counter-reset: item;
  margin-block-end: var(--gcds-spacing-450);

  > li {
    position: relative;
    max-width: 65ch;
    counter-increment: item;
    margin-block-end: var(--gcds-spacing-300);
    padding-inline-start: var(--gcds-spacing-450);

    &:before {
      position: absolute;
      left: 0;
      display: inline-block;
      width: var(--gcds-spacing-350);
      height: var(--gcds-spacing-350);
      font: var(--gcds-font-text-small);
      text-align: center;
      content: counter(item);
      margin-inline-end: var(--gcds-spacing-150);
      background: #c54600;
      color: var(--gcds-text-light);
      border-radius: var(--gcds-border-radius-xl);
    }
  }

  ul {
    list-style: disc;
    margin-inline-start: var(--gcds-spacing-750);
  }
}
