.check-list > li {
  position: relative;
  max-width: var(--gcds-text-character-limit);
  counter-increment: item;
  padding-inline-start: var(--gcds-spacing-300);

  &:before {
    font-family: var(--gcds-font-families-icons) !important;
    position: absolute;
    left: 0;
    display: inline-block;
    content: '\e908';
  }
}
