// TODO: Remove font-face after icon update has been released
@font-face {
  font-family: "gcds-icons";
  src: url("https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-fonts@0.2.2/icons/gcds-icons.eot");
  src: url("https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-fonts@0.2.2/icons/gcds-icons.eot#iefix")
      format("embedded-opentype"), url("https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-fonts@0.2.2/icons/gcds-icons.ttf")
      format("truetype"),
    url("https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-fonts@0.2.2/icons/gcds-icons.woff")
      format("woff"), url("https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-fonts@0.2.2/icons/gcds-icons.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.check-list > li {
  position: relative;
  max-width: var(--gcds-text-character-limit);
  counter-increment: item;
  padding-inline-start: var(--gcds-spacing-300);

  &:before {
    // TODO: Use icon family token once released
    font-family: "gcds-icons" !important;
    position: absolute;
    left: 0;
    display: inline-block;
    content: "\e908";
  }
}
