/*
 * Code showcase
 */

.code-showcase {
  .showcase {
    width: 100%;
    background-color: #262626;

    &[aria-hidden='true'] {
      display: block;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
    }

    &[aria-hidden='false'] {
      margin-top: calc(-1 * var(--gcds-spacing-300));
    }
  }

  gcds-button {
    margin: 0 var(--gcds-spacing-225) 0 0;
  }

  .code-copy {
    display: none;
    visibility: hidden;
  }
}
