/*
 * Code showcase
 */

.code-showcase {
  .showcase {
    background-color: #262626;

    &[aria-hidden="true"] {
      display: block;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    &[aria-hidden="false"] {
      margin-top: calc(-1 * var(--gcds-spacing-400));
    }

    code {
      background-color: transparent;
      color: var(--gcds-text-light);
    }
  }

  gcds-button {
    margin: 0 var(--gcds-spacing-300) 0 0;
  }

  .code-copy {
    display: none;
    visibility: hidden;
  }
}
