.component-preview {
  p {
    margin-block-end: var(--gcds-spacing-0);
  }

  div > p {
    max-width: none;
  }

  &__expanded-topic-menu {
    height: 62.5rem;
  }

  &__expanded-dropdown-menu {
    height: 31.25rem;
  }
}
