.component-preview-box a {
  height: 100%;
  border: var(--gcds-border-width-md) solid transparent;
  transition: all 0.35s;

  &:hover {
    border-color: var(--gcds-border-default);

    .text-secondary {
      color: inherit;
    }
  }

  &:focus {
    background-color: var(--gcds-focus-background);
    outline: var(----gcds-outline-width) solid var(--gcds-focus-background);
    outline-offset: var(--gcds-border-width-md);

    .text-secondary {
      color: var(--gcds-focus-text);
    }
  }
}
