.table-overflow {
  @media (max-width: 64rem) {
    max-width: var(--gcds-container-full);
    overflow-x: scroll;
    box-shadow:
      inset calc(-1 * var(--gcds-border-width-xl)) 0 0
        var(--gcds-color-grayscale-25),
      inset var(--gcds-border-width-xl) 0 0 var(--gcds-color-grayscale-25);
  }
}

table {
  text-align: left;
  width: var(--gcds-container-full);

  .table-overflow & {
    min-width: var(--gcds-container-md);
    box-shadow:
      inset calc(-1 * var(--gcds-border-width-xl)) 0 0
        var(--gcds-color-grayscale-0),
      inset var(--gcds-border-width-xl) 0 0 var(--gcds-color-grayscale-0);
  }

  tr {
    vertical-align: baseline;
  }

  thead tr {
    border-block-end: var(--gcds-border-width-md) solid
      var(--gcds-border-default);
  }

  tbody tr {
    border-block-end: var(--gcds-border-width-sm) solid
      var(--gcds-border-default);
  }

  td,
  th {
    padding: var(--gcds-spacing-225) var(--gcds-spacing-175);

    &:first-child {
      padding-inline-start: 0;
    }

    &:last-child {
      padding-inline-end: 0;
    }
  }

  th {
    font-weight: var(--gcds-font-weights-bold);
    padding-block-start: 0;
  }

  // Special cells
  .color-preview {
    width: var(--gcds-spacing-600);
    height: var(--gcds-spacing-600);
    margin-block-start: calc(-1 * var(--gcds-spacing-150));
    border-radius: var(--gcds-spacing-600);
  }

  .spacing-preview {
    background-color: var(--gcds-color-blue-600);
  }
}

// Column width templates
.table-display-token-color {
  tr {
    vertical-align: top;
  }

  td {
    padding-block: calc(var(--gcds-spacing-225) + var(--gcds-spacing-150));
  }

  th:nth-child(1) {
    width: var(--gcds-spacing-600);
  }

  th:nth-child(2) {
    width: 30%;
  }

  th:nth-child(4) {
    width: 7ch;
  }

  th:nth-child(5) {
    width: 35%;
  }
}

.table-base-colors {
  th:nth-child(2) {
    width: 40%;
  }

  th:nth-child(4) {
    width: 7ch;
  }

  th:nth-child(5) {
    display: none;
  }
}

.table-display-token-typography,
.table-display-token-fontFamilies,
.table-display-token-fontWeights {
  th {
    width: 30%;
    min-width: 13.125rem;
  }

  th:nth-child(3) {
    width: 40%;
  }
}

.table-display-token-typography {
  tr.row-label,
  tr.row-textLong {
    display: none;
  }
}

.table-display-token-fontFamilies {
  .row-icons {
    display: none;
  }
}

.table-display-token-dimension {
  margin-block-end: var(--gcds-spacing-900);

  tr {
    vertical-align: top;
  }
}
