nav.tabs {
  ul {
    list-style: none;
    margin-inline-start: 0;
    width: var(--gcds-container-full);
    display: flex;
    background-color: var(--gcds-color-grayscale-0);
    gap: var(--gcds-spacing-100);
    flex-wrap: wrap;
    padding-block-start: var(--gcds-spacing-100);
    padding-inline: var(--gcds-spacing-100);
    border-bottom: var(--gcds-border-width-md) solid
      var(--gcds-color-grayscale-100);
  }

  a {
    display: block;
    border-radius: var(--gcds-button-border-radius)
      var(--gcds-button-border-radius) 0 0;
    padding: var(--gcds-spacing-150);
    color: var(--gcds-text-default);

    &[aria-current="page"] {
      background-color: var(--gcds-color-grayscale-0);
      border: var(--gcds-border-width-md) solid var(--gcds-color-grayscale-100);
      border-bottom: 0 solid var(--gcds-color-grayscale-0);
      box-shadow: 0 var(--gcds-border-width-xl) 0
        calc(var(--gcds-border-width-md) * -1) var(--gcds-color-grayscale-0);
      text-decoration: none;
    }

    &:hover {
      background-color: var(--gcds-color-grayscale-50);
    }

    &:focus {
      border-radius: 0;
      background-color: var(--gcds-focus-background);
      color: var(--gcds-focus-text);
      text-decoration: none;
    }
  }
}
