<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Select component preview - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/gcds-docs/styles/style.css">

    <!-- GCDS CSS Shortcuts -->
    <link rel="stylesheet" href="/gcds-docs/gcds-css-shortcuts.min.css" />

    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>

    <script src="/gcds-docs/scripts/component-preview-iframe.js"></script>
  </head>
  <body class="overflow-visible box-border px-225 py-300">
    
<gcds-select select-id="select-preview" label="Label" hint="Hint / Example message." default-value="Select option">
  <option>Option 1</option>
  <option>Option 2</option>
  <option>Option 3</option>
  <option>Option 4</option>
  <option>Option 5</option>
  <option>Option 6</option>
  <option>Option 7</option>
  <option>Option 8</option>
</gcds-select>

  </body>
</html>
