<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Components</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "/alpha-design-system-documentation/components/loader/index.es2017.js";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="/alpha-design-system-documentation/variables/variables.css">

    </head>
    <body>
        
<header>
    <h2>French header</h2>

    <section  lang="en">
        
        
        <ul>

        
        

        
        

        
        

            
            

        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-design-system-documentation/en/components/">English</a>
        </li>

        

        
        
        

        
        

        
        

        </ul>
        
    </section>
</header>

        <section>
Design system FR

<nav>

    

    

    <ul><li>
    <a href="/alpha-design-system-documentation/fr/">Home</a></li><li>
    <a href="/alpha-design-system-documentation/fr/get-started/">Get started FR</a></li><li class="my-active-class">
    <a href="/alpha-design-system-documentation/fr/components/">Components Fr</a><ul>
            
        
            <li>
    <a href="/alpha-design-system-documentation/fr/components/alerts/">Alerts FR</a></li>
        </ul></li></ul>
</nav>
</section>

        <main>
            <h1 id="look-at-all-the-components" tabindex="-1">Look at all the components <a class="direct-link" href="#look-at-all-the-components">#</a></h1>

        </main>

        <footer>
    <h2>French footer</h2>
</footer>
    </body>
</html>
