<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Components - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  


<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/'
>
  



<gcds-top-nav slot="menu" label="Main" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/foundations/"
      
    >
      Foundations
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      current
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
  </gcds-breadcrumbs>

</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout">
        
<h1 id="components" class="mb-400">Components</h1>
<p class="mb-400">GCDS components are user interface building blocks that address different user objectives. Each comes with reusable code, best practice advice, and accessibility tips.</p>
<p class="mb-400">We're sharing components as we build them.</p>
<h2 id="component-tags" class="mt-500 mb-400">Component tags</h2>
<p class="mb-400">Core components help you meet federal identity standards for the Government of Canada in any product.</p>
<p class="mb-400">Experimental components point out new features we're trying out and think you might like to use.</p>





  


<div class="bg-light my-500 p-400">
  <gcds-grid tag="ul" columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" gap="400">
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/breadcrumbs/>
        
          <h3>Breadcrumbs</h3>
          <div class="flex-1 mt-150 pt-250 mb-250 pb-250 by-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: breadcrumb trail.</em></small>
              </p>
            
            <p class="mb-150">A path to the current page from each preceding level of the site&#39;s hierarchy.</p>
            <img src="/images/common/components/preview-breadcrumbs.svg" alt="Two gray boxes with navy blue underlines with an arrow between them. These boxes represent breadcrumb links." />
          </div>
          
            <span class="font-caption bg-black text-light align-self-start px-150 py-50 b-radius-lg">
              Core
            </span>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/button/>
        
          <h3>Button</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: call to action, CTA, link.</em></small>
              </p>
            
            <p class="mb-150">An interactive object that highlights an action.</p>
            <img src="/images/en/components/preview/preview-button.svg" alt="Button shows a dark blue box with a button and an arrow inside." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/card/>
        
          <h3>Card</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: tile, content card</em></small>
              </p>
            
            <p class="mb-150">A box containing structured, actionable content on a single topic.</p>
            <img src="/images/common/components/preview-card.svg" alt="This is an image of the component" />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/checkbox/>
        
          <h3>Checkbox</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: checklist.</em></small>
              </p>
            
            <p class="mb-150">An option or set of options where any of the available boxes can be selected.</p>
            <img src="/images/common/components/preview-checkbox.svg" alt="Checkbox shows 3 checkboxes, the first one has a white box with a checkmark beside two dark grey long rectangular boxes indicating text followed by two empty checkboxes. They are white boxes with a black border and two grey long rectangular boxes indicating text." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/container/>
        
          <h3>Container</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: wrapper, box.</em></small>
              </p>
            
            <p class="mb-150">A container is a basic box layout with a set width for its contents.</p>
            <img src="/images/common/components/preview-container.svg" alt="A rectangle with a border surrounding grey rectangles representing content." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/date-modified/>
        
          <h3>Date modified</h3>
          <div class="flex-1 mt-150 pt-250 mb-250 pb-250 by-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: last updated, version date.</em></small>
              </p>
            
            <p class="mb-150">A timestamp of the last page update.</p>
            <img src="/images/common/components/preview-date-modified.svg" alt="Date Modified showing timestamp of the last page update." />
          </div>
          
            <span class="font-caption bg-black text-light align-self-start px-150 py-50 b-radius-lg">
              Core
            </span>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/details/>
        
          <h3>Details</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: accordion, collapse.</em></small>
              </p>
            
            <p class="mb-150">An interactive switch to expand or collapse content.</p>
            <img src="/images/common/components/preview-details.svg" alt="Details shows dark grey box with a triangle arrow pointing down to show the content is expanded, followed by dark grey boxes indicating text." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/error-message/>
        
          <h3>Error message</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: inline error.</em></small>
              </p>
            
            <p class="mb-150">A description of a problem blocking a user goal.</p>
            <img src="/images/common/components/preview-error-message.svg" alt="Error message component shows a light red box with a red box representing text." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/error-summary/>
        
          <h3>Error summary</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: error overview.</em></small>
              </p>
            
            <p class="mb-150">A list of user errors on a page or in a flow.</p>
            <img src="/images/common/components/preview-error-summary.svg" alt="Error Summary component shows a red outlined box with two big cascading grey boxes and three bulleted grey small boxes indicating text." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/fieldset/>
        
          <h3>Fieldset</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: form field.</em></small>
              </p>
            
            <p class="mb-150">A group of multiple form elements.</p>
            <img src="/images/common/components/preview-fieldset.svg" alt="Fieldset component shows a grouping of multiple form elements. One is a text input field and the other is a select box. The grouping has a larger box above them which represents a fieldset legend." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/file-uploader/>
        
          <h3>File uploader</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: file input, dropzone.</em></small>
              </p>
            
            <p class="mb-150">A file selector for document transfer.</p>
            <img src="/images/en/components/preview/preview-file-uploader.svg" alt="File uploader component shows grey boxes indicating text with a choose file button, below is an uploaded file and a red remove button to remove the uploaded file." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/footer/>
        
          <h3>Footer</h3>
          <div class="flex-1 mt-150 pt-250 mb-250 pb-250 by-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: site footer.</em></small>
              </p>
            
            <p class="mb-150">The Government of Canada branded footer landmark.</p>
            <img src="/images/common/components/preview-footer.svg" alt="Core Footer component shows blue box showing the way text would be filled, at the bottom there is a government of Canada logo." />
          </div>
          
            <span class="font-caption bg-black text-light align-self-start px-150 py-50 b-radius-lg">
              Core
            </span>
          
        
        </a>
        
      </li>
    
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/header/>
        
          <h3>Header</h3>
          <div class="flex-1 mt-150 pt-250 mb-250 pb-250 by-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: global header.</em></small>
              </p>
            
            <p class="mb-150">The Government of Canada branded header landmark.</p>
            <img src="/images/common/components/preview-header.svg" alt="Header component shows three banners layered on top of each other where the first one, the phase banner a dark blue box with white outlined box representing the phase of the site followed by a light blue box representing text explaining the phase. The second banner shows the federal identity composed of the Canada flag with boxes representing the text, followed by a grey box underlined in blue representing the language toggle. The last banner shows the site menu displayed by a large grey box, that has a dark blue box and 2 grey boxes representing the menu links." />
          </div>
          
            <span class="font-caption bg-black text-light align-self-start px-150 py-50 b-radius-lg">
              Core
            </span>
          
        
        </a>
        
      </li>
    
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/input/>
        
          <h3>Input</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: text input, text field.</em></small>
              </p>
            
            <p class="mb-150">A space to enter short-form information.</p>
            <img src="/images/common/components/preview-input.svg" alt="Input component shows two cascading greyed boxes above a blank text input field with a cursor icon in it. The boxes represent the input&#39;s label and hint message." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/language-toggle/>
        
          <h3>Language toggle</h3>
          <div class="flex-1 mt-150 pt-250 mb-250 pb-250 by-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: language toggle link.</em></small>
              </p>
            
            <p class="mb-150">A switch for displaying either French or English site content.</p>
            <img src="/images/common/components/preview-lang-toggle.svg" alt="Language toggle component shows FR for French icon double ended arrows to EN for English." />
          </div>
          
            <span class="font-caption bg-black text-light align-self-start px-150 py-50 b-radius-lg">
              Core
            </span>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/pagination/>
        
          <h3>Pagination</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: page index, page navigation</em></small>
              </p>
            
            <p class="mb-150">A page selector for a range of pages.</p>
            <img src="/images/common/components/preview-pagination.svg" alt="Pagination component shows pagination with grey boxes and one dark navy blue box to indicate the page selected sandwhiched by a left arrow and right arrow to allow for previous and next navigation. The boxes are separated by an ellipsis." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/radio/>
        
          <h3>Radio</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: radio button, radio group.</em></small>
              </p>
            
            <p class="mb-150">A short set of options for single selection.</p>
            <img src="/images/common/components/preview-radio.svg" alt="Radio component shows radio selection with black outlined circle with a black circle selected followed by unselected two options." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/select/>
        
          <h3>Select</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: dropdown, select menu.</em></small>
              </p>
            
            <p class="mb-150">A list of options with a single-option choice.</p>
            <img src="/images/common/components/preview-select.svg" alt="Select component shows two cascading greyed boxes above a select box. The select box is a box with a down arrow to indicate it will expand downwards. The boxes represent the input&#39;s label and hint message." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/side-navigation/>
        
          <h3>Side navigation</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: sidebar menu, lefhand nav, vertical navigation</em></small>
              </p>
            
            <p class="mb-150">A side navigation is a vertical list of page links on the left side of the screen.</p>
            <img src="/images/common/components/preview-side-nav.svg" alt="Side navigation shows a vertical site navigation with grey boxes on top of eachother, the second last highlighted in blue to show selection." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/signature/>
        
          <h3>Signature</h3>
          <div class="flex-1 mt-150 pt-250 mb-250 pb-250 by-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: GC signature.</em></small>
              </p>
            
            <p class="mb-150">A corporate identity marker for the Government of Canada.</p>
            <img src="/images/common/components/preview-signature.svg" alt="Signature component shows Canadian Flag and grey boxes where signature text would be." />
          </div>
          
            <span class="font-caption bg-black text-light align-self-start px-150 py-50 b-radius-lg">
              Core
            </span>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/stepper/>
        
          <h3>Stepper</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: progress indicator, steps.</em></small>
              </p>
            
            <p class="mb-150">A progress tracker for a multi-step process.</p>
            <img src="/images/en/components/preview/preview-stepper.svg" alt="Stepper component shows steps, Step 1 of 4 below there is grey box representing the title of the page." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/textarea/>
        
          <h3>Textarea</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: textbox.</em></small>
              </p>
            
            <p class="mb-150">A space to enter long-form information.</p>
            <img src="/images/common/components/preview-textarea.svg" alt="Text area component shows two cascading grey boxes followed by a large box spanning multiple lines in height and a cursor to show this is a textarea. The two gray boxes represent the textarea&#39;s label and hint message." />
          </div>
          
        
        </a>
        
      </li>
    
    
      <li class="list-none bg-white  component-preview-box">
        
        <a class="d-flex flex-col link-inherit link-no-underline p-400" href=/en/components/top-navigation/>
        
          <h3>Top navigation</h3>
          <div class="flex-1 mt-150 pt-250 bt-sm">
            
              <p class="mb-150 text-secondary">
                <small><em>Other names: site menu, navigation, navbar</em></small>
              </p>
            
            <p class="mb-150">A top navigation is a horizontal list of page links.</p>
            <img src="/images/common/components/preview-top-nav.svg" alt="Top navigation shows site navigation with a dark blue box followed by two greyed boxes, the last having a dark blue line underneath to show selection." />
          </div>
          
        
        </a>
        
      </li>
    
    </gcds-grid>
</div>


  
  
  


<section class="pt-100 mt-400">
  <h2 class="mt-300 mb-400">
    Looking for another component?
  </h2>

  <p class="mb-400">
    Share your feedback with us to help improve GC Design System or you can check out what's coming soon.
  </p>

  <ul class="mb-600">
    <li class="md:d-inline sm:d-block me-200">
      <gcds-button
        type="link"
        button-role="primary"
        href="/en/contact/#contact-us"
      >
        Give feedback
      </gcds-button>
    </li>

    <li class="md:d-inline sm:d-block mt-150 md:mt-0">
      <gcds-button
        type="link"
        button-role="secondary"
        href="/en/coming-soon/"
        lang="en"
      >
        Go to Coming soon
      </gcds-button>
    </li>
  </ul>
</section>

        <gcds-date-modified class="mb-400 font-caption">
          2023-08-31
        </gcds-date-modified>
      </main>

      <gcds-footer
        display="compact"
        lang="en"
      ></gcds-footer>

      
    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
