<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Components - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/en">GC Design System</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      current
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/"
      
    >
      Page templates
    </gcds-nav-link>
  
<gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
  >
    <gcds-nav-link href="/en/contact">Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved">Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo">Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-600 px-225 general-layout" >
        
<h1 id="components">Components</h1>
<p>GC Design System components are user interface building blocks that address different user objectives. Each comes with reusable code, best practice advice, and accessibility tips.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/design/mh2maMG2NBtk41k1O1UGHV/GC-Design-System?t=PG2QugKV1npEMJX5-0">Figma</gcds-link>
</li>
</ul></p>
<h2 id="browse-components">Browse components</h2>
<p>We're sharing components as we build them.</p>





  



  <div class="my-600">
    <gcds-grid tag="ul" columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr">
      
      
        <gcds-card
          card-title="Breadcrumbs"
          href="/en/components/breadcrumbs/"
          card-title-tag="h3"
          badge="Canada.ca required"
          img-src="/images/common/components/preview-breadcrumbs.svg"
          img-alt="Two thick grey lines with a chevron between them represent breadcrumb links."
          role="listitem"
        >
          <gcds-text >A path to the current page from each preceding level of the site&#39;s hierarchy.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: breadcrumb trail.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Button"
          href="/en/components/button/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-button.svg"
          img-alt="A dark blue box with a white box inside of it represents a button with a label."
          role="listitem"
        >
          <gcds-text >An interactive object that emphasizes an action.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: call to action, CTA.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Card"
          href="/en/components/card/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-card.svg"
          img-alt="The card component shows a box containing a rectangular image in the top half. Immediately below is a blue rectangular bar running across three quarters of the box representing the card title. Two longer grey bars are stacked just below the blue bar, representing the card description and context area/metadata sections."
          role="listitem"
        >
          <gcds-text >A box containing structured, actionable content on a single topic.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: tile, content card</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Checkbox"
          href="/en/components/checkbox/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-checkbox.svg"
          img-alt="A column of three checkboxes, each with thin grey border and white fill beside a thick grey line to represent the label. Two of the three boxes have a checkmark."
          role="listitem"
        >
          <gcds-text >An option or set of options where any of the available boxes can be selected.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: checklist.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Container"
          href="/en/components/container/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-container.svg"
          img-alt="A rectangle with a border surrounding grey rectangles representing content."
          role="listitem"
        >
          <gcds-text >A container is a basic box layout with a set width for its contents.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: wrapper, box.</em>
            </gcds-text>
          
        </gcds-card>
      
      
      
        <gcds-card
          card-title="Date input"
          href="/en/components/date-input/"
          card-title-tag="h3"
          badge=""
          img-src="/images/en/components/preview/preview-date-input.svg"
          img-alt="Thick grey lines at the top represent the legend and hint text. A white box with a thin grey border and a grey line and grey arrow inside of it represents the select input for the month. Beside this are two smaller white boxes with thin grey outlines representing the text inputs for the day and year."
          role="listitem"
        >
          <gcds-text >A date input is a space to enter a known date.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: dates, dateinput, date, memorable date.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Date modified"
          href="/en/components/date-modified/"
          card-title-tag="h3"
          badge="Canada.ca required"
          img-src="/images/common/components/preview-date-modified.svg"
          img-alt="A thick grey line, above a representation the page footer, represents the last page update text."
          role="listitem"
        >
          <gcds-text >A timestamp of the last page update.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: last updated, version date.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Details"
          href="/en/components/details/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-details.svg"
          img-alt="A thick dark blue line with a triangle arrow pointing down to a dark grey vertical line represents the open details component. Two thick light grey lines stacked underneath the blue line represent lines of text."
          role="listitem"
        >
          <gcds-text >An interactive switch to expand or collapse content.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: accordion, collapse.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Error message"
          href="/en/components/error-message/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-error-message.svg"
          img-alt="Error message text represented by a warning icon (white exclamation mark within a red triangle) next to a red rounded rectangle."
          role="listitem"
        >
          <gcds-text >A description of a problem blocking a user goal.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: inline error.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Error summary"
          href="/en/components/error-summary/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-error-summary.svg"
          img-alt="A red rectangle holds one thick grey line above a stack of three smaller thick red lines representing a heading and links."
          role="listitem"
        >
          <gcds-text >A list of user errors on a page or in a flow.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: error overview.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Fieldset"
          href="/en/components/fieldset/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-fieldset.svg"
          img-alt="A stack of thick lines represents multiple form elements, with grey lines for labels and white boxes for form fields."
          role="listitem"
        >
          <gcds-text >A group of multiple form elements.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: form field.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="File uploader"
          href="/en/components/file-uploader/"
          card-title-tag="h3"
          badge=""
          img-src="/images/en/components/preview/preview-file-uploader.svg"
          img-alt="Two thick grey lines represent text above a choose file button."
          role="listitem"
        >
          <gcds-text >A file selector for document transfer.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: file input, dropzone.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Footer"
          href="/en/components/footer/"
          card-title-tag="h3"
          badge="Canada.ca required"
          img-src="/images/common/components/preview-footer.svg"
          img-alt="Footer component shows blue box showing the way text would be filled, at the bottom there is a government of Canada logo."
          role="listitem"
        >
          <gcds-text >The Government of Canada branded footer landmark.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: site footer.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Grid"
          href="/en/components/grid/"
          card-title-tag="h3"
          badge="Experimental"
          img-src="/images/common/components/preview-grid.svg"
          img-alt="Three columns, separated by two dotted lines, hold thick grey lines representing text."
          role="listitem"
        >
          <gcds-text >A grid is a responsive, flexible column layout to position elements on a page.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: layout, columns, columns layout, grid container.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Header"
          href="/en/components/header/"
          card-title-tag="h3"
          badge="Canada.ca required"
          img-src="/images/common/components/preview-header.svg"
          img-alt="Three horizontal banners stacked on top of each other. The first is a grey banner with three dots on the left, representing a browser banner. The second is a dark blue banner with a white outline representing a phase banner. The third is white banner holding a Canada flag and two stacked, thick grey lines that represent lines of text."
          role="listitem"
        >
          <gcds-text >The Government of Canada branded header landmark.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: global header.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Heading"
          href="/en/components/heading/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-heading.svg"
          img-alt="An abstract representation of a large, prominent line of text using 1 larger, darker rectangular row above a short red line. Beneath these are 3 smaller grey rectangular rows stacked one on top of another, representing text."
          role="listitem"
        >
          <gcds-text >A heading is a title that establishes levels of hierarchy to organize page content into a structure.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: title, section heading, subheading.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Icon"
          href="/en/components/icon/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-icon.svg"
          img-alt="Four symbols: An envelope, a magnifying class, a phone, and an arrow pointing down towards a horizontal line."
          role="listitem"
        >
          <gcds-text >A symbol that represents an action or idea.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: symbol, glyph, graphic.</em>
            </gcds-text>
          
        </gcds-card>
      
      
      
        <gcds-card
          card-title="Input"
          href="/en/components/input/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-input.svg"
          img-alt="Input component shows two cascading greyed boxes above a blank text input field with a cursor icon in it. The boxes represent the input&#39;s label and hint message."
          role="listitem"
        >
          <gcds-text >A space to enter short-form information.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: text input, text field.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Language toggle"
          href="/en/components/language-toggle/"
          card-title-tag="h3"
          badge="Canada.ca required"
          img-src="/images/common/components/preview-lang-toggle.svg"
          img-alt="Language toggle component shows FR for French icon double ended arrows to EN for English."
          role="listitem"
        >
          <gcds-text >A switch for displaying either French or English site content.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: language toggle link.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Link"
          href="/en/components/link/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-link.svg"
          img-alt="An abstract representation using a thick blue rectangle above a thin blue line."
          role="listitem"
        >
          <gcds-text >A link is a navigational element that brings a person to a new page, website, file, or section on the current page.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: anchor, hyperlink, call to action.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Notice"
          href="/en/components/notice/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-notice.svg"
          img-alt="A blue vertical line truncated at the top by a blue circle, representing the guide line and icon, sits to the left of a stack of three thick grey lines. The top dark grey line represents the heading and the other two represent the lines of text."
          role="listitem"
        >
          <gcds-text >A short, prominent message that’s part of the page content.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: Contextual alert</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Pagination"
          href="/en/components/pagination/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-pagination.svg"
          img-alt="A row of four squares between two arrows, each pointing outward. The first square is blue and holds the number 1, representing selection of the first page. Between the two middle boxes is an ellipsis to indicate additional pages besides those represented by the squares."
          role="listitem"
        >
          <gcds-text >A page selector for a range of pages.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: page index, page navigation</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Radio group"
          href="/en/components/radio-group/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-radio.svg"
          img-alt="A column of three radio selections. Each radio button circle has a thin grey border and white fill beside a thick grey line to represent the label. One of the three circles is selected and has a single dark grey circle inside of it."
          role="listitem"
        >
          <gcds-text >A short set of options for single selection.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: radio, radio button</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Screenreader-only"
          href="/en/components/screenreader-only/"
          card-title-tag="h3"
          badge="Experimental"
          img-src="/images/common/components/preview-screenreader-only.svg"
          img-alt="One blue-grey line with a dotted line border stacked above two grey lines. The colour of all of the lines fades from the left to the right ends. A blue-grey sound icon is superimposed on the two bottom lines."
          role="listitem"
        >
          <gcds-text >The screenreader-only component is text information only accessible with assistive technologies.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: visually hidden, assistive text.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Search"
          href="/en/components/search/"
          card-title-tag="h3"
          badge="Canada.ca required"
          img-src="/images/common/components/preview-search.svg"
          img-alt="The search component shows a blank search input field with a cursor in it. At the end of the input field is a dark blue rectangle representing a button with a search icon in it."
          role="listitem"
        >
          <gcds-text >A space for entering keywords to find relevant information.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: search bar, site search box, search field.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Select"
          href="/en/components/select/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-select.svg"
          img-alt="Select component shows two cascading greyed boxes above a select box. The select box is a box with a down arrow to indicate it will expand downwards. The boxes represent the input&#39;s label and hint message."
          role="listitem"
        >
          <gcds-text >A list of options with a single-option choice.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: dropdown, select menu.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Side navigation"
          href="/en/components/side-navigation/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-side-nav.svg"
          img-alt="Side navigation shows a vertical site navigation with grey boxes on top of eachother, the second last highlighted in blue to show selection."
          role="listitem"
        >
          <gcds-text >A side navigation is a vertical list of page links on the left side of the screen.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: sidebar menu, lefthand nav, vertical navigation</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Signature"
          href="/en/components/signature/"
          card-title-tag="h3"
          badge="Canada.ca required"
          img-src="/images/common/components/preview-signature.svg"
          img-alt="Signature component shows Canadian Flag and grey boxes where signature text would be."
          role="listitem"
        >
          <gcds-text >A corporate identity marker for the Government of Canada.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: GC signature.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Stepper"
          href="/en/components/stepper/"
          card-title-tag="h3"
          badge=""
          img-src="/images/en/components/preview/preview-stepper.svg"
          img-alt="Stepper component shows step 1 of 4 above a grey rounded rectangle."
          role="listitem"
        >
          <gcds-text >A progress tracker for a multi-step process.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: progress indicator, steps.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Text"
          href="/en/components/text/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-text.svg"
          img-alt="An abstract representation of 3 lines of text using 3 grey rectangular rows stacked one on top of another."
          role="listitem"
        >
          <gcds-text >Text is a styled and formatted paragraph that displays written content in an accessible way.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: text block, copy, caption, body text, paragraph.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Textarea"
          href="/en/components/textarea/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-textarea.svg"
          img-alt="Text area component shows two cascading grey boxes followed by a large box spanning multiple lines in height and a cursor to show this is a textarea. The two gray boxes represent the textarea&#39;s label and hint message."
          role="listitem"
        >
          <gcds-text >A space to enter long-form information.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: textbox.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Theme and topic menu"
          href="/en/components/theme-and-topic-menu/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-topic-menu.svg"
          img-alt="Theme and topic menu shows a grey menu button above an expanded vertical list of menu options."
          role="listitem"
        >
          <gcds-text >The theme and topic menu is a navigation to the top tasks of Government of Canada websites.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: global navigation, theme-based navigation.</em>
            </gcds-text>
          
        </gcds-card>
      
      
        <gcds-card
          card-title="Top navigation"
          href="/en/components/top-navigation/"
          card-title-tag="h3"
          badge=""
          img-src="/images/common/components/preview-top-nav.svg"
          img-alt="Top navigation shows site navigation with a light grey background and three dark grey boxes to represent menu items."
          role="listitem"
        >
          <gcds-text >A top navigation is a horizontal list of page links.</gcds-text>
          
            <gcds-text text-role="secondary" size="small" margin-bottom="0">
              <em>Other names: site menu, navigation, navbar</em>
            </gcds-text>
          
        </gcds-card>
      
      </gcds-grid>
  </div>



<h2 id="component-tags">Component tags</h2>


<p>Canada.ca required components help you meet federal identity standards for the Government of Canada in any product.</p>

<p>Experimental components point out new features we&#39;re trying out and think you might like to use.</p>



<section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
  >
    Report an issue on GitHub
    <gcds-icon name="external" label=" (Opens destination in a new tab.)">
    </gcds-icon>
  </gcds-button>
</section>


        <gcds-date-modified class="mb-300">
          2025-05-08
        </gcds-date-modified>
      </main>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
