<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Components - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      current
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/styles/"
      
    >
      Styles
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout" >
        
<h1 id="components" class="mb-400">Components</h1>
<p class="mb-400">GC Design System components are user interface building blocks that address different user objectives. Each comes with reusable code, best practice advice, and accessibility tips.</p>
<p class="mb-400">We're sharing components as we build them.</p>
<h2 id="component-tags" class="mt-500 mb-400">Component tags</h2>
<p class="mb-400">Core components help you meet federal identity standards for the Government of Canada in any product.</p>
<p class="mb-400">Experimental components point out new features we're trying out and think you might like to use.</p>
<h2 id="browse-components" class="mt-500 mb-400">Browse components</h2>





  



  <div class="my-500">
    <gcds-grid tag="ul" columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" gap="400">
      
      
        <gcds-card
          card-title="Breadcrumbs"
          type="link"
          href="/en/components/breadcrumbs/"
          title-element="h3"
          tag="Core"
          description="A path to the current page from each preceding level of the site&#39;s hierarchy."
          img-src="/images/common/components/preview-breadcrumbs.svg"
          img-alt="Two thick grey lines with a chevron between them represent breadcrumb links."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: breadcrumb trail.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Button"
          type="link"
          href="/en/components/button/"
          title-element="h3"
          tag=""
          description="An interactive object that highlights an action."
          img-src="/images/common/components/preview-button.svg"
          img-alt="A dark blue box with a white box inside of it represents a button with a label."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: call to action, CTA.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Card"
          type="link"
          href="/en/components/card/"
          title-element="h3"
          tag=""
          description="A box containing structured, actionable content on a single topic."
          img-src="/images/common/components/preview-card.svg"
          img-alt="The card component shows a box containing a rectangular image in the top half. Immediately below is a blue rectangular bar running across three quarters of the box representing the card title. Two longer grey bars are stacked just below the blue bar, representing the card description and context area/metadata sections."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: tile, content card</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Checkbox"
          type="link"
          href="/en/components/checkbox/"
          title-element="h3"
          tag=""
          description="An option or set of options where any of the available boxes can be selected."
          img-src="/images/common/components/preview-checkbox.svg"
          img-alt="A column of three checkboxes, each with thin grey border and white fill beside a thick grey line to represent the label. Two of the three boxes have a checkmark."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: checklist.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Container"
          type="link"
          href="/en/components/container/"
          title-element="h3"
          tag=""
          description="A container is a basic box layout with a set width for its contents."
          img-src="/images/common/components/preview-container.svg"
          img-alt="A rectangle with a border surrounding grey rectangles representing content."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: wrapper, box.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
      
        <gcds-card
          card-title="Date modified"
          type="link"
          href="/en/components/date-modified/"
          title-element="h3"
          tag="Core"
          description="A timestamp of the last page update."
          img-src="/images/common/components/preview-date-modified.svg"
          img-alt="A thick grey line, above a representation the page footer, represents the last page update text."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: last updated, version date.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Details"
          type="link"
          href="/en/components/details/"
          title-element="h3"
          tag=""
          description="An interactive switch to expand or collapse content."
          img-src="/images/common/components/preview-details.svg"
          img-alt="A thick dark blue line with a triangle arrow pointing down to a dark grey vertical line represents the open details component. Two thick light grey lines stacked underneath the blue line represent lines of text."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: accordion, collapse.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Error message"
          type="link"
          href="/en/components/error-message/"
          title-element="h3"
          tag=""
          description="A description of a problem blocking a user goal."
          img-src="/images/common/components/preview-error-message.svg"
          img-alt="A light red box holding a grey box represents the error message text."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: inline error.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Error summary"
          type="link"
          href="/en/components/error-summary/"
          title-element="h3"
          tag=""
          description="A list of user errors on a page or in a flow."
          img-src="/images/common/components/preview-error-summary.svg"
          img-alt="A red outlined box holds one thick grey line above a stack of  three smaller thick red lines representing a heading and text."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: error overview.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Fieldset"
          type="link"
          href="/en/components/fieldset/"
          title-element="h3"
          tag=""
          description="A group of multiple form elements."
          img-src="/images/common/components/preview-fieldset.svg"
          img-alt="A stack of thick lines represents multiple form elements, with grey lines for labels and white boxes for form fields."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: form field.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="File uploader"
          type="link"
          href="/en/components/file-uploader/"
          title-element="h3"
          tag=""
          description="A file selector for document transfer."
          img-src="/images/en/components/preview/preview-file-uploader.svg"
          img-alt="Two thick grey lines represent text above a choose file button."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: file input, dropzone.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Footer"
          type="link"
          href="/en/components/footer/"
          title-element="h3"
          tag="Core"
          description="The Government of Canada branded footer landmark."
          img-src="/images/common/components/preview-footer.svg"
          img-alt="Footer component shows blue box showing the way text would be filled, at the bottom there is a government of Canada logo."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: site footer.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Grid"
          type="link"
          href="/en/components/grid/"
          title-element="h3"
          tag="Experimental"
          description="A grid is a responsive, flexible column layout to position elements on a page."
          img-src="/images/common/components/preview-grid.svg"
          img-alt="Three columns, separated by two dotted lines, hold thick grey lines representing text."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: layout, columns, columns layout, grid container.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Header"
          type="link"
          href="/en/components/header/"
          title-element="h3"
          tag="Core"
          description="The Government of Canada branded header landmark."
          img-src="/images/common/components/preview-header.svg"
          img-alt="Three horizontal banners stacked on top of each other. The first is a grey banner with three dots on the left, representing a browser banner. The second is a dark blue banner with a white outline representing a phase banner. The third is white banner holding a Canada flag and two stacked, thick grey lines that represent lines of text."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: global header.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Heading"
          type="link"
          href="/en/components/heading/"
          title-element="h3"
          tag=""
          description="A heading is a title that establishes levels of hierarchy to organize page content into a structure."
          img-src="/images/common/components/preview-heading.svg"
          img-alt="An abstract representation of a large, prominent line of text using 1 larger, darker rectangular row above a short red line. Beneath these are 3 smaller grey rectangular rows stacked one on top of another, representing text."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: title, section heading, subheading.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
      
      
        <gcds-card
          card-title="Input"
          type="link"
          href="/en/components/input/"
          title-element="h3"
          tag=""
          description="A space to enter short-form information."
          img-src="/images/common/components/preview-input.svg"
          img-alt="Input component shows two cascading greyed boxes above a blank text input field with a cursor icon in it. The boxes represent the input&#39;s label and hint message."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: text input, text field.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Language toggle"
          type="link"
          href="/en/components/language-toggle/"
          title-element="h3"
          tag="Core"
          description="A switch for displaying either French or English site content."
          img-src="/images/common/components/preview-lang-toggle.svg"
          img-alt="Language toggle component shows FR for French icon double ended arrows to EN for English."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: language toggle link.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Link"
          type="link"
          href="/en/components/link/"
          title-element="h3"
          tag=""
          description="A link is a navigational element that brings a person to a new page, website, file, or section on the current page."
          img-src="/images/common/components/preview-link.svg"
          img-alt="An abstract representation using a thick blue rectangle above a thin blue line."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: anchor, hyperlink, call to action.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Pagination"
          type="link"
          href="/en/components/pagination/"
          title-element="h3"
          tag=""
          description="A page selector for a range of pages."
          img-src="/images/common/components/preview-pagination.svg"
          img-alt="A row of four squares between two arrows, each pointing outward. The first square is blue and holds the number 1, representing selection of the first page. Between the two middle boxes is an ellipsis to indicate additional pages besides those represented by the squares."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: page index, page navigation</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Radio"
          type="link"
          href="/en/components/radio/"
          title-element="h3"
          tag=""
          description="A short set of options for single selection."
          img-src="/images/common/components/preview-radio.svg"
          img-alt="Radio component shows radio selection with black outlined circle with a black circle selected followed by unselected two options."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: radio button, radio group.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Screenreader-only"
          type="link"
          href="/en/components/screenreader-only/"
          title-element="h3"
          tag="Experimental"
          description="The screenreader-only component is text information only accessible with assistive technologies."
          img-src="/images/common/components/preview-screenreader-only.svg"
          img-alt="One blue-grey line with a dotted line border stacked above two grey lines. The colour of all of the lines fades from the left to the right ends. A blue-grey sound icon is superimposed on the two bottom lines."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: visually hidden, assistive text.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Search"
          type="link"
          href="/en/components/search/"
          title-element="h3"
          tag="Core"
          description="A space for entering keywords to find relevant information."
          img-src="/images/common/components/preview-search.svg"
          img-alt="The search component shows a blank search input field with a cursor in it. At the end of the input field is a dark blue rectangle representing a button with a search icon in it."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: search bar, site search box, search field.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Select"
          type="link"
          href="/en/components/select/"
          title-element="h3"
          tag=""
          description="A list of options with a single-option choice."
          img-src="/images/common/components/preview-select.svg"
          img-alt="Select component shows two cascading greyed boxes above a select box. The select box is a box with a down arrow to indicate it will expand downwards. The boxes represent the input&#39;s label and hint message."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: dropdown, select menu.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Side navigation"
          type="link"
          href="/en/components/side-navigation/"
          title-element="h3"
          tag=""
          description="A side navigation is a vertical list of page links on the left side of the screen."
          img-src="/images/common/components/preview-side-nav.svg"
          img-alt="Side navigation shows a vertical site navigation with grey boxes on top of eachother, the second last highlighted in blue to show selection."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: sidebar menu, lefthand nav, vertical navigation</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Signature"
          type="link"
          href="/en/components/signature/"
          title-element="h3"
          tag="Core"
          description="A corporate identity marker for the Government of Canada."
          img-src="/images/common/components/preview-signature.svg"
          img-alt="Signature component shows Canadian Flag and grey boxes where signature text would be."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: GC signature.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Stepper"
          type="link"
          href="/en/components/stepper/"
          title-element="h3"
          tag=""
          description="A progress tracker for a multi-step process."
          img-src="/images/en/components/preview/preview-stepper.svg"
          img-alt="Stepper component shows steps, Step 1 of 4."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: progress indicator, steps.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Text"
          type="link"
          href="/en/components/text/"
          title-element="h3"
          tag=""
          description="Text is a styled and formatted paragraph that displays written content in an accessible way."
          img-src="/images/common/components/preview-text.svg"
          img-alt="An abstract representation of 3 lines of text using 3 grey rectangular rows stacked one on top of another."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: text block, copy, caption, body text, paragraph.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Textarea"
          type="link"
          href="/en/components/textarea/"
          title-element="h3"
          tag=""
          description="A space to enter long-form information."
          img-src="/images/common/components/preview-textarea.svg"
          img-alt="Text area component shows two cascading grey boxes followed by a large box spanning multiple lines in height and a cursor to show this is a textarea. The two gray boxes represent the textarea&#39;s label and hint message."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: textbox.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Theme and topic menu"
          type="link"
          href="/en/components/theme-and-topic-menu/"
          title-element="h3"
          tag=""
          description="The theme and topic menu is a navigation to the top tasks of Government of Canada websites."
          img-src="/images/common/components/preview-topic-menu.svg"
          img-alt="Theme and topic menu shows a grey menu button above an expanded vertical list of menu options."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: global navigation, theme-based navigation.</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      
        <gcds-card
          card-title="Top navigation"
          type="link"
          href="/en/components/top-navigation/"
          title-element="h3"
          tag=""
          description="A top navigation is a horizontal list of page links."
          img-src="/images/common/components/preview-top-nav.svg"
          img-alt="Top navigation shows site navigation with a light grey background and three dark grey boxes to represent menu items."
          role="listitem"
        >
          <div slot="footer">
            
              <p class="text-secondary">
                <small><em>Other names: site menu, navigation, navbar</em></small>
              </p>
            
          </div>
        </gcds-card>
      
      </gcds-grid>
  </div>




  
  
  


<section class="pt-100 mt-400">
  <h2 class="mt-300 mb-400">
    Looking for another component?
  </h2>

  <p class="mb-400">
    Share your feedback with us to help improve GC Design System or you can check out what's coming soon.
  </p>

  <ul class="mb-600">
    <li class="md:d-inline sm:d-block me-200">
      <gcds-button
        type="link"
        button-role="primary"
        href="/en/contact/#contact-us"
      >
        Give feedback
      </gcds-button>
    </li>

    <li class="md:d-inline sm:d-block mt-150 md:mt-0">
      <gcds-button
        type="link"
        button-role="secondary"
        href="/en/coming-soon/"
        lang="en"
      >
        Go to Coming soon
      </gcds-button>
    </li>
  </ul>
</section>

        <gcds-date-modified class="mb-400 font-caption">
          2024-05-08
        </gcds-date-modified>
      </main>


      <gcds-footer
        display="full"
        lang="en"
        sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms and conditions": "https://www.canada.ca/en/transparency/terms.html", "Privacy": "/en/privacy-notice" }'
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
