<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Button Component FR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "/alpha-design-system-documentation/components/loader/index.es2017.js";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="/alpha-design-system-documentation/variables/variables.css">
        <link rel="stylesheet" href="/alpha-design-system-documentation/styles/prism.css">

    </head>
    <body>
        
<header>
    <h2>French header</h2>

    <div  lang="en">
        
        
        <ul>

        
        

        
        

        
        

            
            
                
            

        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-design-system-documentation/en/components/buttons/">English</a>
        </li>

        

        
        
        

        
        

        
        

        </ul>
        
    </div>
</header>

        <nav>

    <h2>Design system FR</h2>

    

    

    <ul><li>
    <a href="/alpha-design-system-documentation/fr/components/alerts/">Alerts FR</a></li><li class="my-active-class">
    <a href="/alpha-design-system-documentation/fr/components/buttons/">Button Component FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/components/buttons/design/">Implementing a Button for Design FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/components/buttons/development/">Implementing a Button for Development FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/components/">Component and Pattern Inventory FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/onboarding/design/">Designing a Webpage FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/onboarding/development/">Developing a Webpage FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/onboarding/">Onboarding FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/">Home</a></li></ul>
</nav>


        <main>
            <h1 id="button-component-fr" tabindex="-1">Button Component FR <a class="direct-link" href="#button-component-fr">#</a></h1>
<p>A button is an object to activate a response or a change of location or state.</p>
<h2 id="function-fr" tabindex="-1">Function FR <a class="direct-link" href="#function-fr">#</a></h2>
<p>Buttons highlight important actions that help a user achieve tasks.
A button is initialized through a click or keydown action, such applying the Enter key when the button’s selected. The user communicates a response, changes their location, or changes their state by using the click or keydown action.</p>
<h2 id="what-buttons-are-for-fr" tabindex="-1">What buttons are for FR <a class="direct-link" href="#what-buttons-are-for-fr">#</a></h2>
<p>Use buttons for important actions, such as:</p>
<ul>
<li>saving, deleting, downloading</li>
<li>clearing entered data</li>
<li>submitting a form or request</li>
<li>giving consent or agreement</li>
<li>making a binary choice</li>
<li>entering or exiting a web product, like a secure area login, a form, or tutorial</li>
</ul>
<p>In applications, buttons are used in place of text links for things like:</p>
<ul>
<li>controlling movement, going from one screen to another on a website</li>
<li>external links</li>
</ul>
<h2 id="what-buttons-are-not-for" tabindex="-1">What buttons are not for <a class="direct-link" href="#what-buttons-are-not-for">#</a></h2>
<p>Consider links instead when:</p>
<ul>
<li>taking a user off a website page.</li>
<li>an action is less important.</li>
</ul>
<p>Consider menus or selections, like dropdowns or radio buttons, instead when:</p>
<ul>
<li>The user must choose between two or more options.</li>
</ul>
<p><a href="/alpha-design-system-documentation/fr/components/buttons/development">Implementation for Developing</a> | <a href="/alpha-design-system-documentation/fr/components/buttons/design">Implementation for Designing</a></p>

        </main>

        <footer>
    <h2>French footer</h2>
</footer>
    </body>
</html>
