---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="CSS Shortcuts">
  <h1>CSS Shortcuts</h1>
  <p>Documentation for CSS shortcuts will be added here.</p>
</BaseLayout>

