---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Design Tokens">
  <h1>Design Tokens</h1>
  <p>Documentation for design tokens will be added here.</p>
</BaseLayout>

