<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Top navigation - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/barre-de-navigation-superieure/design/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/styles/"
      
    >
      Styles
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout" data-pagefind-body>
        
  
    <h1 id="top-navigation-brgcdstopnav" class="mb-400">Top navigation <br><code>&lt;gcds-top-nav&gt;</code></h1>
<p class="mb-400"><em>Also called: site menu, navigation, navbar.</em></p>
<p class="mb-400">A top navigation is a horizontal list of page links.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-top-nav">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=4738-10759&mode=design&t=PaKRkbpFLPNx99bv-0">Figma</gcds-link>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview" id="component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Top navigation component preview
</p>
<div class="px-300 py-400"></p>
<div aria-hidden="true">
  <gcds-top-nav label="Top navigation component preview" alignment="right" lang="en">
    <gcds-nav-link href="#red" slot="home">GC Notify</gcds-nav-link>
    <gcds-nav-link href="#red">Why GC Notify</gcds-nav-link>
    <gcds-nav-group menu-label="Features submenu" open-trigger="Features">
      <gcds-nav-link href="#red" current>Create reusable templates</gcds-nav-link>
      <gcds-nav-link href="#red">Personalize messages</gcds-nav-link>
      <gcds-nav-link href="#red">Schedule messages</gcds-nav-link>
      <gcds-nav-link href="#red">Send messages automatically</gcds-nav-link>
    </gcds-nav-group>
    <gcds-nav-link href="#red">Contact us</gcds-nav-link>
  </gcds-top-nav>
</div>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/top-navigation/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/top-navigation/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/top-navigation/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="top-navigation-anatomy-on-desktop" class="mt-500 mb-400">Top navigation anatomy – on desktop</h2>
<ol class="anatomy-list">
  <li>The <strong>home nav link</strong> identifies the site using text or a logo and it links to the home page. It uses a nav link that is added within the <code>home</code> slot.</li>
  <li>The <strong>nav link</strong> is a link to a popular page or section on the site. Nav links can be in the top level if they're standalone.</li>
  <li>The <strong>nav group</strong> can be collapsed and expanded and generally contains a list of 2-5 links.</li>
  <li>The <strong>nav group label</strong> describes the category of links in that group. It acts as a button to expand and collapse the group of links.</li>
  <li>The <strong>nav group chevron icon</strong> points up when the nav group is collapsed and down when it's expanded.</li>
  <li>The <strong>nav link with active indicator</strong> gives visual prominence to the current page.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-top-nav-anatomy.svg" alt="Top navigation anatomy showing page navigation with a dark blue box for the logo or home link followed by two greyed boxes, the last one having a dark blue line underneath to show the current page." />
<h2 id="design-and-accessibility-for-top-navigation" class="mt-500 mb-400">Design and accessibility for top navigation</h2>
<h3 id="set-the-home-nav-link" class="mt-500 mb-400">Set the home nav link</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">The home nav link can be a shorter version of the full name.</li>
<li><p class="mb-400">For logos, include descriptive text.</li>
</ul>
<p class="mb-400">Note: On mobile, the home nav link does not link to the homepage.</p>
<h3 id="choose-meaningful-nav-link-text" class="mt-500 mb-400">Choose meaningful nav link text</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Make link text clear and specific to help a person decide if they should leave the current page. Spell out where a person will go or what they'll find when they select a link.</li>
<li><p class="mb-400">Keep link text short and distinctive so a person can scan the links and find what they're looking for.</li>
<li><p class="mb-400">Limit the number of links in your top navigation. Too much information increases cognitive load and can be overwhelming to some readers.</li>
<li><p class="mb-400">If using breadcrumbs, align the content hierarchy in both set of links, so both components reflect a similar path through the site.</li>
</ul>
<p class="mb-400">Tip: Read top navigation link text aloud in sequence to note similarities in how link text sounds when read by an assistive device.</p>
<h3 id="add-navigation-groups-to-the-top-navigation" class="mt-500 mb-400">Add navigation groups to the top navigation</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Opt to include a second level with a navigation group, sometimes called stairs or dropdowns, to the top navigation.</li>
<li><p class="mb-400">In the second level, limit the group to 7 links. Target 2-5 in each group.</li>
</ul>


  <section data-pagefind-ignore class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2024-07-23
        </gcds-date-modified>
      </main>


      <gcds-footer
        display="full"
        lang="en"
        contextual-heading="Canadian Digital Service"
        contextual-links='{ "Sign up for mailing list": "/en/contact", "Report an issue": "https://github.com/cds-snc/gcds-components/issues/new/choose", "About us": "/en/about-us" }'
        sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms and conditions": "https://www.canada.ca/en/transparency/terms.html", "Privacy": "/en/privacy-notice" }'
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
