# Ignore installed npm modules
node_modules/

# Ignore source code editors
.vscode
.DS_Store

# Ignore output folder
public/
_site/

# Output folder for page templates
_src/_includes/partials/templates/en/
_src/_includes/partials/templates/fr/

package-lock.json
