# Ignore installed npm modules
node_modules/

# Ignore source code editors
.vscode
.DS_Store

# Ignore output folder
public/
_site/

# Output folder for page templates
src/_includes/partials/templates/en/
src/_includes/partials/templates/fr/

cypress/screenshots/
