---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Fils d'Ariane" locale="fr" section="components" version="1.1.0" pageKey="breadcrumbs">
  <h1>Fils d'Ariane</h1>
  <p>Documentation for Fils d'Ariane (1.1.0).</p>
</VersionedDocLayout>
