---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Exemples de bouton 1.1.0" locale="fr" section="components" version="1.1.0" pageKey="buttonExamples">
  <h1>Exemples de bouton</h1>
<p>Les exemples sont disponibles à partir de 1.1.0.</p>
</VersionedDocLayout>
