---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Cases à cocher" locale="fr" section="components" version="1.1.0" pageKey="checkboxes">
  <h1>Cases à cocher</h1>
  <p>Documentation for Cases à cocher (1.1.0).</p>
</VersionedDocLayout>
