---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Date de modification" locale="fr" section="components" version="1.1.0" pageKey="dateModified">
  <h1>Date de modification</h1>
  <p>Documentation for Date de modification (1.1.0).</p>
</VersionedDocLayout>
