---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Résumé des erreurs" locale="fr" section="components" version="1.1.0" pageKey="errorSummary">
  <h1>Résumé des erreurs</h1>
  <p>Documentation for Résumé des erreurs (1.1.0).</p>
</VersionedDocLayout>
