---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="En-tête" locale="fr" section="components" version="1.1.0" pageKey="header">
  <h1>En-tête</h1>
  <p>Documentation for En-tête (1.1.0).</p>
</VersionedDocLayout>
