---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Icône" locale="fr" section="components" version="1.1.0" pageKey="icon">
  <h1>Icône</h1>
  <p>Documentation for Icône (1.1.0).</p>
</VersionedDocLayout>
