---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Bascule de langue" locale="fr" section="components" version="1.1.0" pageKey="languageToggle">
  <h1>Bascule de langue</h1>
  <p>Documentation for Bascule de langue (1.1.0).</p>
</VersionedDocLayout>
