---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Boutons radio" locale="fr" section="components" version="1.1.0" pageKey="radios">
  <h1>Boutons radio</h1>
  <p>Documentation for Boutons radio (1.1.0).</p>
</VersionedDocLayout>
