---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Lecteur d'écran seulement" locale="fr" section="components" version="1.1.0" pageKey="screenreaderOnly">
  <h1>Lecteur d'écran seulement</h1>
  <p>Documentation for Lecteur d'écran seulement (1.1.0).</p>
</VersionedDocLayout>
