---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Sélection" locale="fr" section="components" version="1.1.0" pageKey="select">
  <h1>Sélection</h1>
  <p>Documentation for Sélection (1.1.0).</p>
</VersionedDocLayout>
