---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Navigation latérale" locale="fr" section="components" version="1.1.0" pageKey="sideNavigation">
  <h1>Navigation latérale</h1>
  <p>Documentation for Navigation latérale (1.1.0).</p>
</VersionedDocLayout>
