---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Signature" locale="fr" section="components" version="1.1.0" pageKey="signature">
  <h1>Signature</h1>
  <p>Documentation for Signature (1.1.0).</p>
</VersionedDocLayout>
