---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Indicateur d'étape" locale="fr" section="components" version="1.1.0" pageKey="stepper">
  <h1>Indicateur d'étape</h1>
  <p>Documentation for Indicateur d'étape (1.1.0).</p>
</VersionedDocLayout>
