---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Texte" locale="fr" section="components" version="1.1.0" pageKey="text">
  <h1>Texte</h1>
  <p>Documentation for Texte (1.1.0).</p>
</VersionedDocLayout>
