---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Zone de texte" locale="fr" section="components" version="1.1.0" pageKey="textarea">
  <h1>Zone de texte</h1>
  <p>Documentation for Zone de texte (1.1.0).</p>
</VersionedDocLayout>
