---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Menu thème et sujet" locale="fr" section="components" version="1.1.0" pageKey="themeAndTopicMenu">
  <h1>Menu thème et sujet</h1>
  <p>Documentation for Menu thème et sujet (1.1.0).</p>
</VersionedDocLayout>
