---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Navigation principale" locale="fr" section="components" version="1.1.0" pageKey="topNavigation">
  <h1>Navigation principale</h1>
  <p>Documentation for Navigation principale (1.1.0).</p>
</VersionedDocLayout>
