<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pagination - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/pagination/design/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/en">GC Design System</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/"
      
    >
      Page templates
    </gcds-nav-link>
  
<gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
  >
    <gcds-nav-link href="/en/contact">Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved">Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo">Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-600 px-225 general-layout" data-pagefind-body>
        
  
    <h1 id="pagination-brgcdspagination">Pagination <br><code>&lt;gcds-pagination&gt;</code></h1>
<p><em>Also called: page index, page navigation.</em></p>
<p>Pagination is a division of content into multiple linked pages.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-pagination">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=1431-4617&mode=design&t=Z9AVq2wKmGmXJc7j-0">Figma</gcds-link>
</li>
</ul></p>
<p><div class="my-600 b-sm b-default component-preview">
<h2 class="container-full font-text font-semibold m-0 px-225 py-150 bb-sm b-default bg-light">
Pagination component preview
</h2>
<div>
<iframe
            title="Pagination component preview"
            src="/en/components/pagination/preview"
            style="display: block; margin: 0 auto;"
            frameBorder="0"
            width="100%"
            id="component-preview"
          ></iframe>
</div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/pagination/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/pagination/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/pagination/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="pagination-anatomy">Pagination anatomy</h2>
<h3 id="simple-pagination-anatomy">Simple pagination anatomy</h3>
<h4 id="previous-link">Previous link</h4>
<ol class="anatomy-list">
  <li>The <strong>previous arrow</strong> is a visual aid to indicate navigating backward, to previous pages in the page flow.</li>
  <li>The <strong>previous text</strong> is the text that accompanies the previous arrow and indicates that the user would be navigating to the previous page in the flow.</li>
  <li>The <strong>previous label</strong> indicates the label of the previous page to the user.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-pagination-simple-previous-anatomy.svg" alt="The pagination component with numbers pointing to individual parts of the simple pagination's previous link anatomy." />
<h4 id="next-link">Next link</h4>
<ol class="anatomy-list">
  <li>The <strong>next text</strong> is the text that accompanies the next arrow and indicates that the user would be navigating to the next page in the flow.</li>
  <li>The <strong>next arrow</strong> is a visual aid indicating that you would be navigating forwards in the page flow.</li>
  <li>The <strong>next label</strong> indicates the label of the previous page to the user.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-pagination-simple-next-anatomy.svg" alt="The pagination component with numbers pointing to individual parts of the simple pagination's next link anatomy." />
<h3 id="list-styled-pagination-anatomy">List styled pagination anatomy</h3>
<h4 id="large-screens">Large screens</h4>
<ol class="anatomy-list">
  <li>The <strong>previous link</strong> navigates to the previous page in the flow when selected.</li>
  <li>A <strong>page link</strong> navigates to it’s corresponding page in the flow.</li>
  <li>The <strong>current page</strong> indicates the page the user is currently on.</li>
  <li>An <strong>ellipsis</strong> replaces any pages that are being skipped.</li>
  <li>The <strong>next link</strong> navigates to the next page in the flow when selected.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-pagination-list-large-anatomy.svg" alt="The pagination component with numbers pointing to individual parts of the large screen list pagination anatomy." />
<h4 id="small-screens">Small screens</h4>
<ol class="anatomy-list">
  <li>A <strong>page link</strong> navigates to it’s corresponding page in the flow.</li>
  <li>The <strong>current page</strong> indicates the page the user is currently on.</li>
  <li>An <strong>ellipsis</strong> replaces any pages that are being skipped.</li>
  <li>The <strong>previous link</strong> navigates to the previous page in the flow when selected.</li>
  <li>The <strong>next link</strong> navigates to the next page in the flow when selected.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-pagination-list-small-anatomy.svg" alt="The pagination component with numbers pointing to individual parts of the small screen list pagination anatomy." />
<h4 id="previous-link">Previous link</h4>
<ol class="anatomy-list">
  <li>The <strong>previous arrow</strong> is a visual aid to indicate navigating backward, to previous pages in the page flow.</li>
  <li>The <strong>previous text</strong> is the text that accompanies the previous arrow and indicates that the user would be navigating to the previous page in the flow.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-pagination-list-previous-anatomy.svg" alt="The pagination component with numbers pointing to individual parts of the list pagination's previous link anatomy." />
<h4 id="next-link">Next link</h4>
<ol class="anatomy-list">
  <li>The <strong>next text</strong> is the text that accompanies the next arrow and indicates that the user would be navigating to the next page in the flow.</li>
  <li>The <strong>next arrow</strong> is a visual aid indicating that you would be navigating forwards in the page flow.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-pagination-list-next-anatomy.svg" alt="The pagination component with numbers pointing to individual parts of the list pagination's next link anatomy." />
<h2 id="design-and-accessibility-for-pagination">Design and accessibility for pagination</h2>
<h3 id="make-pagination-content-findable">Make pagination content findable</h3>
<ul class="list-disc mb-300"><li>Put the most important information on the first few pages so there is a lower chance of it being missed.</li>
<li>Place the pagination component immediately under the page content you’re displaying, aligned to the left.</li>
<li>Ensure the navigational links appear as a single row and don't wrap onto the next line.</li>
</ul>
<h3 id="use-simple-pagination-for-a-small-number-of-pages">Use simple pagination for a small number of pages</h3>
<p>Simple pagination is most suitable for 2-5 pages.</p>
<ul class="list-disc mb-300"><li>Use subheadings in simple pagination to let the user know where they are in the flow.</li>
<li>Include the page number and total number of pages, or the page title in the subheading to give more more context.</li>
</ul>
<h3 id="use-list-styled-pagination-for-a-large-number-of-pages">Use list styled pagination for a large number of pages</h3>
<p>Use list styled pagination for large numbers of pages when using the ‘Previous’ and ‘Next’ links would make navigation cumbersome.</p>


  <section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="primary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
  >
    Report an issue on GitHub
    <gcds-icon name="external-link" label=" (Opens destination in a new tab.)">
    </gcds-icon>
  </gcds-button>
</section>



        <gcds-date-modified class="mb-300">
          2025-04-02
        </gcds-date-modified>
      </main>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
