<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Breadcrumbs - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  


<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/Chemin-de-navigation/design/'
>
  



<gcds-top-nav slot="menu" label="Main" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/foundations/"
      
    >
      Foundations
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
      
        <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
          Components
        </gcds-breadcrumbs-item>
      
    
  </gcds-breadcrumbs>

</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout">
        
  
    <h1 id="breadcrumbs-brgcdsbreadcrumbs" class="mb-400">Breadcrumbs <br><code>&lt;gcds-breadcrumbs&gt;</code></h1>
<p class="mb-400"><em>Also called: breadcrumb trail.</em></p>
<p class="mb-400">A path to the current page from each preceding level of the site's hierarchy.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<a href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-breadcrumbs" target="_blank" rel="nofollow" aria-label="GitHub (Opens in a new tab)">GitHub<gcds-icon name="external-link" margin-left="100" /></a>
</li>
<li class="figma-link">
<a href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?node-id=2353%3A7848&t=ciEmm7GYyGAY73zZ-0" target="_blank" rel="nofollow" aria-label="Figma (Opens in a new tab)">Figma<gcds-icon name="external-link" margin-left="100" /></a>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Breadcrumbs component preview
</p>
<div class="px-300 py-400"></p>
<gcds-breadcrumbs>
<gcds-breadcrumbs-item href="#">Home page</gcds-breadcrumbs-item>
<gcds-breadcrumbs-item href="#">Parent page link</gcds-breadcrumbs-item>
</gcds-breadcrumbs-item>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Breadcrumbs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/breadcrumbs/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/breadcrumbs/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/breadcrumbs/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="breadcrumbs-anatomy" class="mt-500 mb-400">Breadcrumbs anatomy</h2>
<ol class="anatomy-list">
  <li>The <strong>Canada.ca link</strong> navigates to the Canada.ca home page in the current language.</li>
  <li>The <strong>chevron</strong> sits between each link and points to the next/subordinate link.</li>
  <li>The <strong>home page link</strong> navigates back to the home page of the current webpage or site.</li>
  <li>The <strong>parent page link</strong> navigates to the parent page of the current page. You can have up to three parent page links in addition to the homepage and the Canada.ca home or 5 in total.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-breadcrumbs-anatomy.svg" alt="Breadcrumbs anatomy showing three links in a row with an arrow icon between them." />
<h3 id="breadcrumbs-anatomy-with-header-and-h1-title" class="mt-500 mb-400">Breadcrumbs anatomy – with header and H1 title</h3>
<ol class="anatomy-list">
  <li>The <a href="/en/components/header"><strong>header</strong></a> is part of a trusted brand — for apps, forms, or other transactional digital services.</li>
  <li>The <strong>home page link</strong> navigates back to the home page of the current webpage or site.</li>
  <li>The <strong>parent page link</strong> navigates to the parent page of the current page. You can have up to three parent page links in addition to the homepage and the Canada.ca home or 5 in total.</li>
  <li>The <strong>H1 title</strong> is a separate element from the breadcrumbs component. It tells readers what the page or site is about and acts a signpost, giving them a sense of place.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-breadcrumbs-anatomy-with-header.svg" alt="Breadcrumbs anatomy showing three links in a row with an arrow icon between them below the header component." />
<h2 id="design-and-accessibility-for-breadcrumbs" class="mt-500 mb-400">Design and accessibility for breadcrumbs</h2>
<h3 id="include-the-right-links-in-your-breadcrumbs" class="mt-500 mb-400">Include the right links in your breadcrumbs</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Include only parent page links and leave out the current page. It's stated in the page title, just beneath the breadcrumbs.</li>
<li><p class="mb-400">Add up to 3 parent page links if using both the Canada.ca and home page links, for a maximum of 5 breadcrumbs links.</li>
<li><p class="mb-400">Avoid duplication by linking each breadcrumb to a unique page.</li>
</ul>
<h3 id="structure-breadcrumb-levels-based-on-site-navigation" class="mt-500 mb-400">Structure breadcrumb levels based on site navigation</h3>
<p class="mb-400">Breadcrumbs represent the location of the current page in relation to the site's navigation model.</p>
<ul class="list-disc mb-400"><li><p class="mb-400">Order breadcrumb levels by their corresponding level in the site's hierarchy.</li>
<li><p class="mb-400">Avoid using the breadcrumbs component to show progress through the user journey.</li>
<li><p class="mb-400">Limit breadcrumbs to 5 levels. Displaying too many levels of breadcrumbs items can be overwhelming.</li>
</ul>
<p class="mb-400">Tip: If using with other navigation components, like the <a href="/en/components/top-navigation">top navigation</a> and <a href="/en/components/side-navigation">side navigation</a>, align both sets of links, so elements reflect a similar path through the site. This provides a consistent navigation experience and helps visitors understand their current location.</p>
<h3 id="write-specific-parent-page-link-text" class="mt-500 mb-400">Write specific parent page link text</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Make link text clear and specific to help a person decide if they should leave the current page. Spell out where a person will go or what they'll find when they select a link.</li>
<li><p class="mb-400">Keep parent link text short (ideally under 20 characters) and distinctive so a person can scan the links in the breadcrumbs and find what they're looking for.</li>
<li><p class="mb-400">Shorten parent page link text to improve readability and reduce space. Where possible, reflect the title of the page in the breadcrumb without including the full page name.</li>
</ul>
<h3 id="place-breadcrumbs-before-the-main-element" class="mt-500 mb-400">Place breadcrumbs before the main element</h3>
<p class="mb-400">Place breadcrumbs at the top of a page, before the main content. This way the <a href="/en/components/button">skip-to-content button</a> can work to let a person skip all navigation links, including breadcrumbs.</p>


  <section class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2023-09-25
        </gcds-date-modified>
      </main>

      <gcds-footer
        display="compact"
        lang="en"
      ></gcds-footer>

      
    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
