<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fieldset - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  


<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/jeu-de-champs/design/'
>
  



<gcds-top-nav slot="menu" label="Main" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/foundations/"
      
    >
      Foundations
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
      
        <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
          Components
        </gcds-breadcrumbs-item>
      
    
  </gcds-breadcrumbs>

</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout">
        
  
    <h1 id="fieldset-brgcdsfieldset" class="mb-400">Fieldset <br><code>&lt;gcds-fieldset&gt;</code></h1>
<p class="mb-400"><em>Also called: form field.</em></p>
<p class="mb-400">A fieldset is a group of multiple form components or elements.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<a href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-fieldset" target="_blank" rel="nofollow" aria-label="GitHub (Opens in a new tab)">GitHub<gcds-icon name="external-link" margin-left="100" /></a>
</li>
<li class="figma-link">
<a href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?node-id=2687%3A9818&t=ciEmm7GYyGAY73zZ-0" target="_blank" rel="nofollow" aria-label="Figma (Opens in a new tab)">Figma<gcds-icon name="external-link" margin-left="100" /></a>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Fieldset component preview
</p>
<div class="px-300 pt-400"></p>
<p class="mb-400"><gcds-fieldset
  fieldset-id="fieldset"
  legend="Legend"
  hint="Hint / Example message."
>
<gcds-input
    input-id="form-input"
    label="Input label"
    hint="Hint / Example message."
    size="6"
  >
</gcds-input>
<gcds-select
    select-id="form-select"
    label="Select label"
    hint="Hint / Example message."
    default-value="Select option"
  >
<option value="option-1">Option 1</option>
<option value="option-2">Option 2</option>
<option value="option-3">Option 3</option>
</gcds-select>
</gcds-fieldset></p>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Fieldset">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/fieldset/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/fieldset/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/fieldset/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="fieldset-anatomy" class="mt-500 mb-400">Fieldset anatomy</h2>
<p class="mb-400">A fieldset combines the <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> elements to accessibly group together related form fields or components – without solely relying on visual layout.</p>
<ol class="anatomy-list">
  <li>The <strong>fieldset legend</strong> provides the caption for the contents of the group of form components. The legend can be a short descriptive statement or a call to action phrase. Legend text is left aligned and in sentence case (only the initial letter is capitalized).</li>
  <li>The <strong>fieldset hint text</strong> communicates specific requirements for the fieldset's content to support task success.</li>
  <li>The <strong>component grouping</strong> is made up of each component within the fieldset.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-fieldset-anatomy.svg" alt="Fieldset legend anatomy showing the labels Legend, Hint text and component grouping. Hint text shows Fieldset legend. Component grouping has Input label underneath explain to give a Hint/Example message. Below is a dark blue boxed with six zeros to indicate where the number label will be put and the format. There is a Input Label with Hint/ Example message with a dark blue box selecting box with Select Option and arrow pointing down showing selection option."/>
<h2 id="design-and-accessibility-for-fieldsets" class="mt-500 mb-400">Design and accessibility for fieldsets</h2>
<h3 id="group-information-accessibly" class="mt-500 mb-400">Group information accessibly</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Group together form elements that are part of a task or sub-task or are related in some way.</li>
<li><p class="mb-400">Group together related form components, without solely relying on visual layout, to be accessible to people with blindness or low vision.</li>
</ul>
<h3 id="write-fieldset-content-to-support-task-success" class="mt-500 mb-400">Write fieldset content to support task success</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Write a short descriptive statement or a call to action for the <strong>legend</strong> caption.</li>
<li><p class="mb-400">Use the <strong>legend</strong> as a signpost to let a person know the kind of information the fieldset group is asking them for.</li>
<li><p class="mb-400">Identify the subtask in the <strong>legend</strong> to help people understand the relationship between the information you're requesting and the task they're completing.</li>
</ul>
<h3 id="clarify-the-question-or-instruction-for-radios-and-checkboxes" class="mt-500 mb-400">Clarify the question or instruction for radios and checkboxes</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">For <a href="/en/components/radio">radios</a> and <a href="/en/components/checkbox">checkboxes</a>, the <strong>legend</strong> sits where the <a href="/en/components/input">input</a> label usually is on other form components. Replace a question in the <strong>legend</strong> with a statement for a shorter, clearer caption.</li>
<li><p class="mb-400">Use the fieldset <strong>hint</strong> text to give additional context to a person on how to respond. For a checkbox, the fieldset <strong>hint</strong> text could state, &quot;Select all applicable options&quot;. For a radio, <strong>hint</strong> text could state &quot;Select the response that best applies&quot;.</li>
<li><p class="mb-400">Avoid using a fieldset when a form component has a single option for response and no selection is required.</li>
</ul>


  <section class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2023-08-28
        </gcds-date-modified>
      </main>

      <gcds-footer
        display="compact"
        lang="en"
      ></gcds-footer>

      
    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
