<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grid - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- GCDS CSS Shortcuts -->
    <link rel="stylesheet" href="/gcds-docs/gcds-css-shortcuts.min.css" />

    <!-- Prism -->
    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <script src="/gcds-docs/scripts/prism.min.js"></script>

    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <script src="/gcds-docs/scripts/general.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/grille/code/'
>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <gcds-grid columns="minmax(0, 1fr)" columns-desktop="320px minmax(0, 1fr)" tag="div" container="xl" centered class="xl:px-0 sm:px-600 px-225 general-layout">
        






















<gcds-side-nav label="GC Design System" class="side-nav lg:position-sticky box-border overflow-x-visible align-self-start px-75">
  <gcds-nav-link href="/en">Home</gcds-nav-link>
  <gcds-nav-link href="/en/start-to-use" >Start to use</gcds-nav-link>

  
  
  <gcds-nav-group
    menu-label="Page templates"
    open-trigger="Page templates"
    
  >
    <gcds-nav-link
      href="/en/page-templates"
      
    >
      Page templates overview
    </gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/basic/"
      
    >
      Basic page
    </gcds-nav-link>
  
</gcds-nav-group>

  
  
  <gcds-nav-group
    menu-label="Components"
    open-trigger="Components"
    open
  >
    <gcds-nav-link
      href="/en/components"
      
    >
      Components overview
    </gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/breadcrumbs/"
      
    >
      Breadcrumbs
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/button/"
      
    >
      Button
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/card/"
      
    >
      Card
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/checkboxes/"
      
    >
      Checkboxes
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/container/"
      
    >
      Container
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/date-input/"
      
    >
      Date input
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/date-modified/"
      
    >
      Date modified
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/details/"
      
    >
      Details
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/error-message/"
      
    >
      Error message
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/error-summary/"
      
    >
      Error summary
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/fieldset/"
      
    >
      Fieldset
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/file-uploader/"
      
    >
      File uploader
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/footer/"
      
    >
      Footer
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/grid/"
      current
    >
      Grid
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/header/"
      
    >
      Header
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/heading/"
      
    >
      Heading
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/icon/"
      
    >
      Icon
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/input/"
      
    >
      Input
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/language-toggle/"
      
    >
      Language toggle
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/link/"
      
    >
      Link
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/notice/"
      
    >
      Notice
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/pagination/"
      
    >
      Pagination
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/radios/"
      
    >
      Radios
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/screenreader-only/"
      
    >
      Screenreader-only
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/search/"
      
    >
      Search
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/select/"
      
    >
      Select
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/side-navigation/"
      
    >
      Side navigation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/signature/"
      
    >
      Signature
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/stepper/"
      
    >
      Stepper
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/text/"
      
    >
      Text
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/textarea/"
      
    >
      Textarea
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/theme-and-topic-menu/"
      
    >
      Theme and topic menu
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/top-navigation/"
      
    >
      Top navigation
    </gcds-nav-link>
  
</gcds-nav-group>

  

  <gcds-nav-group
    menu-label="CSS shortcuts"
    open-trigger="CSS shortcuts"
    
  >
    <gcds-nav-link
      href="/en/css-shortcuts"
      
    >
      CSS shortcuts overview
    </gcds-nav-link>
  
    <gcds-nav-group
      menu-label="Defaults"
      open-trigger="Defaults"
      
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/reset-styles/"
      
    >
      Reset styles
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Conditional styling"
      open-trigger="Conditional styling"
      
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/responsive-layout/"
      
    >
      Responsive layout
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/state/"
      
    >
      State
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Layout"
      open-trigger="Layout"
      
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/box-sizing/"
      
    >
      Box sizing
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/container-sizing/"
      
    >
      Container sizing
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/display/"
      
    >
      Display
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/overflow/"
      
    >
      Overflow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/position/"
      
    >
      Position
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/visibility/"
      
    >
      Visibility
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Typography"
      open-trigger="Typography"
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font/"
      
    >
      Font
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-family/"
      
    >
      Font family
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-size/"
      
    >
      Font size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-style/"
      
    >
      Font style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-weight/"
      
    >
      Font weight
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/line-height/"
      
    >
      Line height
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-colour/"
      
    >
      Link colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-size/"
      
    >
      Link size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-text-decoration/"
      
    >
      Link text decoration
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/list-style/"
      
    >
      List style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-align/"
      
    >
      Text align
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-colour/"
      
    >
      Text colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-overflow/"
      
    >
      Text overflow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-transform/"
      
    >
      Text transform
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/word-break/"
      
    >
      Word break
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Spacing"
      open-trigger="Spacing"
      
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/margin/"
      
    >
      Margin
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/padding/"
      
    >
      Padding
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Flexbox and grid"
      open-trigger="Flexbox and grid"
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-content/"
      
    >
      Align content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-items/"
      
    >
      Align items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-self/"
      
    >
      Align self
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex/"
      
    >
      Flex
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-direction/"
      
    >
      Flex direction
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-grow/"
      
    >
      Flex grow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-shrink/"
      
    >
      Flex shrink
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-wrap/"
      
    >
      Flex wrap
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/gap/"
      
    >
      Gap
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/grid-columns/"
      
    >
      Grid columns
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/grid-rows/"
      
    >
      Grid rows
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-content/"
      
    >
      Justify content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-items/"
      
    >
      Justify items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-self/"
      
    >
      Justify self
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/order/"
      
    >
      Order
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-content/"
      
    >
      Place content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-items/"
      
    >
      Place items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-self/"
      
    >
      Place self
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Background and border"
      open-trigger="Background and border"
      
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/background-colour/"
      
    >
      Background colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-colour/"
      
    >
      Border colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-radius/"
      
    >
      Border radius
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-style/"
      
    >
      Border style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-width/"
      
    >
      Border width
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Icon and image"
      open-trigger="Icon and image"
      
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/icon-names/"
      
    >
      Icon names
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/icon-size/"
      
    >
      Icon size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/image/"
      
    >
      Image
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Interactive"
      open-trigger="Interactive"
      
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/cursor/"
      
    >
      Cursor
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/pointer-events/"
      
    >
      Pointer events
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/transition/"
      
    >
      Transition
    </gcds-nav-link>
  
</gcds-nav-group>
  
</gcds-nav-group>

  

  <gcds-nav-group
    menu-label="Styles"
    open-trigger="Styles"
    
  >
    <gcds-nav-link href="/en/styles">Styles overview</gcds-nav-link>
    <gcds-nav-link href="/en/styles/design-tokens" >Design tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/colour" >Colour tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/spacing" >Spacing tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/typography" >Typography tokens</gcds-nav-link>
  </gcds-nav-group>

  

  <gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
    
  
    
  
    
  
    
  
  >
    <gcds-nav-link href="/en/contact" >Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved" >Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo" >Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-side-nav>
        <main id="mc" class="general-layout" data-pagefind-body>
          
  
    <h1 id="grid-brgcdsgrid">Grid <br><code>&lt;gcds-grid&gt;</code></h1>
<p><em>Also called: layout, columns, columns layout, grid container.</em></p>
<p>A grid is a responsive, flexible column layout to position elements on a page.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-grid">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/community/file/1128687821123298228">
Figma
</gcds-link>
</li>
</ul></p>
<p><div class="my-600 b-sm b-default component-preview">
<h2 class="container-full font-text font-semibold m-0 px-225 py-150 bb-sm b-default bg-light">
Grid component preview
</h2>
<div>
<iframe
            title="Grid component preview"
            src="/en/components/grid/preview/"
            style="display: block; margin: 0 auto;"
            frameBorder="0"
            width="100%"
            id="component-preview"
          ></iframe>
</div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/grid/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/grid/design/ >
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/grid/code/ aria-current=page>
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="build-a-grid">Build a grid</h2>
<p>Use grids to create flexible and responsive layouts for various screen sizes. The grid component uses CSS grid to allow for more complex layouts.</p>
<h2 id="code-and-accessibility-for-grids">Code and accessibility for grids</h2>
<h3 id="adjust-layouts-to-optimize-the-experience-on-different-screen-sizes">Adjust layouts to optimize the experience on different screen sizes</h3>
<ul class="list-disc mb-300"><li>Optimize each grid component for the different screen sizes a person will use — or switch between — when they visit your site or use your product.</li>
<li>Adapt for mobile, tablet, and large screens by defining each viewport layout for that grid component.<ul class="list-disc mb-300"><li>Smaller screens, like mobile devices, typically display a single column layout.</li>
<li>Medium-sized screens, like tablets, a single or 2-column layout.</li>
<li>Larger screens, like desktop, a 3- or 4- column layout.</li>
</ul>
</li>
<li>Use the <code>columns</code> property to add your layout for smaller screens or if you are using the same layout for all screens.</li>
<li>Use the <code>columns-tablet</code> property to set your tablet layout <strong>(48em and 768px and above)</strong> or if you are using the same layout for medium and large screens.</li>
<li>Use the <code>columns-desktop</code> property to define your layout for larger screens <strong>(64em and 1024px and above)</strong>.</li>
</ul>
<p>Tip: Keep layouts simple. Consider optimizing each layout for mobile, tablet, and desktop to provide a better user experience for all viewports.</p>
<h3 id="maintain-standard-tag-usage-to-be-accessible">Maintain standard tag usage to be accessible</h3>
<p>By default, the <code>tag</code> property is set to use a <code>div</code> tag.</p>
<ul class="list-disc mb-300"><li>Opt to change the tag to a context-appropriate value using standard tags. For example, when using an unordered list set the tag property to <code>ul</code>.</li>
<li>Choose a tag from the list of available options for grid in the code builder. Using established standards for HTML tags that are semantic increase the accessibility of the content and improves the experience for everyone.</li>
</ul>
<h3 id="add-spacing-between-columns">Add spacing between columns</h3>
<ul class="list-disc mb-300"><li>Use the <code>gap</code> property to add spacing between your <code>columns</code> in the grid.</li>
<li>Use GC Design System <a href="/en/styles/design-tokens">design tokens</a> as a reference for the size of the <code>gap</code> in the grid. The tokens measurements match up with the spacing values for the <code>gap</code> attribute (150-800).</li>
</ul>
<h3 id="choose-an-option-for-equal-width-columns">Choose an option for equal width columns</h3>
<p>Opt out of setting the minimum and maximum width when you want to design equal-width columns without width restrictions. This will allow the grid and its columns to scale to the size of the viewport.</p>
<p><strong>Example displaying 3 columns for desktop, 2 columns for tablet, and 1 column for mobile:</strong></p>
<p>Desktop</p>
<div class="b-sm mb-300 p-300">
  <gcds-grid tag="article" columns-desktop="1fr 1fr 1fr" columns-tablet="1fr 1fr" columns="1fr">
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
  </gcds-grid>
</div>
<p>Tablet</p>
<div class="b-sm mb-300 p-300">
  <gcds-grid tag="article" columns-tablet="1fr 1fr" columns="1fr">
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
  </gcds-grid>
</div>
<p>Mobile</p>
<div class="b-sm p-300">
  <gcds-grid tag="article" columns="1fr">
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
  </gcds-grid>
</div>
<p><div class="code-showcase mb-300">
<textarea class="showcase text-light mb-300 p-300" id="preview-grid-flexible" rows="8" aria-label="Code display - gcds-grid" tabindex="-1" aria-hidden="true" readonly>
<gcds-grid tag="article" columns-desktop="1fr 1fr 1fr" columns-tablet="1fr 1fr" columns="1fr">
<p>This is some example content to display the grid component.</p>
<p>This is some example content to display the grid component.</p>
<p>This is some example content to display the grid component.</p>
</gcds-grid>
</textarea>
<div>
<gcds-button
              class="showcase-view-button"
              button-type="button"
              button-role="secondary"
              aria-label="View code - gcds-grid"
              aria-controls="preview-grid-flexible"
              aria-expanded="false"
            >
View code
</gcds-button>
<gcds-button
              class="showcase-copy-button"
              button-type="button"
              button-role="secondary"
              lang="en"
            >
Copy code
</gcds-button>
</div>
</div></p>
<p>Set the minimum and maximum width to design equal-width columns with restrictions to limit how wide they will span on any screen size.</p>
<ul class="list-disc mb-300"><li>Set a minimum width when you want to prevent a column from being too narrow in smaller viewports.</li>
<li>Set a maximum width when you want to prevent a column from being too wide in larger viewports.</li>
</ul>
<p><strong>Example uses equal-width columns with a minimum width of 6.25rem (100px) and a maximum width of 18.75rem (300px) for all screen sizes:</strong></p>
<p>Desktop</p>
<div class="showcase-preview b-sm mb-300 p-300">
  <gcds-grid tag="article" columns="repeat(auto-fit, minmax(100px, 300px))">
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
    <p>This is some example content to display the grid component.</p>
  </gcds-grid>
</div>
<p>Tablet</p>
<div class="showcase-preview b-sm mb-300 p-300">
  <div class="container-md">
    <gcds-grid tag="article" columns="repeat(auto-fit, minmax(100px, 300px))">
      <p>This is some example content to display the grid component.</p>
      <p>This is some example content to display the grid component.</p>
      <p>This is some example content to display the grid component.</p>
    </gcds-grid>
  </div>
</div>
<p>Mobile</p>
<div class="showcase-preview b-sm p-300">
  <div class="container-sm">
    <gcds-grid tag="article" columns="repeat(auto-fit, minmax(100px, 300px))">
      <p>This is some example content to display the grid component.</p>
      <p>This is some example content to display the grid component.</p>
      <p>This is some example content to display the grid component.</p>
    </gcds-grid>
  </div>
</div>
<p><div class="code-showcase mb-300">
<textarea class="showcase text-light mb-300 p-300" id="preview-grid-fixed-width" rows="8" aria-label="Code display - gcds-grid" tabindex="-1" aria-hidden="true" readonly>
<gcds-grid tag="article" columns="repeat(auto-fit, minmax(100px, 300px))">
<p>This is some example content to display the grid component.</p>
<p>This is some example content to display the grid component.</p>
<p>This is some example content to display the grid component.</p>
</gcds-grid>
</textarea>
<div>
<gcds-button
              class="showcase-view-button"
              button-type="button"
              button-role="secondary"
              aria-label="View code - gcds-grid"
              aria-controls="preview-grid-fixed-width"
              aria-expanded="false"
            >
View code
</gcds-button>
<gcds-button
              class="showcase-copy-button"
              button-type="button"
              button-role="secondary"
              lang="en"
            >
Copy code
</gcds-button>
</div>
</div></p>
<h3 id="get-your-code">Get your code</h3>
<p>Generate an instance of the component you need by selecting its code properties.</p>
<ol class="list-decimal mb-300"><li>
<p>Explore by choosing different code values to generate the instance you want.</p>
</li>
<li>
<p>Get the code and pull it into your environment.</p>
</li>
<li>
<p>Add any copy you need to the component (like text for a label).</p>
</li>
</ol>
<p><strong>Note:</strong> The code builder uses English for all code elements, which follows standard practice.</p>
<iframe
  title="Overview of gcds-grid properties and events."
  src="https://cds-snc.github.io/gcds-components/iframe.html?viewMode=docs&demo=true&singleStory=true&id=components-grid--events-properties&lang=en"
  width="1200"
  height="2250"
  style="display: block; margin: 0 auto;"
  frameBorder="0"
  allow="clipboard-write"
></iframe>


  <section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
    target="_blank"
    rel="noopener noreferrer"
  >
    Report an issue on GitHub
  </gcds-button>
</section>



          <gcds-date-modified class="mb-300">
            2026-01-05
          </gcds-date-modified>
        </main>
      </gcds-grid>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://www.canada.ca/en/government/about-canada-ca.html", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
