<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error message - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  


<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/message-derreur/design/'
>
  



<gcds-top-nav slot="menu" label="Main" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/styles/"
      
    >
      Styles
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
      
        <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
          Components
        </gcds-breadcrumbs-item>
      
    
  </gcds-breadcrumbs>

</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout">
        
  
    <h1 id="error-message-brgcdserrormessage" class="mb-400">Error message <br><code>&lt;gcds-error-message&gt;</code></h1>
<p class="mb-400"><em>Also called: error, inline error.</em></p>
<p class="mb-400">An error message is a description of a problem blocking a user goal.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-error-message">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?node-id=479%3A317&t=ciEmm7GYyGAY73zZ-0">Figma</gcds-link>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Error message component preview
</p>
<div class="px-300 pt-400 pb-100"></p>
<p class="mb-400"><gcds-error-message message="Error message or validation message."></gcds-error-message></p>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Error message">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/error-message/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/error-message/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/error-message/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="error-message-anatomy" class="mt-500 mb-400">Error message anatomy</h2>
<ol class="anatomy-list">
  <li>The <strong>error message</strong> cites the problem in context and includes a call to action to address it.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-error-message-anatomy.svg" alt="Error message label in a light pink box and red line at the start of the box with Error/ Validation message text."/>
<h3 id="error-message-applied-to-a-form-component" class="mt-500 mb-400">Error message applied to a form component</h3>
<p class="mb-400">All GC Design System components come with default error handling for required form components.</p>
<p class="mb-400">For your own component instances, add the error message component, and include the following:</p>
<ol class="anatomy-list">
  <li>The <strong>required marker</strong> shows a response area, a field or selection, needs to be completed. An incomplete response or omission will prompt an error message.</li>
  <li>The <strong>hint text</strong> gives brief, specific instructions about the constraints of the response. It can give an example of an accepted response.</li>
  <li>The <strong>error message</strong> cites the problem in context and includes a call to action to address it.</li>
  <li>The <strong>response area</strong> takes on the appearance of the response format and error message state of the component it’s attached to. For an input or text area, the box will be highlighted. For radios or checkboxes, the options will be highlighted.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-error-message-anatomy-with-form-field.svg" alt="Error message taxonomy with these two areas, Required and Error message. Required shows Lable or legend (required) in a red text and Hint text below it. The error message is in a light pink box and red line at the start of the box with Error/ Validation message text."/>
<h2 id="design-and-accessibility-for-error-messages" class="mt-500 mb-400">Design and accessibility for error messages</h2>
<p class="mb-400">When you interrupt the flow of a person's action in your product, make the error and recovery obvious to get them back on task and they can regain momentum.</p>
<h3 id="identify-and-define-the-error" class="mt-500 mb-400">Identify and define the error</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Prepare error messages for each response constraint a component has. List out what could go wrong, and then design a short, specific statement describing each need.</li>
<li><p class="mb-400">Only provide one reason for the error. Tell them the criterion the response does not meet.</li>
<li><p class="mb-400">Avoid mentioning the user action that led to the problem. For example, &quot;You missed answering a question&quot; places the blame on the user, but &quot;This question needs a response&quot; identifies the problem blamelessly and neutrally.</li>
</ul>
<h3 id="get-the-person-back-on-track-with-a-call-to-action" class="mt-500 mb-400">Get the person back on track with a call to action</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Reduce additional friction by keeping the call to action specific and clear.</li>
<li><p class="mb-400">Provide one or two solutions for fixing the error, not a multi-step process.</li>
<li><p class="mb-400">Connect the dots for the person using your product. Avoid making them have to puzzle out what to do to correct an error.</li>
<li><p class="mb-400">State exactly what's needed to correct the issue and avoid the frustration of a repeat error.</li>
</ul>
<h3 id="write-a-message-thats-scanable" class="mt-500 mb-400">Write a message that's scanable</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Get rid of unnecessary details and include only the information a person needs to act on the problem.</li>
<li><p class="mb-400">Be concise. If it takes more than a line or two, the ask may be too complex.</li>
<li><p class="mb-400">Use sentence case and avoid caps and exclamation marks.</li>
<li><p class="mb-400">Follow a predictable format: what happened, why it happened, and what to do about it.</li>
</ul>
<p class="mb-400">Tip: Think about whether the message could be interpreted another way.</p>
<h3 id="use-a-human-tone" class="mt-500 mb-400">Use a human tone</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Talk the way the people using your product talk. Learn about them and their language by reading their requests or issues and by testing your messages with them in user research.</li>
<li><p class="mb-400">Use plain, conversational language, like the tone of voice you'd use if you were describing the error to the person directly.</li>
<li><p class="mb-400">Use and avoid jargon or coding terminology, like invalid code, unrecognized field, mandatory—and device.</li>
<li><p class="mb-400">Avoid using the word error or any negative words.</li>
</ul>
<p class="mb-400">Tip: To adopt a more human tone, think about explaining the error aloud to someone. How does it sound when you speak it in conversation?</p>


  <section class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2024-01-15
        </gcds-date-modified>
      </main>

      <gcds-footer
        display="compact"
        lang="en"
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
