<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error message - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- GCDS CSS Shortcuts -->
    <link rel="stylesheet" href="/gcds-docs/gcds-css-shortcuts.min.css" />

    <!-- Prism -->
    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <script src="/gcds-docs/scripts/prism.min.js"></script>

    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <script src="/gcds-docs/scripts/general.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/message-derreur/design/'
>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <gcds-grid columns="minmax(0, 1fr)" columns-desktop="320px minmax(0, 1fr)" tag="div" container="xl" centered class="xl:px-0 sm:px-600 px-225 general-layout">
        






















<gcds-side-nav label="GC Design System" class="side-nav lg:position-sticky box-border overflow-x-visible align-self-start px-75">
  <gcds-nav-link href="/en">Home</gcds-nav-link>
  <gcds-nav-link href="/en/start-to-use" >Start to use</gcds-nav-link>

  
  
  <gcds-nav-group
    menu-label="Page templates"
    open-trigger="Page templates"
    
  >
    <gcds-nav-link
      href="/en/page-templates"
      
    >
      Page templates overview
    </gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/basic/"
      
    >
      Basic page
    </gcds-nav-link>
  
</gcds-nav-group>

  
  
  <gcds-nav-group
    menu-label="Components"
    open-trigger="Components"
    open
  >
    <gcds-nav-link
      href="/en/components"
      
    >
      Components overview
    </gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/breadcrumbs/"
      
    >
      Breadcrumbs
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/button/"
      
    >
      Button
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/card/"
      
    >
      Card
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/checkboxes/"
      
    >
      Checkboxes
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/container/"
      
    >
      Container
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/date-input/"
      
    >
      Date input
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/date-modified/"
      
    >
      Date modified
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/details/"
      
    >
      Details
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/error-message/"
      current
    >
      Error message
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/error-summary/"
      
    >
      Error summary
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/fieldset/"
      
    >
      Fieldset
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/file-uploader/"
      
    >
      File uploader
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/footer/"
      
    >
      Footer
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/grid/"
      
    >
      Grid
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/header/"
      
    >
      Header
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/heading/"
      
    >
      Heading
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/icon/"
      
    >
      Icon
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/input/"
      
    >
      Input
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/language-toggle/"
      
    >
      Language toggle
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/link/"
      
    >
      Link
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/notice/"
      
    >
      Notice
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/pagination/"
      
    >
      Pagination
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/radios/"
      
    >
      Radios
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/screenreader-only/"
      
    >
      Screenreader-only
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/search/"
      
    >
      Search
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/select/"
      
    >
      Select
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/side-navigation/"
      
    >
      Side navigation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/signature/"
      
    >
      Signature
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/stepper/"
      
    >
      Stepper
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/text/"
      
    >
      Text
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/textarea/"
      
    >
      Textarea
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/theme-and-topic-menu/"
      
    >
      Theme and topic menu
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/top-navigation/"
      
    >
      Top navigation
    </gcds-nav-link>
  
</gcds-nav-group>

  

  <gcds-nav-group
    menu-label="CSS shortcuts"
    open-trigger="CSS shortcuts"
    
  >
    <gcds-nav-link
      href="/en/css-shortcuts"
      
    >
      CSS shortcuts overview
    </gcds-nav-link>
  
    <gcds-nav-group
      menu-label="Defaults"
      open-trigger="Defaults"
      
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/reset-styles/"
      
    >
      Reset styles
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Conditional styling"
      open-trigger="Conditional styling"
      
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/responsive-layout/"
      
    >
      Responsive layout
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/state/"
      
    >
      State
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Layout"
      open-trigger="Layout"
      
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/box-sizing/"
      
    >
      Box sizing
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/container-sizing/"
      
    >
      Container sizing
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/display/"
      
    >
      Display
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/overflow/"
      
    >
      Overflow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/position/"
      
    >
      Position
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/visibility/"
      
    >
      Visibility
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Typography"
      open-trigger="Typography"
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font/"
      
    >
      Font
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-family/"
      
    >
      Font family
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-size/"
      
    >
      Font size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-style/"
      
    >
      Font style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/font-weight/"
      
    >
      Font weight
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/line-height/"
      
    >
      Line height
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-colour/"
      
    >
      Link colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-size/"
      
    >
      Link size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/link-text-decoration/"
      
    >
      Link text decoration
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/list-style/"
      
    >
      List style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-align/"
      
    >
      Text align
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-colour/"
      
    >
      Text colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-overflow/"
      
    >
      Text overflow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/text-transform/"
      
    >
      Text transform
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/word-break/"
      
    >
      Word break
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Spacing"
      open-trigger="Spacing"
      
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/margin/"
      
    >
      Margin
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/padding/"
      
    >
      Padding
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Flexbox and grid"
      open-trigger="Flexbox and grid"
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-content/"
      
    >
      Align content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-items/"
      
    >
      Align items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/align-self/"
      
    >
      Align self
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex/"
      
    >
      Flex
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-direction/"
      
    >
      Flex direction
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-grow/"
      
    >
      Flex grow
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-shrink/"
      
    >
      Flex shrink
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/flex-wrap/"
      
    >
      Flex wrap
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/gap/"
      
    >
      Gap
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/grid-columns/"
      
    >
      Grid columns
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/grid-rows/"
      
    >
      Grid rows
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-content/"
      
    >
      Justify content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-items/"
      
    >
      Justify items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/justify-self/"
      
    >
      Justify self
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/order/"
      
    >
      Order
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-content/"
      
    >
      Place content
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-items/"
      
    >
      Place items
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/place-self/"
      
    >
      Place self
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Background and border"
      open-trigger="Background and border"
      
    
  
    
  
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/background-colour/"
      
    >
      Background colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-colour/"
      
    >
      Border colour
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-radius/"
      
    >
      Border radius
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-style/"
      
    >
      Border style
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/border-width/"
      
    >
      Border width
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Icon and image"
      open-trigger="Icon and image"
      
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/icon-names/"
      
    >
      Icon names
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/icon-size/"
      
    >
      Icon size
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/image/"
      
    >
      Image
    </gcds-nav-link>
  
</gcds-nav-group>
  

  
    <gcds-nav-group
      menu-label="Interactive"
      open-trigger="Interactive"
      
    
  
    
  
    
  
     >
  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/cursor/"
      
    >
      Cursor
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/pointer-events/"
      
    >
      Pointer events
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/css-shortcuts/transition/"
      
    >
      Transition
    </gcds-nav-link>
  
</gcds-nav-group>
  
</gcds-nav-group>

  

  <gcds-nav-group
    menu-label="Styles"
    open-trigger="Styles"
    
  >
    <gcds-nav-link href="/en/styles">Styles overview</gcds-nav-link>
    <gcds-nav-link href="/en/styles/design-tokens" >Design tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/colour" >Colour tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/spacing" >Spacing tokens</gcds-nav-link>
    <gcds-nav-link href="/en/styles/typography" >Typography tokens</gcds-nav-link>
  </gcds-nav-group>

  

  <gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
    
  
    
  
    
  
    
  
  >
    <gcds-nav-link href="/en/contact" >Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved" >Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo" >Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-side-nav>
        <main id="mc" class="general-layout" data-pagefind-body>
          
  
    <h1 id="error-message-brgcdserrormessage">Error message <br><code>&lt;gcds-error-message&gt;</code></h1>
<p><em>Also called: error, inline error.</em></p>
<p>An error message is a description of a problem blocking a user goal.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-error-message">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/community/file/1128687821123298228">
Figma
</gcds-link>
</li>
</ul></p>
<p><div class="my-600 b-sm b-default component-preview">
<h2 class="container-full font-text font-semibold m-0 px-225 py-150 bb-sm b-default bg-light">
Error message component preview
</h2>
<div>
<iframe
            title="Error message component preview"
            src="/en/components/error-message/preview/"
            style="display: block; margin: 0 auto;"
            frameBorder="0"
            width="100%"
            id="component-preview"
          ></iframe>
</div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/error-message/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/error-message/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/error-message/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="error-message-anatomy">Error message anatomy</h2>
<ol class="anatomy-list">
  <li>The <strong>error message</strong> cites the problem in context and includes a call to action to address it.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-error-message-anatomy.svg" alt='Error message anatomy represented by a warning icon (white exclamation mark within a red triangle) next to the text "Error message".'/>
<h3 id="error-message-applied-to-a-form-component">Error message applied to a form component</h3>
<p>All GC Design System components come with default error handling for required form components.</p>
<p>For your own component instances, add the error message component, and include the following:</p>
<ol class="anatomy-list">
  <li>The <strong>required marker</strong> shows a response area, a field or selection, needs to be completed. An incomplete response or omission will prompt an error message.</li>
  <li>The <strong>hint text</strong> gives brief, specific instructions about the constraints of the response. It can give an example of an accepted response.</li>
  <li>The <strong>error message</strong> cites the problem in context and includes a call to action to address it.</li>
  <li>The <strong>response area</strong> takes on the appearance of the response format and error message state of the component it’s attached to. For an input or text area, the box will be highlighted. For radios or checkboxes, the options will be highlighted.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-error-message-anatomy-with-form-field.svg" alt='Error message taxonomy represented by four elements: label or legend (required), hint / example message, warning icon next to the text "Error message" and a response area (red rectangle).' />
<h2 id="design-and-accessibility-for-error-messages">Design and accessibility for error messages</h2>
<p>When you interrupt the flow of a person's action in your product, make the error and recovery obvious to get them back on task and they can regain momentum.</p>
<h3 id="identify-and-define-the-error">Identify and define the error</h3>
<ul class="list-disc mb-300"><li>Prepare error messages for each response constraint a component has. List out what could go wrong, and then design a short, specific statement describing each need.</li>
<li>Only provide one reason for the error. Tell them the criterion the response does not meet.</li>
<li>Avoid mentioning the user action that led to the problem. For example, &quot;You missed answering a question&quot; places the blame on the user, but &quot;This question needs a response&quot; identifies the problem blamelessly and neutrally.</li>
</ul>
<h3 id="get-the-person-back-on-track-with-a-call-to-action">Get the person back on track with a call to action</h3>
<ul class="list-disc mb-300"><li>Reduce additional friction by keeping the call to action specific and clear.</li>
<li>Provide one or two solutions for fixing the error, not a multi-step process.</li>
<li>Connect the dots for the person using your product. Avoid making them have to puzzle out what to do to correct an error.</li>
<li>State exactly what's needed to correct the issue and avoid the frustration of a repeat error.</li>
</ul>
<h3 id="write-a-message-thats-scanable">Write a message that's scanable</h3>
<ul class="list-disc mb-300"><li>Get rid of unnecessary details and include only the information a person needs to act on the problem.</li>
<li>Be concise. If it takes more than a line or two, the ask may be too complex.</li>
<li>Use sentence case and avoid caps and exclamation marks.</li>
<li>Follow a predictable format: what happened, why it happened, and what to do about it.</li>
</ul>
<p>Tip: Think about whether the message could be interpreted another way.</p>
<h3 id="use-a-human-tone">Use a human tone</h3>
<ul class="list-disc mb-300"><li>Talk the way the people using your product talk. Learn about them and their language by reading their requests or issues and by testing your messages with them in user research.</li>
<li>Use plain, conversational language, like the tone of voice you'd use if you were describing the error to the person directly.</li>
<li>Use and avoid jargon or coding terminology, like invalid code, unrecognized field, mandatory—and device.</li>
<li>Avoid using the word error or any negative words.</li>
</ul>
<p>Tip: To adopt a more human tone, think about explaining the error aloud to someone. How does it sound when you speak it in conversation?</p>


  <section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
    target="_blank"
    rel="noopener noreferrer"
  >
    Report an issue on GitHub
  </gcds-button>
</section>



          <gcds-date-modified class="mb-300">
            2025-11-27
          </gcds-date-modified>
        </main>
      </gcds-grid>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
