<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Breadcrumbs - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/Chemin-de-navigation/code/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/get-involved/"
      
    >
      Get involved
    </gcds-nav-link>
  
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout" data-pagefind-body>
        
  
    <h1 id="breadcrumbs-brgcdsbreadcrumbs" class="mb-400">Breadcrumbs <br><code>&lt;gcds-breadcrumbs&gt;</code></h1>
<p class="mb-400"><em>Also called: breadcrumb trail.</em></p>
<p class="mb-400">Breadcrumbs is a path to the current page from each preceding level of the site's hierarchy.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-breadcrumbs">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/GC-Design-System?type=design&node-id=2353-7841&mode=design&t=TM0vYuC6hpDwd6Un-0">Figma</gcds-link>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview" id="component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Breadcrumbs component preview
</p>
<div class="px-300 py-400"></p>
<div aria-hidden="true">
  <gcds-breadcrumbs>
    <gcds-breadcrumbs-item href="#">Home page</gcds-breadcrumbs-item>
    <gcds-breadcrumbs-item href="#">Parent page link</gcds-breadcrumbs-item>
    </gcds-breadcrumbs-item>
  </gcds-breadcrumbs>
</div>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/breadcrumbs/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/breadcrumbs/design/ >
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/breadcrumbs/code/ aria-current=page>
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="build-a-breadcrumbs-component" class="mt-500 mb-400">Build a breadcrumbs component</h2>
<p class="mb-400">Use breadcrumbs to indicate the location of the current page in relation to its parents in the site structure.</p>
<h2 id="coding-and-accessibility-for-breadcrumbs" class="mt-500 mb-400">Coding and accessibility for breadcrumbs</h2>
<h3 id="start-with-the-canadaca-link-and-the-homepage-link" class="mt-500 mb-400">Start with the Canada.ca link and the homepage link</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Maintain the Canada.ca link as the default first breadcrumbs link for most websites and pages.</li>
<li><p class="mb-400">Opt to replace the Canada.ca link with the homepage link on transactional pages and stand alone websites or products. To remove the Canada.ca link at the head of the breadcrumbs, set the <code>hide-canada-link</code> attribute to <code>true</code>.</li>
</ul>
<p class="mb-400">Tip: For a process that does not have a traditional landing page, link to the starting page of the process.</p>
<h3 id="place-breadcrumbs-before-the-main-element" class="mt-500 mb-400">Place breadcrumbs before the <code>&lt;main&gt;</code> element</h3>
<p class="mb-400">Place breadcrumbs at the top of a page, before the <code>&lt;main&gt;</code> element. This way a skip-to-content link can work to let a person skip all navigation links, including breadcrumbs.</p>
<h3 id="use-breadcrumb-items-for-breadcrumbs-links" class="mt-500 mb-400">Use breadcrumb items for breadcrumbs links</h3>
<p class="mb-400">Add a new breadcrumbs link to the breadcrumbs component by using the <code>&lt;gcds-breadcrumbs-item&gt;</code> component. The link can be added through the <code>href</code> property.</p>
<h3 id="get-your-code" class="mt-500 mb-400">Get your code</h3>
<p class="mb-400">Generate an instance of the component you need by selecting its code properties.</p>
<ol class="list-decimal mb-400"><li>
<p class="mb-400">Explore by choosing different code values to generate the instance you want.</p>
</li>
<li>
<p class="mb-400">Get the code and pull it into your environment.</p>
</li>
<li>
<p class="mb-400">Add any copy you need to the component (like text for a label).</p>
</li>
</ol>
<p class="mb-400"><strong>Note:</strong> Following standard practice, the code builder uses English for all code elements.</p>
<iframe
  title="Overview of gcds-breadcrumbs properties and events."
  src="https://cds-snc.github.io/gcds-components/iframe.html?viewMode=docs&demo=true&id=components-breadcrumbs--events-properties&lang=en"
  width="1200"
  height="1150"
  style="display: block; margin: 0 auto;"
  frameBorder="0"
  allow="clipboard-write"
></iframe>


  <section data-pagefind-ignore class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2024-10-22
        </gcds-date-modified>
      </main>


      <gcds-footer
        display="full"
        lang="en"
        contextual-heading="Canadian Digital Service"
        contextual-links='{ "Sign up for mailing list": "/en/contact", "Report an issue": "https://github.com/cds-snc/gcds-components/issues/new/choose", "About us": "/en/about-us" }'
        sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms and conditions": "https://www.canada.ca/en/transparency/terms.html", "Privacy": "/en/privacy-notice" }'
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
