<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Footer - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/pied-de-page/code/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/"
      
    >
      Page templates
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/get-involved/"
      
    >
      Get involved
    </gcds-nav-link>
  
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-600 px-225 general-layout" data-pagefind-body>
        
  
    <h1 id="footer-brgcdsfooter" class="mb-300">Footer <br><code>&lt;gcds-footer&gt;</code></h1>
<p class="mb-300"><em>Also called: site footer.</em></p>
<p class="mb-300">The footer is the responsive Government of Canada branded footer landmark.</p>
<p class="mb-300"><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-footer">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=1802-4983&mode=design&t=qlhQWm8dGLGWTIi1-0">Figma</gcds-link>
</li>
</ul></p>
<p class="mb-300"><div class="my-600 b-sm b-default component-preview" id="component-preview">
<p class="container-full font-semibold px-225 py-150 bb-sm b-default bg-light">
Footer component preview
</p>
<div class="px-225 py-300"></p>
<img src="/images/en/components/example/example-footer-full-with-contextual-links.svg" alt="Website footer with two sections. First section in wide dark blue banner with multiple links like Contact us, News, Departments and agencies,Prime Minister,  and so on. Light grey banner with some links like Social media, Mobile applications, About Canada.ca, Terms of Conditions, Privacy. With a Canada logo at the corner."/>
<p class="mb-300"></div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/footer/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/footer/design/ >
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/footer/code/ aria-current=page>
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="build-a-footer" class="mt-600 mb-300">Build a footer</h2>
<p class="mb-300">Use the Government of Canada branded footer landmark for a consistent, accessible, and responsive landmark for your site or product.</p>
<h2 id="coding-and-accessibility-for-footers" class="mt-600 mb-300">Coding and accessibility for footers</h2>
<h3 id="choose-a-display-mode-using-the-display-property" class="mt-600 mb-300">Choose a display mode using the display property</h3>
<p class="mb-300">Use the <code>display</code> property to choose one of the two display modes: <code>compact</code> or <code>full</code>.</p>
<p class="mb-300">Choose the <strong>compact display</strong> to include:</p>
<ol class="list-decimal mb-300"><li><p class="mb-300">The footer links band and the Government of Canada wordmark.</li>
</ol>
<img class="b-sm b-default mt-300 mb-600 p-300" src="/images/en/components/example/example-footer-compact.svg" alt=""/>
<p class="mb-300">Include the <strong>full display</strong> if you need to include:</p>
<ol class="list-decimal mb-300"><li><p class="mb-300">The main band with a large selection of Government of Canada corporate links.</li>
<li><p class="mb-300">The footer links band and the Government of Canada wordmark.</li>
</ol>
<img class="b-sm b-default mt-300 mb-600 p-300" src="/images/en/components/example/example-footer-full.svg" alt=""/>
<p class="mb-300">Opt to include the contextual band to add up to three footer links for your product.</p>
<img class="b-sm b-default mt-300 mb-600 p-300" src="/images/en/components/example/example-footer-full-with-contextual-links.svg" alt=""/>
<h3 id="include-the-footer-links-band-for-government-of-canada-sites-and-products" class="mt-600 mb-300">Include the footer links band for Government of Canada sites and products</h3>
<ul class="list-disc mb-300"><li><p class="mb-300">Always maintain the integrity of the signature. Absolutely avoid modifying the signature in any way. In particular avoid stretching or changing the colours or text.</li>
<li><p class="mb-300">Pass either the <code>colour</code> or <code>white</code> display mode of the Government of Canada signature using the <code>signature-variant</code> attribute. Choose the <code>colour</code> display for a white background.</li>
</ul>
<h3 id="add-optional-elements-to-your-footer" class="mt-600 mb-300">Add optional elements to your footer</h3>
<ul class="list-disc mb-300"><li><p class="mb-300">Maintain the Canada wordmark and privacy and terms of reference links in the footer links band. Opt to remove the other links.</li>
<li><p class="mb-300">Add content to the contextual band by using both the <code>contextual-heading</code> and <code>contextual-links</code> attributes.</li>
<li><p class="mb-300">Use the <code>contextual-heading</code> attribute to assign heading text and the navigational landmark label of the contextual band.</li>
<li><p class="mb-300">Use the <code>contextual-links</code> attribute to set a maximum of three links in the contextual band. Add support links for your product or service, such as contact details for a program.</li>
<li><p class="mb-300">For the contextual band, set the <code>contextual-links</code>, by passing an object or an object in a string in the following format:</li>
</ul>

<div style="position: relative" id="code-container-91" >
  <pre class="language-js"><code id="code-91" class="language-js"><span class="token punctuation">{</span>
“1st link label”<span class="token operator">:</span> “href”
“2nd link label”<span class="token operator">:</span> “href”
“3rd link label”<span class="token operator">:</span> “href”
<span class="token punctuation">}</span></code></pre>

  <button class="code-copy "
    data-clipboard-target="#code-91"
    style="position: absolute; top: 7.5px; right: 6px; padding-top: 3px; cursor: pointer; outline: none; opacity: 0.8;" title="Copy">
    <span style="display:inline-block;background:url(https://api.iconify.design/mdi/content-copy.svg) no-repeat center center / contain;width: 16px; height: 16px;" class=""></span>
  </button>
</div>
<ul class="list-disc mb-300"><li><p class="mb-300">For the footer links band, set the <code>sub-links</code>, by passing an object or an object in a string in the following format:</li>
</ul>

<div style="position: relative" id="code-container-99" >
  <pre class="language-js"><code id="code-99" class="language-js"><span class="token punctuation">{</span>
“1st link label”<span class="token operator">:</span> “href”
“2nd link label”<span class="token operator">:</span> “href”
“3rd link label”<span class="token operator">:</span> “href”
<span class="token punctuation">}</span></code></pre>

  <button class="code-copy "
    data-clipboard-target="#code-99"
    style="position: absolute; top: 7.5px; right: 6px; padding-top: 3px; cursor: pointer; outline: none; opacity: 0.8;" title="Copy">
    <span style="display:inline-block;background:url(https://api.iconify.design/mdi/content-copy.svg) no-repeat center center / contain;width: 16px; height: 16px;" class=""></span>
  </button>
</div>
<h3 id="get-your-code" class="mt-600 mb-300">Get your code</h3>
<p class="mb-300">Generate an instance of the component you need by selecting its code properties.</p>
<ol class="list-decimal mb-300"><li>
<p class="mb-300">Explore by choosing different code values to generate the instance you want.</p>
</li>
<li>
<p class="mb-300">Get the code and pull it into your environment.</p>
</li>
<li>
<p class="mb-300">Add any copy you need to the component (like text for a label).</p>
</li>
</ol>
<p class="mb-300"><strong>Note:</strong> Following standard practice, the code builder uses English for all code elements.</p>
<iframe
  title="Overview of gcds-footer properties and events."
  src="https://cds-snc.github.io/gcds-components/iframe.html?viewMode=docs&demo=true&singleStory=true&id=components-footer--events-properties&lang=en"
  width="1200"
  height="2150"
  style="display: block; margin: 0 auto;"
  frameBorder="0"
  allow="clipboard-write"
></iframe>


  <section data-pagefind-ignore class="pt-75 mt-300 mb-900 bt-sm b-dark ">
  <h2 class="mt-225 mb-300">
    Help us improve
  </h2>

  <p class="mb-300">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-300">
          2024-12-18
        </gcds-date-modified>
      </main>


      <gcds-footer
        display="full"
        lang="en"
        contextual-heading="Canadian Digital Service"
        contextual-links='{ "Contact us": "/en/contact", "Report an issue": "https://github.com/cds-snc/gcds-components/issues/new/choose", "About us": "/en/about-us" }'
        sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms and conditions": "https://www.canada.ca/en/transparency/terms.html", "Privacy": "/en/privacy-notice" }'
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
