---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Jetons 1.0.0" locale="fr" section="tokens" version="1.0.0" pageKey="section">
  <h1>Jetons</h1>
<p>Instantané de la version 1.0.0.</p>
</VersionedDocLayout>
