---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Color 1.0.0" locale="en" section="tokens" version="1.0.0" pageKey="color">
  <h1>Color</h1>
<p>Color token docs in 1.0.0.</p>
</VersionedDocLayout>
