---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Tokens 1.0.0" locale="en" section="tokens" version="1.0.0" pageKey="section">
  <h1>Tokens</h1>
<p>Snapshot for version 1.0.0.</p>
</VersionedDocLayout>
