<div id="step-2-node" class="py-550 step-2-content">
  <h2 class="mb-400">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-400">{{ installation[locale].step2.node.paragraph }}</p>

  <h3 class="mt-500 mb-400">{{ installation[locale].step2.node.heading }}</h3>
  <p class="mb-400">{{ installation[locale].step2.node.install }}</p>

  {% highlight "js" %}
  npm install @cdssnc/gcds-components
  {% endhighlight %}

  <p class="mt-500 mb-400">{{ installation[locale].step2.node.place }}</p>

{% highlight "html" %}
<!-- Font Awesome (Icons) -->
<script src="{{ links.fontAwesome }}" crossorigin="anonymous"></script>

<!-- GC Design System -->
<link rel="stylesheet" href="/node_modules/@cdssnc/gcds-components/dist/gcds/gcds.css">
<script type="module" src="/node_modules/@cdssnc/gcds-components/dist/gcds/gcds.esm.js"></script>
<script nomodule src="/node_modules/@cdssnc/gcds-components/dist/gcds/gcds.js"></script>
{% endhighlight %}
</div>
