<div id="step-2-node" class="pb-600 step-2-content">
  <h2>{{ installation[locale].step2.heading }}</h2>
  <p>{{ installation[locale].step2.node.paragraph }}</p>

  <h3 class="mt-600">{{ installation[locale].step2.node.heading }}</h3>
  <p>{{ installation[locale].step2.node.install }}</p>

  {% highlight "js" %}
  npm install @cdssnc/gcds-components
  {% endhighlight %}

  <p class="mt-600">{{ installation[locale].step2.node.place | safe }}</p>

{% highlight "html" %}
<!-- Icons Font Awesome ({{ installation[locale].step2.node.icons }}) -->
<link rel="stylesheet" href="{{ links.fontAwesome }}" crossorigin="anonymous">

<!-- GC Design System -->
<link rel="stylesheet" href="/node_modules/@cdssnc/gcds-components/dist/gcds/gcds.css">
<script type="module" src="/node_modules/@cdssnc/gcds-components/dist/gcds/gcds.esm.js"></script>
<script nomodule src="/node_modules/@cdssnc/gcds-components/dist/gcds/gcds.js"></script>
{% endhighlight %}
</div>
