<div id="step-2-vue" class="py-550 step-2-content">
  <h2 class="mb-400">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-400">{{ installation[locale].step2.vue.paragraph }}</p>

  <h3 class="mt-500 mb-400">{{ installation[locale].step2.vue.heading }}</h3>
  <p class="mb-400">{{ installation[locale].step2.vue.install }}</p>

  {% highlight "js" %}
  npm install @cdssnc/gcds-components
  {% endhighlight %}

  <p class="mt-500 mb-400">{{ installation[locale].step2.vue.place }}</p>

{% highlight "js" %}
import { applyPolyfills, defineCustomElements } from '@cdssnc/gcds-components/loader';
import '@cdssnc/gcds-components/dist/gcds/gcds.css';

applyPolyfills().then(() => {
  defineCustomElements();
});
{% endhighlight %}
</div>
