<div id="step-2-react" class="py-550 step-2-content">
  <h2 class="mb-400">2. Getting started</h2>
  <p class="mb-400">Use these instructions to install GCDS components if you're using React.</p>

  <h3 class="mt-500 mb-400">Install with npm</h3>
  <p class="mb-400">Navigate to the root folder of your project and run:</p>

  {% highlight "js" %}
    npm install gcds-components gcds-components-react
  {% endhighlight %}

  <p class="mt-500 mb-400">Place the following code in the <code>index.js</code> file of your app:</p>

  {% highlight "js" %}
    import 'gcds-components-react/gcds.css'
  {% endhighlight %}
</div>
