<div id="step-2-figma" class="py-550 step-2-content">
  <h2 class="mb-400">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-400">{{ installation[locale].step2.figma.paragraph }}</p>
  <gcds-button
    type="link"
    button-role="secondary"
    href="{{ links.figma }}"
    target="_blank"
  >
    {{ installation[locale].step2.figma.buttonText }}
  </gcds-button>
</div>
