<div id="step-2-cdn" class="py-550 step-2-content">
  <h2 class="mb-400">2. Getting started</h2>
  <p class="mb-400">Use these instructions to install GCDS components with no framework.</p>

  <h3 class="mt-500 mb-400">Add the code</h3>
  <p class="mb-400">Place the following code in the <code>head</code> element of your project:</p>

{% highlight "html" %}
<!-- GC Design System -->
<link rel="stylesheet" href="https://unpkg.com/gcds-components/dist/gcds/gcds.css">
<script type="module" src="https://unpkg.com/gcds-components/dist/gcds/gcds.esm.js"></script>
<script nomodule src="https://unpkg.com/gcds-components/dist/gcds/gcds.js"></script>
{% endhighlight %}
  <small>Note: <code>script type="module"</code> requires a server to load properly, if developing locally, please use <code>script nomodule</code>.</small>
</div>
