<div id="step-2-angular" class="py-550 step-2-content">
  <h2 class="mb-400">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-400">{{ installation[locale].step2.angular.paragraph }}</p>

  <h3 class="mt-500 mb-400">{{ installation[locale].step2.angular.heading }}</h3>
  <p class="mb-400">{{ installation[locale].step2.angular.install }}</p>

  {% highlight "js" %}
  npm install @cdssnc/gcds-components @cdssnc/gcds-components-angular
  {% endhighlight %}

  <p class="mt-500 mb-400">{{ installation[locale].step2.angular.placeApp }}</p>

{% highlight "js" %}
import { GcdsComponentsModule } from '@cdssnc/gcds-components-angular';

@NgModule({
  declarations: [
    ...
  ],
  imports: [
    ...,
    GcdsComponentsModule
  ],
  providers: [],
  bootstrap: [...]
})

export class AppModule { }
{% endhighlight %}

  <p class="mt-500 mb-400">{{ installation[locale].step2.angular.placeStyles }}</p>

  {% highlight "js" %}
  @import '../node_modules/@cdssnc/gcds-components/dist/gcds/gcds.css';
  {% endhighlight %}
</div>
