<div class="mt-600 pt-600 pb-300 bg-full-width bg-light">
  <h2 class="mt-0">{{ installation[locale].step1.heading }}</h2>
  <p>{{ installation[locale].step1.paragraph }}</p>
  <gcds-select
    name="select-environment"
    select-id="select-environment"
    label="{{ installation[locale].step1.label }}"
    hint="{{ installation[locale].step1.hint }}"
    default-value="{{ installation[locale].step1.defaultValue }}"
  >
    <option value="step-2-angular">{{ installation[locale].step1.angular }}</option>
    <option value="step-2-react">{{ installation[locale].step1.react }}</option>
    <option value="step-2-vue">{{ installation[locale].step1.vue }}</option>
    <option value="step-2-node">{{ installation[locale].step1.node }}</option>
    <option value="step-2-cdn">{{ installation[locale].step1.cdn }}</option>
    <option value="step-2-figma">{{ installation[locale].step1.figma }}</option>
    <option value="step-2-none">{{ installation[locale].step1.other }}</option>
  </gcds-select>
</div>
