<div id="step-2-cdn" class="py-550 step-2-content">
  <h2 class="mb-400">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-400">{{ installation[locale].step2.cdn.paragraph }}</p>

  <h3 class="mt-500 mb-400">{{ installation[locale].step2.cdn.heading }}</h3>
  <p class="mb-400">{{ installation[locale].step2.cdn.place }}</p>

{% highlight "html" %}
<!-- Font Awesome (Icons) -->
<script src="{{ links.fontAwesome }}" crossorigin="anonymous"></script>

<!-- GC Design System -->
<link rel="stylesheet" href="https://unpkg.com/@cdssnc/gcds-components/dist/gcds/gcds.css">
<script type="module" src="https://unpkg.com/@cdssnc/gcds-components/dist/gcds/gcds.esm.js"></script>
<script nomodule src="https://unpkg.com/@cdssnc/gcds-components/dist/gcds/gcds.js"></script>
{% endhighlight %}
  <small>{{ installation[locale].step2.cdn.note }}</small>
</div>
