<div class="py-750 bg-full-width bg-light">
  <h2 class="mb-300">{{ installation[locale].step3.heading }}</h2>
  {% for value in installation[locale].step3.paragraphs %}
    <p class="mb-300">{{ value }}</p>
  {% endfor %}
  <gcds-button type="link" href="{{ installation[locale].step3.link }}">
    {{ installation[locale].step3.buttonText }}
  </gcds-button>
</div>