<div id="step-2-cdn" class="py-550 step-2-content">
  <h2 class="mb-400">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-400">{{ installation[locale].step2.cdn.paragraph }}</p>

  <h3 class="mt-500 mb-400">{{ installation[locale].step2.cdn.heading }}</h3>
  <p class="mb-400">{{ installation[locale].step2.cdn.place | safe }}</p>

{% highlight "html" %}
<!-- Icons Font Awesome ({{ installation[locale].step2.cdn.icons }}) -->
<link rel="stylesheet" href="{{ links.fontAwesome }}" crossorigin="anonymous">

<!-- GC Design System -->
<link rel="stylesheet" href="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@latest/dist/gcds/gcds.css">
<script type="module" src="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@latest/dist/gcds/gcds.esm.js"></script>
<script nomodule src="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@latest/dist/gcds/gcds.js"></script>
{% endhighlight %}

  <small>{{ installation[locale].step2.cdn.note }}</small>

  <h3 class="mt-500 mb-400">{{ installation[locale].step2.cdn.subheading | safe }}</h3>
  <p class="mb-400">{{ installation[locale].step2.cdn.latest | safe }}</p>
</div>
