<div id="step-2-figma" class="pb-600 step-2-content">
  <h2>{{ installation[locale].step2.heading }}</h2>
  <p>{{ installation[locale].step2.figma.paragraph }}</p>
  <gcds-button
    type="link"
    button-role="secondary"
    href="{{ links.figma }}"
    target="_blank"
  >
    {{ installation[locale].step2.figma.buttonText }}
  </gcds-button>
</div>
