<div id="step-2-react" class="pb-600 step-2-content">
  <h2>{{ installation[locale].step2.heading }}</h2>
  <p>{{ installation[locale].step2.react.paragraph }}</p>

  <h3 class="mt-600">{{ installation[locale].step2.react.heading }}</h3>
  <p>{{ installation[locale].step2.react.install }}</p>

  {% highlight "js" %}
    npm install @cdssnc/gcds-components @cdssnc/gcds-components-react
  {% endhighlight %}

  <p class="mt-600">{{ installation[locale].step2.react.place | safe }}</p>

  {% highlight "js" %}
    import '@cdssnc/gcds-components-react/gcds.css'
  {% endhighlight %}
</div>
