<div id="step-2-react" class="py-750 step-2-content">
  <h2 class="mb-300">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-300">{{ installation[locale].step2.react.paragraph }}</p>

  <h3 class="mt-600 mb-300">{{ installation[locale].step2.react.heading }}</h3>
  <p class="mb-300">{{ installation[locale].step2.react.install }}</p>

  {% highlight "js" %}
    npm install @cdssnc/gcds-components @cdssnc/gcds-components-react
  {% endhighlight %}

  <p class="mt-600 mb-300">{{ installation[locale].step2.react.place | safe }}</p>

  {% highlight "js" %}
    import '@cdssnc/gcds-components-react/gcds.css'
  {% endhighlight %}
</div>
