<div id="step-2-vue" class="pb-600 step-2-content">
  <h2>{{ installation[locale].step2.heading }}</h2>
  <p>{{ installation[locale].step2.vue.paragraph }}</p>

  <h3 class="mt-600">{{ installation[locale].step2.vue.heading }}</h3>
  <p>{{ installation[locale].step2.vue.install }}</p>

  {% highlight "js" %}
  npm install @cdssnc/gcds-components-vue
  {% endhighlight %}

  <p class="mt-600">{{ installation[locale].step2.vue.place | safe }}</p>

  {% highlight "js" %}
  import { GcdsComponents } from '@cdssnc/gcds-components-vue';

createApp(App).use(GcdsComponents).mount('#app');
  {% endhighlight %}

  <p class="mt-600">{{ installation[locale].step2.vue.globalStyles }} {{ installation[locale].step2.vue.styleOne | safe }}</p>

  {% highlight "js" %}
  import '@cdssnc/gcds-components-vue/gcds.css';
import './style.css';
  {% endhighlight %}

  <p class="mt-600">{{ installation[locale].step2.vue.styleTwo | safe }}</p>

  {% highlight "html" %}
  <style src='@cdssnc/gcds-components-vue/gcds.css'>
  /* global styles */
</style>
  {% endhighlight %}

</div>
