<div id="step-2-none" class="py-550 step-2-content">
  <h2 class="mb-400">2. Getting started</h2>
  <p class="mb-400">Not seeing any environment that matches? Reach out to us and we'll help you get started.</p>
  <gcds-button type="link" button-role="secondary" href="/en/contact/">Contact us</gcds-button>
</div>
