<div id="step-2-figma" class="py-550 step-2-content">
  <h2 class="mb-400">{{ installation[locale].step2.heading }}</h2>
  <p class="mb-400">{{ installation[locale].step2.figma.paragraph }}</p>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?node-id=4%3A1006&t=lfRjVYCfMS646UcI-0"
    target="_blank"
  >
    {{ installation[locale].step2.figma.buttonText }}
    <span class="fa fa-solid fa-external-link ms-100" role="img"></span>
  </gcds-button>
</div>
