<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Icon - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <script src="/gcds-docs/scripts/general.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/icone/design/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/en">GC Design System</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/"
      
    >
      Page templates
    </gcds-nav-link>
  
<gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
  >
    <gcds-nav-link href="/en/contact">Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved">Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo">Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-600 px-225 general-layout" >
        
  
    <h1 id="icon-brgcdsicon">Icon <br><code>&lt;gcds-icon&gt;</code></h1>
<p><em>Also called: symbol, glyph, graphic.</em></p>
<p>An icon is a symbol that visually represents an action or idea.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-icon">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/design/mh2maMG2NBtk41k1O1UGHV/GC-Design-System?node-id=1847-5001&p=f&t=Yo3cEgk0PtoiM8eX-0">Figma</gcds-link>
</li>
</ul></p>
<p><div class="my-600 b-sm b-default component-preview">
<h2 class="container-full font-text font-semibold m-0 px-225 py-150 bb-sm b-default bg-light">
Icon component preview
</h2>
<div>
<iframe
            title="Icon component preview"
            src="/en/components/icon/preview/"
            style="display: block; margin: 0 auto;"
            frameBorder="0"
            width="100%"
            id="component-preview"
          ></iframe>
</div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/icon/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/icon/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/icon/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="icon-anatomy">Icon anatomy</h2>
<ol class="anatomy-list">
  <li><strong>Icon</strong> is a symbol that visually represents an object, action, or idea.</li>
  <li><strong>Accompanying text</strong> is a word or phrase that gives additional context.</li>
</ol>
<img class="b-sm b-default p-300" src="/images/en/components/anatomy/gcds-icon-anatomy.svg" alt="An info icon next to the words “Accompanying text”. The text and icon are the same colour and size." />
<h2 id="design-and-accessibility-for-icon">Design and accessibility for icon</h2>
<h3 id="use-icon-intentionally">Use icon intentionally</h3>
<ul class="list-disc mb-300"><li>Use an icon to assist people with site functionality.</li>
<li>Use sparingly since too many icons create unnecessary distractions and reduce their effectiveness.</li>
</ul>
<h3 id="use-icon-with-text">Use icon with text</h3>
<ul class="list-disc mb-300"><li>Pair an icon with accompanying text to reduce ambiguity.</li>
<li>A universally understood icon can stand alone, like a search icon.</li>
<li>Place an icon before text unless indicating secondary information, like dropdown arrows.</li>
</ul>
<h3 id="write-a-meaningful-description">Write a meaningful description</h3>
<ul class="list-disc mb-300"><li>Use unique and specific accompanying text to prevent repetition for screen readers.</li>
<li>Use alt-text when there’s no accompanying text.</li>
</ul>
<h3 id="match-icon-and-text-size">Match icon and text size</h3>
<ul class="list-disc mb-300"><li>Match icon size to accompanying text, like using a small icon with small text.</li>
<li>Align the icon so it’s the same height as the accompanying text.</li>
<li>Use our sizing scale to ensure the icon size matches the text size.</li>
</ul>
<gcds-grid class="bg-light px-300 md:px-500 py-500 md:py-800 b-radius-lg" columns="1fr 1fr" columns-tablet="repeat(4, 1fr)" columns-desktop="repeat(8, 1fr)" gap="300" gap-tablet="450">
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>Text small</strong></gcds-text>
    <gcds-icon size="text-small" name="info-circle"></gcds-icon>
  </div>
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>Text</strong></gcds-text>
    <gcds-icon size="text" name="info-circle"></gcds-icon>
  </div>
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>H6</strong></gcds-text>
    <gcds-icon size="h6" name="info-circle"></gcds-icon>
  </div>
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>H5</strong></gcds-text>
    <gcds-icon size="h5" name="info-circle"></gcds-icon>
  </div>
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>H4</strong></gcds-text>
    <gcds-icon size="h4" name="info-circle"></gcds-icon>
  </div>
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>H3</strong></gcds-text>
    <gcds-icon size="h3" name="info-circle"></gcds-icon>
  </div>
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>H2</strong></gcds-text>
    <gcds-icon size="h2" name="info-circle"></gcds-icon>
  </div>
  <div class="text-center">
    <gcds-text size="small" text-role="secondary"><strong>H1</strong></gcds-text>
    <gcds-icon size="h1" name="info-circle"></gcds-icon>
  </div>
</gcds-grid>
<h3 id="choose-an-accessible-colour">Choose an accessible colour</h3>
<ul class="list-disc mb-300"><li>Use a solid colour that matches your accompanying text.</li>
<li>Check that the colour meets or exceeds WCAG 2.1 AA.</li>
</ul>


  <section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
  >
    Report an issue on GitHub
    <gcds-icon name="external" label=" (Opens destination in a new tab.)">
    </gcds-icon>
  </gcds-button>
</section>



        <gcds-date-modified class="mb-300">
          2025-06-25
        </gcds-date-modified>
      </main>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>
    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
