// Backgrounds
.bg-full-width {
  position: relative;
  width: calc(100% + var(--gcds-spacing-300));
  margin-inline: calc(-1 * var(--gcds-spacing-150));
  padding-inline: var(--gcds-spacing-150);

  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    content: '';
  }

  &:before {
    left: calc(-100vw + 0.01px);
  }

  &:after {
    right: calc(-100vw + 0.01px);
  }
}

.bg-black {
  background-color: var(--gcds-color-grayscale-1000);
  color: var(--gcds-text-light);

  &.bg-full-width {
    &:before,
    &:after {
      background-color: var(--gcds-color-grayscale-1000);
    }
  }
}

.bg-dark {
  background-color: var(--gcds-color-blue-900);
  color: var(--gcds-text-light);

  &.bg-full-width {
    &:before,
    &:after {
      background-color: var(--gcds-color-blue-900);
    }
  }
}

.bg-light {
  background-color: var(--gcds-color-grayscale-50);

  &.bg-full-width {
    &:before,
    &:after {
      background-color: var(--gcds-color-grayscale-50);
    }
  }
}

.bg-light-blue {
  background-color: var(--gcds-color-blue-100);
  color: var(--gcds-color-blue-800);

  &.bg-full-width {
    &:before,
    &:after {
      background-color: var(--gcds-color-blue-100);
    }
  }
}

.bg-white {
  background-color: var(--gcds-color-grayscale-0);

  &.bg-full-width {
    &:before,
    &:after {
      background-color: var(--gcds-color-grayscale-0);
    }
  }
}