<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fieldset - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  


<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/jeu-de-champs/code/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/styles/"
      
    >
      Styles
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
      
        <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
          Components
        </gcds-breadcrumbs-item>
      
    
  </gcds-breadcrumbs>

</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout">
        
  
    <h1 id="fieldset-brgcdsfieldset" class="mb-400">Fieldset <br><code>&lt;gcds-fieldset&gt;</code></h1>
<p class="mb-400"><em>Also called: form field.</em></p>
<p class="mb-400">A fieldset is a group of multiple form components or elements.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-fieldset">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=2328-7660&mode=design&t=qwNFRgCKhnoUtRXO-0">Figma</gcds-link>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Fieldset component preview
</p>
<div class="px-300 pt-400"></p>
<gcds-fieldset fieldset-id="fieldset" legend="Legend" hint="Hint / Example message.">
<gcds-input input-id="form-input" label="Input label" hint="Hint / Example message." size="6">
</gcds-input>
<gcds-select select-id="form-select" label="Select label" hint="Hint / Example message." default-value="Select option">
  <option value="option-1">Option 1</option>
  <option value="option-2">Option 2</option>
  <option value="option-3">Option 3</option>
</gcds-select>
</gcds-fieldset>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/fieldset/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/fieldset/design/ >
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/fieldset/code/ aria-current=page>
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="build-a-fieldset" class="mt-500 mb-400">Build a fieldset</h2>
<p class="mb-400">Use a fieldset to group together related form elements or components and make these groups perceivable. Also use them for components with multiple options, like <a href="/en/components/radio">radios</a> and <a href="/en/components/checkbox">checkboxes</a>.</p>
<h2 id="coding-and-accessibility-for-fieldsets" class="mt-500 mb-400">Coding and accessibility for fieldsets</h2>
<h3 id="handle-error-messages-and-validation" class="mt-500 mb-400">Handle error messages and validation</h3>
<ul class="list-disc mb-400"><li>
<p class="mb-400">Use the <code>required</code> attribute to activate the required validator. Validation will happen by default on the <code>onBlur</code> event. A missing or invalid entry will prompt an inline error message with preset text.</p>
</li>
<li>
<p class="mb-400">If you need to change the validation event, use the <code>validate-on</code> attribute. Validation can happen on blur, when the element loses focus, or manually with the <code>validate()</code> method.</p>
</li>
<li>
<p class="mb-400">Use the <code>required</code> attribute for fields that must be filled in. This places &quot;(required)&quot; at the end of the label.</p>
</li>
<li>
<p class="mb-400">Use the <code>error message</code> attribute to include an error message text for all required inputs. Avoid using error messages for optional ones.</p>
</li>
<li>
<p class="mb-400">For optional fields, avoid adding the <code>error-message</code> attribute.</p>
</li>
<li>
<p class="mb-400">For an optional field that needs validation based on user input (like validating an email address format), opt to add custom validation with a custom error message.</p>
</li>
</ul>
<h3 id="keep-hint-text-static-and-perceivable" class="mt-500 mb-400">Keep hint text static and perceivable</h3>
<p class="mb-400">Maintain the default <code>hint</code> attribute to provide additional context so a person can provide a complete value and avoid an error state. This places hint text under the fieldset <code>legend</code> and above the grouping.</p>
<h3 id="support-error-message-and-hint-text-for-radios-and-checkboxes" class="mt-500 mb-400">Support error message and hint text for radios and checkboxes</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">The <code>required</code> and <code>error-message</code> attributes for the fieldset work best with a group of <a href="/en/components/checkbox">checkboxes</a> or <a href="/en/components/radio">radio buttons</a>.</li>
<li><p class="mb-400">Maintain the fieldset's default <code>hint</code> text, validators, and error messages for radios and checkboxes.</li>
<li><p class="mb-400">For radios and checkboxes, making the <code>legend</code> the question or instruction (like an <a href="/en/components/input">input</a> label) helps people using assistive technology to understand the options are all related to that question.</li>
</ul>
<h3 id="validators" class="mt-500 mb-400">Validators</h3>
<p class="mb-400">The fieldset will only validate <a href="/en/components/checkbox">checkbox</a> and <a href="/en/components/radio">radio button</a> children.</p>
<ul class="list-disc mb-400"><li><p class="mb-400">Use the <code>required</code> attribute to activate the required validator. Validation will happen by default on the <code>onBlur</code> event.</li>
<li><p class="mb-400">If you need to change the validation event, use the <code>validate-on</code> attribute. Validation can happen on blur, when the element loses focus, or manually with the validate method.</li>
</ul>
<h3 id="get-your-code" class="mt-500 mb-400">Get your code</h3>
<p class="mb-400">Generate an instance of the component you need by selecting its code properties.</p>
<ol class="list-decimal mb-400"><li>
<p class="mb-400">Explore by choosing different code values to generate the instance you want.</p>
</li>
<li>
<p class="mb-400">Get the code and pull it into your environment.</p>
</li>
<li>
<p class="mb-400">Add any copy you need to the component (like text for a label).</p>
</li>
</ol>
<p class="mb-400"><strong>Note:</strong> Following standard practice, the code builder uses English for all code elements.</p>
<iframe
  title="Overview of gcds-fieldset properties and events."
  src="https://cds-snc.github.io/gcds-components/iframe.html?viewMode=docs&demo=true&singleStory=true&id=components-fieldset--events-properties&lang=en"
  width="1200"
  height="2300"
  style="display: block; margin: 0 auto;"
  frameBorder="0"
  allow="clipboard-write"
></iframe>


  <section class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2024-04-08
        </gcds-date-modified>
      </main>

      <gcds-footer
        display="compact"
        lang="en"
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
