.hero {
  margin: calc(-1 * var(--gcds-spacing-200));
  background: url(../../images/common/home/home-hero.png) top center no-repeat;
  background-size: cover;

  .bg-full-width {
    width: 80%;
    max-width: 40.625rem;

    &:after {
      display: none;
    }
  }
}
