.hero {
  margin: calc(-1 * var(--gcds-spacing-150));
  background: url(../../images/common/home/home-hero.jpg) top center no-repeat;
  background-size: cover;

  .hero__content {
    position: relative;
    width: 80%;
    max-width: 40.625rem;

    // &:before {
    //   position: absolute;
    //   top: 0;
    //   left: calc(-100vw + 0.01px);
    //   width: 100vw;
    //   height: 100%;
    //   content: '';
    //   background-color: var(--gcds-color-blue-900);
    // }
  }
}