---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Spacing 1.1.0" locale="en" section="cssShortcuts" version="1.1.0" pageKey="spacing">
  <h1>Spacing</h1>
<p>Spacing shortcuts in 1.1.0.</p>
</VersionedDocLayout>
