/*
 * General
 */

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  animation: fade 0.05s normal forwards ease-in-out;
}

.remove-empty-p p:empty {
  display: none;
}

iframe {
  max-width: 100%;
}

ul li {

  p.mb-300:has(+ ul),
  ul.mb-300 {
    margin-block-end: 0;
  }

  ul li {
    list-style: circle;
  }
}

.max-width-content {
  width: var(--gcds-text-character-limit);
  max-width: 100%;
}

.side-nav {
  top: 0;
  max-height: 100dvh;

  /* debating between this and overflow-y-scroll css shortcut */
  overflow-y: auto;

  /* avoids jump when the scrollbar appears */
  scrollbar-gutter: stable;
}