/*
 * General
 */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  color: var(--gcds-color-grayscale-1000);
  animation: fade 0.05s normal forwards ease-in-out;
}

.general-layout {
  margin-block: var(--gcds-spacing-500);
}

h1,
h2,
h3,
h4 {
  --flow-spacing: var(--gcds-spacing-600);
}

p {
  font: var(--gcds-font-text-long);
  max-width: 65ch;
}

code {
  font-family: var(--gcds-font-families-monospace);
  color: var(--gcds-color-red-700);
  background-color: var(--gcds-color-grayscale-50);
  padding-inline: var(--gcds-spacing-100);
  margin-inline: var(--gcds-spacing-50);
  box-shadow: 0 0 0 2px var(--gcds-color-grayscale-100);
}
