// Links
a[href] {
  text-decoration-color: currentColor;

  &:hover {
    color: var(--gcds-hover-default);
  }

  &:focus {
    border-radius: var(--gcds-border-radius-sm);
    background-color: var(--gcds-focus-background);
    color: var(--gcds-focus-text);
    text-decoration: none;
    box-shadow: 0 0 0 var(--gcds-border-width-md) var(--gcds-color-grayscale-0);
    outline-offset: var(--gcds-border-width-md);
    outline: var(--gcds-spacing-50) solid var(--gcds-focus-background);
  }
}

a[href]:not([class*="link-inherit"]):not([class*="link-light"]):not(:focus):not(
    :hover
  ) {
  color: var(--gcds-link-default);
}

h1 {
  max-width: 32ch;
}

h2 {
  max-width: 37ch;
}

h3 {
  max-width: 42ch;
}

h4 {
  max-width: 46ch;
}

h5 {
  max-width: 53ch;
}

h6 {
  max-width: 60ch;
}

// Paragraph and long form content
p {
  font: var(--gcds-font-text-long);
  max-width: 65ch;
}

ul li p:last-child,
ol li p:last-child {
  margin-block-end: var(--gcds-spacing-0) !important;
}

// Special typography components
code,
[class*="language-"] {
  font-family: var(--gcds-font-families-monospace);
}

code:not([class*="language-"]) {
  font-size: 80%;
  line-height: var(--gcds-line-heights-caption);
  padding: var(--gcds-spacing-50);
  background-color: var(--gcds-color-grayscale-50);
  border-radius: var(--gcds-border-radius-sm);
}
