// Links
a[href] {
  text-underline-offset: -0.1em;
  text-decoration-color: currentColor;

  &:hover {
    color: var(--gcds-hover-default);
    text-underline-offset: 0em;
    text-decoration-thickness: var(--gcds-border-width-md);
  }

  &:focus {
    background-color: var(--gcds-focus-background);
    color: var(--gcds-focus-text);
    text-decoration: none;
    outline: var(--gcds-border-width-md) solid var(--gcds-focus-background);
  }
}

a[href]:not([class*="link-inherit"]):not([class*="link-light"]):not(:focus):not(:hover) {
  color: var(--gcds-link-default);
}

h1 {
  max-width: 32ch;
}

h2 {
  max-width: 37ch;
}

h3 {
  max-width: 42ch;
}

h4 {
  max-width: 46ch;
}

h5 {
  max-width: 53ch;
}

h6 {
  max-width: 60ch;
}

// Paragraph and long form content
p {
  font: var(--gcds-font-text-long);
  max-width: 65ch;
}

ul li p:last-child,
ol li p:last-child {
  margin-block-end: var(--gcds-spacing-0) !important;
}

// Special typography components
code,
[class*="language-"] {
  font-family: var(--gcds-font-families-monospace);
}

code:not([class*="language-"]) {
  font-size: var(--gcds-font-sizes-caption);
  line-height: var(--gcds-line-heights-caption);
  padding: var(--gcds-spacing-50);
  background-color: #262626;
  color: var(--gcds-text-light);
}
