/*
 * General
 */
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  color: var(--gcds-color-grayscale-1000);
  animation: fade 0.05s normal forwards ease-in-out; }

.general-layout {
  margin-block: var(--gcds-spacing-500);
  padding-inline: var(--gcds-spacing-250); }

h1,
h2,
h3,
h4 {
  --flow-spacing: var(--gcds-spacing-600); }

p {
  font: var(--gcds-font-text-long);
  max-width: 65ch; }

code {
  font-family: var(--gcds-font-families-monospace);
  color: var(--gcds-color-red-700);
  background-color: var(--gcds-color-grayscale-50);
  padding-inline: var(--gcds-spacing-100);
  margin-inline: var(--gcds-spacing-50);
  box-shadow: 0 0 0 2px var(--gcds-color-grayscale-100); }

.doc-links {
  display: flex;
  gap: var(--gcds-spacing-250); }

@media (max-width: 48rem) {
  .table-overflow {
    max-width: 100%;
    overflow-x: scroll;
    box-shadow: inset -6px 0 0 var(--gcds-color-grayscale-50), inset 6px 0 0 var(--gcds-color-grayscale-50); } }

table {
  text-align: left;
  width: 100%; }
  .table-overflow table {
    min-width: var(--gcds-container-md);
    box-shadow: inset -6px 0 0 var(--gcds-color-grayscale-0), inset 6px 0 0 var(--gcds-color-grayscale-0); }
  table tr {
    border-block-end: 1px solid var(--gcds-border-default);
    vertical-align: baseline; }
  table tr:first-child {
    border-block-end: 2px solid var(--gcds-border-default); }
  table td,
  table th {
    padding: var(--gcds-spacing-300) var(--gcds-spacing-250); }
    table td:first-child,
    table th:first-child {
      padding-inline-start: 0; }
    table td:last-child,
    table th:last-child {
      padding-inline-end: 0; }
  table th {
    font-weight: var(--gcds-font-weights-medium);
    padding-block-start: 0; }
  table.table-display-token-color tr {
    vertical-align: top; }
  table.table-display-token-color td:nth-child(n + 1) > * {
    padding-block-start: var(--gcds-spacing-150); }
  table.table-display-token-color th:nth-child(1) {
    width: var(--gcds-spacing-500); }
  table.table-display-token-color th:nth-child(2) {
    width: 33%; }
  table.table-display-token-color th:nth-child(4) {
    width: 7ch; }
  table.table-display-token-typography th, table.table-display-token-fontFamilies th, table.table-display-token-fontWeights th {
    width: 20%;
    min-width: 210px; }
  table.table-display-token-typography th:nth-child(2), table.table-display-token-fontFamilies th:nth-child(2), table.table-display-token-fontWeights th:nth-child(2) {
    width: 30%; }
  table.table-display-token-typography th:nth-child(3), table.table-display-token-fontFamilies th:nth-child(3), table.table-display-token-fontWeights th:nth-child(3) {
    width: 50%; }
  table.table-display-token-dimension tr {
    vertical-align: top; }
  table .color-preview {
    width: var(--gcds-spacing-500);
    height: var(--gcds-spacing-500);
    border-radius: var(--gcds-spacing-500); }
  table .spacing-preview {
    background-color: var(--gcds-color-blue-500); }

.flow > * + * {
  margin-block-start: var(--flow-spacing, var(--gcds-spacing-400)); }
