<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "{{ '/components/loader/index.es2017.js' | url }}";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cds-snc/gc-design-tokens/build/web/variables.css">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <link href="./admin/config.yml" type="text/yaml" rel="cms-config-url">
    </head>
    <body>
        {% include "partials/header.njk" %}

        {% include "partials/nav.njk" %}

        <main>
            {{ content | safe }}
        </main>

        {% include "partials/footer.njk" %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                    });
                }
                });
            }
            </script>
    </body>
</html>
