<!DOCTYPE html>
<html lang="{{ locale }}" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}{{ title }} - {{ base[locale].gcds }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="{{ '/gcds-utility.min.css' | url }}" />

    <link rel="stylesheet" href="{{ '/styles/prism.css' | url }}">
    <link rel="stylesheet" href="{{ '/styles/style.css' | url }}">
    <script src="{{ '/scripts/code-showcase.js' | url }}"></script>
    <script src="{{ '/scripts/code-copy.js' | url }}"></script>
    <script src="{{ '/scripts/component-preview.js' | url }}"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="{{ '/favicon.ico' | url }}">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="{{ '/components/dist/gcds/gcds.css' | url }}">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="{{ '/scripts/search.js' | url }}" type="module"></script>

  </head>
  <body>
    {% include "partials/header.njk" %}

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-600 px-225 general-layout" {% if not nocrawl %}data-pagefind-body{% endif %}>
        {% block content %}{{ content | safe }}{% endblock %}

        <gcds-date-modified class="mb-300">
          {{ page.date | dateLastModified}}
        </gcds-date-modified>
      </main>

    {% include "partials/footer.njk" %}

    </div>

    {% if script %}
      <script src="{{ script | url }}"></script>
    {% endif %}

    {% initClipboardJS %}
  </body>
</html>
