<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "{{ '/components/loader/index.es2017.js' | url }}";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="{{ '/components/dist/gcds/gcds.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/prism.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/style.css' | url }}">
        <script src="/scripts/code-showcase.js" />

    </head>
    <body>
        <gcds-button
        type="link"
        task="skip-to-content"
        href="#content"
        >
        {{ base[locale].skipTo }}
        </gcds-button>

        {% include "partials/header.njk" %}

        <div {% if onThisPage %}class="sidebar-layout"{% endif %}>
            {% if onThisPage %}
                {% include "partials/onthispage.njk" %}
            {% endif %}

            <main id="content">
                {{ content | safe }}
            </main>
        </div>

        {% include "partials/footer.njk" %}
    </body>
</html>
