---
layout: "layouts/base.njk"
---

<section class="py-900">
  <h1 class="container-full text-center mb-600">{{ demo[locale].heading }}</h1>

  <h2>{{ demo[locale].subheading }}</h2>

  {# ------------- Alerts ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].alerts.heading }}</h3>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="success" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="info" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="warning" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="danger" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>

  {# ------------- Breadcrumbs ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].breadcrumbs.heading }}</h3>

  <gcds-breadcrumbs slot="breadcrumb">
    <gcds-breadcrumbs-item href="{{ demo[locale].breadcrumbs.content.gcLink }}">
      {{ demo[locale].breadcrumbs.content.gc }}
    </gcds-breadcrumbs-item>
    <gcds-breadcrumbs-item href="{{ demo[locale].breadcrumbs.content.componentsLink }}">
      {{ demo[locale].breadcrumbs.content.components }}
    </gcds-breadcrumbs-item>
  </gcds-breadcrumbs>

  {# ------------- Buttons ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].buttons.heading }}</h3>
  <gcds-button button-role="primary">
    {{ demo[locale].buttons.content.primary }}
  </gcds-button>
  <gcds-button button-role="secondary">
    {{ demo[locale].buttons.content.secondary }}
  </gcds-button>
  <gcds-button button-role="danger">
    {{ demo[locale].buttons.content.danger }}
  </gcds-button>
  <gcds-button button-role="skip-to-content">
    {{ demo[locale].buttons.content.skipToContent }}
  </gcds-button>
  <gcds-button type="link" button-style="text-only" href="#">
    {{ demo[locale].buttons.content.link }}
  </gcds-button>
  <gcds-button
    type="link"
    button-style="text-only"
    href="#"
    target="_blank"
  >
    {{ demo[locale].buttons.content.linkExternal }}
  </gcds-button>

  {# ------------- Container ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].containers.heading }}</h3>
  <gcds-container container="full">
    <div class="p-200 b-sm">{{ demo[locale].containers.content.full }}</div>
  </gcds-container>
  <br/>
  <gcds-container container="lg" centered>
    <div class="p-200 b-sm">{{ demo[locale].containers.content.centered }}</div>
  </gcds-container>
  <br/>
  <gcds-container container="xs">
    <div class="p-200 b-sm">{{ demo[locale].containers.content.xs }}</div>
  </gcds-container>

  {# ------------- Date modified ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].dateModified.heading }}</h3>
  <gcds-date-modified>2023-01-26</gcds-date-modified>

  {# ------------- Details ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].details.heading }}</h3>
  <gcds-details details-title="{{ demo[locale].details.content.heading }}">
    <p>{{ demo[locale].details.content.text }}</p>
  </gcds-details>

  {# ------------- Footer ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].footer.heading }}</h3>
  <gcds-footer
    display="full"
    contextual-heading="{{ demo[locale].footer.content.contextualHeading }}"
    contextual-links='{ "{{ demo[locale].footer.content.contextualLink1 }}": "#","{{ demo[locale].footer.content.contextualLink2 }}": "#", "{{ demo[locale].footer.content.contextualLink3 }}": "#"}'
  >
  </gcds-footer>

  {# ------------- Stepper + Form elements ------------- #}

  <gcds-stepper current-step="1" total-steps="4">
    {{ demo[locale].form.heading }}
  </gcds-stepper>
  <form>
    <gcds-input
      input-id="form-name"
      label="{{ demo[locale].form.content.input.label }}"
      hint="{{ demo[locale].form.content.input.hint }}"
      required
    ></gcds-input>

    <gcds-input
      input-id="form-number"
      type="number"
      size="10"
      label="{{ demo[locale].form.content.inputNumber.label }}"
      hint="{{ demo[locale].form.content.inputNumber.hint }}"
      required
    ></gcds-input>

    <gcds-textarea
      textarea-id="form-message"
      label="{{ demo[locale].form.content.textarea.label }}"
      hint="{{ demo[locale].form.content.textarea.hint }}"
    ></gcds-textarea>

    <gcds-checkbox
      checkbox-id="form-checkbox"
      label="{{ demo[locale].form.content.checkbox.label }}"
      hint="{{ demo[locale].form.content.checkbox.hint }}"
      checked=""
    ></gcds-checkbox>

    <gcds-fieldset
      fieldset-id="fieldset"
      legend="{{ demo[locale].form.content.fieldset.legend }}"
      hint="{{ demo[locale].form.content.fieldset.hint }}"
    >
      <gcds-radio
        radio-id="form-radio-1"
        label="{{ demo[locale].form.content.radio1.label }}"
        hint="{{ demo[locale].form.content.radio1.hint }}"
        name="radio"
        checked
      ></gcds-radio>
      <gcds-radio
        radio-id="form-radio-2"
        label="{{ demo[locale].form.content.radio2.label }}"
        hint="{{ demo[locale].form.content.radio2.hint }}"
        name="radio"
      ></gcds-radio>
    </gcds-fieldset>

    <gcds-select
      select-id="form-select"
      label="{{ demo[locale].form.content.select.label }}"
      hint="{{ demo[locale].form.content.select.hint }}"
      error-message="{{ demo[locale].form.content.select.errorMessage }}"
      default-value="{{ demo[locale].form.content.select.defaultValue }}"
    >
      <option>{{ demo[locale].form.content.select.option1 }}</option>
      <option>{{ demo[locale].form.content.select.option2 }}</option>
      <option>{{ demo[locale].form.content.select.option3 }}</option>
    </gcds-select>

    <gcds-file-uploader
      uploader-id="form-uploader"
      label="{{ demo[locale].form.content.fileUploader.label }}"
      hint="{{ demo[locale].form.content.fileUploader.hint }}"
      accept="image/png"
      multiple
    ></gcds-file-uploader>
  </form>

  {# ------------- Grid ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].grid.heading }}</h3>
  <gcds-grid
    tag="article"
    columns-desktop="1fr 1fr 1fr 1fr"
    columns-tablet="1fr 1fr"
    columns="1fr"
  >
    <p>{{ demo[locale].grid.content.text }}</p>
    <p>{{ demo[locale].grid.content.text }}</p>
    <p>{{ demo[locale].grid.content.text }}</p>
    <p>{{ demo[locale].grid.content.text }}</p>
  </gcds-grid>

  {# ------------- Header ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].header.heading }}</h3>
  <gcds-header
    lang="{{ demo[locale].header.content.lang }}"
    lang-href="#"
    signature-variant="colour"
    skip-to-href="#"
  >
    <gcds-site-menu slot="menu" alignment="right">
      <a href="#" class="home-link link-inherit link-no-underline" slot="left">{{ demo[locale].header.content.logo }}</a>
      <ul>
        <li>
          <a href="#">{{ demo[locale].header.content.link }}</a>
        </li>
        <li>
          <a href="#">{{ demo[locale].header.content.link }}</a>
        </li>
        <li>
          <a href="#">{{ demo[locale].header.content.link }}</a>
        </li>
      </ul>
    </gcds-site-menu>
    <gcds-breadcrumbs slot="breadcrumb">
      <gcds-breadcrumbs-item href="#">{{ demo[locale].header.content.breadcrumb }}</gcds-breadcrumbs-item>
    </gcds-breadcrumbs>
  </gcds-header>

  {# ------------- Icons ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].icons.heading }}</h3>
  <gcds-icon name="tree" size="text-small" margin-right="200"></gcds-icon>
  <gcds-icon name="tree" size="text" margin-right="200"></gcds-icon>
  <gcds-icon name="tree" size="h6" margin-right="200"></gcds-icon>
  <gcds-icon name="tree" size="h5" margin-right="200"></gcds-icon>
  <gcds-icon name="tree" size="h4" margin-right="200"></gcds-icon>
  <gcds-icon name="tree" size="h3" margin-right="200"></gcds-icon>
  <gcds-icon name="tree" size="h2" margin-right="200"></gcds-icon>
  <gcds-icon name="tree" size="h1" margin-right="200"></gcds-icon>

  <h4 class="mt-600 mb-300">{{ demo[locale].icons.content.fixed }}</h4>
  <gcds-icon name="tree" size="text-small" fixed-width></gcds-icon>
  <gcds-icon name="tree" size="text" fixed-width></gcds-icon>
  <gcds-icon name="tree" size="h6" fixed-width></gcds-icon>
  <gcds-icon name="tree" size="h5" fixed-width></gcds-icon>
  <gcds-icon name="tree" size="h4" fixed-width></gcds-icon>
  <gcds-icon name="tree" size="h3" fixed-width></gcds-icon>
  <gcds-icon name="tree" size="h2" fixed-width></gcds-icon>
  <gcds-icon name="tree" size="h1" fixed-width></gcds-icon>

  <h4 class="mt-600 mb-300">{{ demo[locale].icons.content.variable }}</h4>
  <gcds-icon name="tree" size="text-small"></gcds-icon>
  <gcds-icon name="tree" size="text"></gcds-icon>
  <gcds-icon name="tree" size="h6"></gcds-icon>
  <gcds-icon name="tree" size="h5"></gcds-icon>
  <gcds-icon name="tree" size="h4"></gcds-icon>
  <gcds-icon name="tree" size="h3"></gcds-icon>
  <gcds-icon name="tree" size="h2"></gcds-icon>
  <gcds-icon name="tree" size="h1"></gcds-icon>

  {# ------------- Pagination ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].pagination.heading }}</h3>

  <p>{{ demo[locale].pagination.content.list }}:</p>
  <gcds-pagination
    display="list"
    label="{{ demo[locale].pagination.content.list }}"
    type="list"
    total-pages="22"
    current-page="8"
    url={}
    pageChangeHandler={}
  ></gcds-pagination>

  <p class="mt-600">{{ demo[locale].pagination.content.simple }}:</p>
  <gcds-pagination
    display="simple"
    label="{{ demo[locale].pagination.content.simple }}"
    previous-href="#"
    previous-label="{{ demo[locale].pagination.content.previousLabel }}"
    next-href="#"
    next-label="{{ demo[locale].pagination.content.nextLabel }}"
  ></gcds-pagination>

  {# ------------- Phase banner ------------- #}

  <h3 class="container-full mt-600 mb-300 bb-sm">{{ demo[locale].phaseBanner.heading }}</h3>
  <gcds-phase-banner banner-role="primary">
    <gcds-icon name="tree" size="sm" slot="banner-icon-left"></gcds-icon>
    <p slot="banner-text">{{ demo[locale].phaseBanner.content.text }}</p>
  </gcds-phase-banner>
</section>
