<!DOCTYPE html>
<html lang="{{ locale }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} - {{ base[locale].gcds }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="{{ '/utilities.min.css' | url }}" />

    <link rel="stylesheet" href="{{ '/styles/prism.css' | url }}">
    <link rel="stylesheet" href="{{ '/styles/style.css' | url }}">
    <script src="{{ '/scripts/code-showcase.js' | url }}"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="{{ '/favicon.ico' | url }}">

    {# Font awesome 6 kit for this doc website. Anyone can create a free kit for open source. #}
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="{{ '/components/dist/gcds/gcds.css' | url }}">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <meta name="robots" content="noindex">
  </head>
  <body style="margin: 0">
    {# ------------- Header ------------- #}

    <gcds-header
      lang="en"
      lang-href="/fr"
      signature-variant="colour"
      skip-to-href="#"
    >

      {# ------------- Site menu ------------- #}

      <gcds-site-menu slot="menu" alignment="right">
        <a href="/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</a>
        <ul>
          <li>
            <a href="/en/installation">Installation</a>
          </li>
          <li>
            <a href="/en/foundations">Foundations</a>
          </li>
          <li>
            <a href="/en/components">Components</a>
          </li>
          <li>
            <a href="/en/contact">Contact us</a>
          </li>
        </ul>
      </gcds-site-menu>

      {# ------------- Breadcrumbs ------------- #}

      <!-- Breadcrumb without canada.ca link -->
      <gcds-breadcrumbs slot="breadcrumb" hide-canada-link>
        <gcds-breadcrumbs-item href="/">Home</gcds-breadcrumbs-item>
      </gcds-breadcrumbs>
    </gcds-header>

    <section class="container-xl mx-auto py-600">
      <h1 class="text-center mb-500">{{ demo[locale].heading }}</h1>

      <h2>{{ demo[locale].subheading }}</h2>

      {# ------------- Alerts ------------- #}

      <h3 class="mt-500 mb-400 bb-sm">{{ demo[locale].alerts.heading }}</h3>
      <gcds-alert heading="{{ demo[locale].alerts.content.heading.success }}" alert-role="success" container="xl">
        <p>{{ demo[locale].alerts.content.text }}</p>
      </gcds-alert>
      <gcds-alert heading="{{ demo[locale].alerts.content.heading.info }}" alert-role="info" container="xl">
        <p>{{ demo[locale].alerts.content.text }}</p>
      </gcds-alert>
      <gcds-alert heading="{{ demo[locale].alerts.content.heading.warning }}" alert-role="warning" container="xl">
        <p>{{ demo[locale].alerts.content.text }}</p>
      </gcds-alert>
      <gcds-alert heading="{{ demo[locale].alerts.content.heading.danger }}" alert-role="danger" container="xl">
        <p>{{ demo[locale].alerts.content.text }}</p>
      </gcds-alert>

      {# ------------- Breadcrumbs ------------- #}

      <h3 class="mt-500 mb-400 bb-sm">{{ demo[locale].breadcrumbs.heading }}</h3>

      <!-- Breadcrumb without canada.ca link -->
      <gcds-breadcrumbs slot="breadcrumb" hide-canada-link>
        <gcds-breadcrumbs-item href="/">
          {{ demo[locale].breadcrumbs.content.gc }}
        </gcds-breadcrumbs-item>
        <gcds-breadcrumbs-item href="{{ demo[locale].breadcrumbs.content.componentsLink }}">
          {{ demo[locale].breadcrumbs.content.components }}
        </gcds-breadcrumbs-item>
      </gcds-breadcrumbs>

      <!-- Breadcrumb with canada.ca link -->
      <gcds-breadcrumbs slot="breadcrumb">
        <gcds-breadcrumbs-item href="/">
          {{ demo[locale].breadcrumbs.content.gc }}
        </gcds-breadcrumbs-item>
        <gcds-breadcrumbs-item href="/en/components">
          {{ demo[locale].breadcrumbs.content.components }}
        </gcds-breadcrumbs-item>
      </gcds-breadcrumbs>

      {# ------------- Buttons ------------- #}

      <h3 class="mt-500 mb-400 bb-sm">{{ demo[locale].buttons.heading }}</h3>
      <gcds-button button-role="primary">
        {{ demo[locale].buttons.content.primary }}
      </gcds-button>
      <gcds-button button-role="secondary">
        {{ demo[locale].buttons.content.secondary }}
      </gcds-button>
      <gcds-button button-role="danger">
        {{ demo[locale].buttons.content.danger }}
      </gcds-button>
      <gcds-button button-role="skip-to-content">
        {{ demo[locale].buttons.content.skipToContent }}
      </gcds-button>
      <gcds-button type="link" button-style="text-only" href="#">
        {{ demo[locale].buttons.content.link }}
      </gcds-button>
      <gcds-button
        type="link"
        button-style="text-only"
        href="#"
        target="_blank"
      >
        {{ demo[locale].buttons.content.linkExternal }}
        <span class="fa fa-solid fa-external-link ms-100" role="img"></span>
      </gcds-button>

      {# ------------- Details ------------- #}

      <h3 class="mt-700 mb-400 bb-sm">{{ demo[locale].details.heading }}</h3>
      <gcds-details details-title="{{ demo[locale].details.content.heading }}">
        <p>{{ demo[locale].details.content.text }}</p>
      </gcds-details>

      {# ------------- Stepper + Form elements ------------- #}

      <h3 class="mt-700 mb-400 bb-sm">{{ demo[locale].form.heading }}</h3>
      <gcds-stepper current-step="1" total-steps="3"></gcds-stepper>
      <form>
        <gcds-input
          input-id="form-name"
          label="{{ demo[locale].form.content.input.label }}"
          hint="{{ demo[locale].form.content.input.hint }}"
          required
        ></gcds-input>

        <gcds-input
          input-id="form-number"
          type="number"
          size="10"
          label="{{ demo[locale].form.content.inputNumber.label }}"
          hint="{{ demo[locale].form.content.inputNumber.hint }}"
          required
        ></gcds-input>

        <gcds-textarea
          textarea-id="form-message"
          label="{{ demo[locale].form.content.textarea.label }}"
          hint="{{ demo[locale].form.content.textarea.hint }}"
          character-count="400"
        ></gcds-textarea>

        <gcds-checkbox
          checkbox-id="form-checkbox"
          label="{{ demo[locale].form.content.checkbox.label }}"
          hint="{{ demo[locale].form.content.checkbox.hint }}"
          checked=""
        ></gcds-checkbox>

        <gcds-fieldset
          fieldset-id="fieldset"
          legend="{{ demo[locale].form.content.fieldset.legend }}"
          hint="{{ demo[locale].form.content.fieldset.hint }}"
        >
          <gcds-radio
            radio-id="form-radio-1"
            label="{{ demo[locale].form.content.radio1.label }}"
            hint="{{ demo[locale].form.content.radio1.hint }}"
            name="radio"
          ></gcds-radio>
          <gcds-radio
            radio-id="form-radio-2"
            label="{{ demo[locale].form.content.radio2.label }}"
            hint="{{ demo[locale].form.content.radio2.hint }}"
            name="radio"
          ></gcds-radio>
        </gcds-fieldset>

        <gcds-select
          select-id="form-select"
          label="{{ demo[locale].form.content.select.label }}"
          hint="{{ demo[locale].form.content.select.hint }}"
          error-message="{{ demo[locale].form.content.select.errorMessage }}"
          default-value="{{ demo[locale].form.content.select.defaultValue }}"
        >
          <option>{{ demo[locale].form.content.select.option1 }}</option>
          <option>{{ demo[locale].form.content.select.option2 }}</option>
          <option>{{ demo[locale].form.content.select.option3 }}</option>
        </gcds-select>

        <gcds-file-uploader
          uploader-id="form-uploader"
          label="{{ demo[locale].form.content.fileUploader.label }}"
          hint="{{ demo[locale].form.content.fileUploader.hint }}"
          accept="image/png"
          multiple
        ></gcds-file-uploader>
      </form>

      {# ------------- Grid ------------- #}

      <h3 class="mt-700 mb-400 bb-sm">{{ demo[locale].grid.heading }}</h3>
      <gcds-grid
        tag="article"
        columns-desktop="1fr 1fr 1fr 1fr"
        columns-tablet="1fr 1fr"
        columns="1fr"
        gap="500"
      >
        <p>{{ demo[locale].grid.content.text }}</p>
        <p>{{ demo[locale].grid.content.text }}</p>
        <p>{{ demo[locale].grid.content.text }}</p>
        <p>{{ demo[locale].grid.content.text }}</p>
      </gcds-grid>

      {# ------------- Icons ------------- #}

      {# <h3 class="mt-700 mb-400 bb-sm">{{ demo[locale].icons.heading }}</h3>
      <gcds-icon name="close" size="caption" margin-right="200"></gcds-icon>
      <gcds-icon name="cloud" size="text" margin-right="200"></gcds-icon>
      <gcds-icon name="info-circle" size="h3" margin-right="200"></gcds-icon>
      <gcds-icon name="tree" size="h2" margin-right="200"></gcds-icon>
      <gcds-icon name="folder" size="h1"></gcds-icon>
      <gcds-icon name="folder" icon-style="regular" size="h1"></gcds-icon>
      </br>
      <gcds-icon name="tree" size="text" fixed-width></gcds-icon>
      <gcds-icon name="folder" size="text" fixed-width></gcds-icon>
      <gcds-icon name="fire" size="text" fixed-width></gcds-icon>
      <gcds-icon name="utensils" size="text" fixed-width></gcds-icon>
      <gcds-icon name="arrow-left" size="text" fixed-width margin-left="500"></gcds-icon>
      <span>{{ demo[locale].icons.content.fixed }}</span>
      </br>
      <gcds-icon name="tree" size="text"></gcds-icon>
      <gcds-icon name="folder" size="text"></gcds-icon>
      <gcds-icon name="fire" size="text"></gcds-icon>
      <gcds-icon name="utensils" size="text"></gcds-icon>
      <gcds-icon name="arrow-left" size="text" margin-left="500"></gcds-icon>
      <span>{{ demo[locale].icons.content.variable }}</span> #}

      {# ------------- Pagination ------------- #}

      <h3 class="mt-700 mb-400 bb-sm">{{ demo[locale].pagination.heading }}</h3>

      <p>{{ demo[locale].pagination.content.list }}</p>
      <gcds-pagination
        display="list"
        label="List pagination"
        type="list"
        total-pages="22"
        current-page="8"
        url={}
        pageChangeHandler={}
      ></gcds-pagination>

      <p class="mt-500">{{ demo[locale].pagination.content.simple }}</p>
      <gcds-pagination
        display="simple"
        label="Simple Pagination"
        previous-href="#"
        next-href="#"
      ></gcds-pagination>

      {# ------------- Phase banner ------------- #}

      <h3 class="mt-700 mb-400 bb-sm">{{ demo[locale].phaseBanner.heading }}</h3>
      <gcds-phase-banner banner-role="primary">
        <gcds-icon name="tree" size="sm" slot="banner-icon-left"></gcds-icon>
        <p slot="banner-text">{{ demo[locale].phaseBanner.content.text }}</p>
      </gcds-phase-banner>

      {# ------------- Date modified ------------- #}

      <h3 class="mt-700 mb-400 bb-sm">{{ demo[locale].dateModified.heading }}</h3>
      <gcds-date-modified>2023-01-26</gcds-date-modified>
    </section>

    {# ------------- Footer ------------- #}

    <gcds-footer
      display="full"
      contextual-heading="Additional content"
      contextual-links='{ "Components": "#","Tokens": "#", "Foundations": "#"}'
    >
    </gcds-footer>
  </body>
</html>
