---
layout: "layouts/base.njk"
---

{{ content | safe }}

{% if locale == "en" %}
    {% set tokens = "foundationsEN" %}
{% else %}
    {% set tokens = "foundationsFR" %}
{% endif %}

{% set navPages = collections.all | eleventyNavigation(tokens) %}

<ul>
{%- for entry in navPages %}
    <li>
        <a href={{entry.url}}>
            {{ entry.title }}
        </a>
    </li>
{%- endfor -%}
</ul>