{% extends "layouts/base.njk" %}
{% set example = ["example", locale | upper] | join %}

{% block content %}

  {{ content | safe }}

{# Use collections to load pages. These pages were added to a collection using the tag in frontmatter.
This can also be acomplished with eleventyNavigation if you want to only load child pages. #}

<gcds-grid tag="ul" columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" gap="400">
{%- for post in collections[example] -%}
  <gcds-card
    href="{{ post.url }}"
    card-title="{{ post.data.title }}"
    title-element="h2"
    description="{{ post.data.description }}"
  >
  </gcds-card>
{%- endfor -%}
</gcds-grid>

{% include "partials/example.njk" %}

{% endblock %}
