<!DOCTYPE html>
<html lang="{{ locale }}" dir="ltr">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "partials/header.njk" %}

    <div class="content-wrapper">

      <main id="mc" class="general-layout">
        <section>
            <div class="xl:py-900 md:py-800 py-600 hero">
              <div class="container-xl mx-auto">
                <article class="sm:py-550 py-450 xl:ps-0 sm:ps-500 ps-450 sm:pe-550 pe-400 bg-primary text-light hero__content">
                  <h1 class="mb-400">
                    <span class="d-block">{{ homehero[locale].gcds }}</span>
                  </h1>
                  <p class="mb-400">{{ homehero[locale].paragraph }}</p>
                  <a class="link-light" href="{{ homehero[locale].link }}">{{ homehero[locale].linkText }}</a>
                </article>
              </div>
            </div>
        </section>

        <section class="container-xl mx-auto xl:px-0 sm:px-500 px-300">
          {% block content %}{{ content | safe }}{% endblock %}

          <gcds-date-modified class="mb-400 font-caption">
            {{ page.date | dateLastModified}}
          </gcds-date-modified>
        </section>
      </main>

      <gcds-footer
        display="full"
        lang="{{ locale }}"
      ></gcds-footer>

    </div>
  </body>
</html>
