---
layout: "layouts/base.njk"
---

{{ content | safe }}

{% include "partials/card-list.njk" %}

<gcds-heading tag="h3">{{ installation[locale].heading }}</gcds-heading>
<gcds-text>{{ installation[locale].paragraph }}</gcds-text>

<gcds-grid class="mb-300" tag="ul" columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr">
  <gcds-card card-title="{{ installation[locale].cardTitle }}" href="{{ installation[locale].cardLink }}" img-src="/images/common/installation/banner-html.svg" img-alt="">
    <gcds-text>{{ installation[locale].cardDescription }}</gcds-text>
    <gcds-text>{{ installation[locale].cardEnvExamples }}</gcds-text>
  </gcds-card>
</gcds-grid>

<gcds-text>{{ installation[locale].reachOut | safe }}</gcds-text>
