---
layout: "layouts/base.njk"
---

{{ content | safe }}

{% include "partials/installation/step-1.njk" %}

<div class="step-2-content-container">
  {% include "partials/installation/step-2-choose.njk" %}
  {% include "partials/installation/step-2-angular.njk" %}
  {% include "partials/installation/step-2-react.njk" %}
  {% include "partials/installation/step-2-vue.njk" %}
  {% include "partials/installation/step-2-node.njk" %}
  {% include "partials/installation/step-2-cdn.njk" %}
  {% include "partials/installation/step-2-figma.njk" %}
  {% include "partials/installation/step-2-none.njk" %}
</div>

{% include "partials/installation/step-3.njk" %}

{% set removeBorder = true %}

{% include "partials/helpus.njk" %}

<script>
  const select = document.querySelector('gcds-select');
  const content = document.querySelectorAll('.step-2-content');

  // Display choose section by default
  content.forEach(function(element) {
    if ( element.id != 'step-2-choose' ) {
      element.classList.add('d-none');
    }
  })

  select.addEventListener("change", function() {
    // Hide all non selected sections
    content.forEach(function(element) {
      element.classList.remove('d-block');
      element.classList.add('d-none');
    })

    // Show selected section
    document.getElementById(select.value).classList.remove('d-none');
    document.getElementById(select.value).classList.add('d-block');
  });
</script>