---
layout: "layouts/base.njk"
---

{{ content | safe }}

  {% macro renderNavListItem(entry) -%}
    <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
    {% if entry.url %}
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    {% else %}
        <span>{{ entry.title }}</span>
    {% endif %}
    
    {%- if entry.children.length -%}
    <ul>
        {%- for child in entry.children %}
            {% if child.locale == locale %}{{ renderNavListItem(child) }}{% endif %}
        {% endfor -%}
    </ul>
    {%- endif -%}
    {%- if entry.samePage -%}
        <ul>
            {%- for link in entry.samePage %}
                <li>
                    <a href="{{ entry.url | url }}#{{ link.url }}"> {{ link.title }} </a>
                </li>
            {% endfor -%}
        </ul>
    {%- endif -%}
    </li>
    {%- endmacro %}

{%- for post in collections.componentsOverview | sortCollection -%}
    {%- if post.data.eleventyNavigation.locale == locale %}

        <section aria-label="{{ post.data.title }}">

            {{ post.data.content | safe }}

            {% set navPages = collections.all | eleventyNavigation(post.data.eleventyNavigation.key) %}
            <ul class="overview-list">
            {%- for entry in navPages %}
                {%- if entry.locale == locale %}{{ renderNavListItem(entry) }}{% endif -%}
            {%- endfor -%}
            </ul>

        </section>
    {% endif %}
{%- endfor -%}