{% extends "layouts/base.njk" %}


{% if tags %}
    {% set tabs = collections.all | tabs(tags[0]) %}
    {% block page_title %}{{ title }} - {{ tabs.header.data.title }} - {{ base[locale].gcds }}{% endblock %}
{% endif %}

{% block content %}
    
    {% if tabs %}
        {{ tabs.header.templateContent | safe }}
        <nav class="tabs" aria-label="{{ navLabel or title }}">
            <ul>
                {% for key, tab in tabs %}
                    {% if tab.url %}
                        <li class="tab">
                            <a href={{ tab.url }} {{ 'aria-current=page' if tab.url == page.url}}>
                                {{ tab.data.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    
    {{ content | safe }}

{% endblock %}
