---
import { Heading, Text } from '../../components';
import I18N from './i18n';

// Get the current locale from the URL
const pathname = Astro.url.pathname.replace(/\/$/, '');
const parts = pathname.split('/').filter(Boolean);
const lang = parts[0];
---

<section>
  <Heading tag="h2">{I18N[lang].heading}</Heading>

  {I18N[lang].text.map((paragraph) => (
    <Text>{paragraph}</Text>
  ))}

  <gcds-button button-role="secondary" type="link" href="#">
    {I18N[lang].btnFeedback}
  </gcds-button>
  <gcds-button button-role="secondary" type="link" href="#">
    {I18N[lang].btnReport}
  </gcds-button>
</section>
