---
import { Heading, Text } from '../../components';
import { helpUsMessages, type HelpUsLocale } from '../../i18n/messages/help-us';

interface Props {
  locale: HelpUsLocale;
}

const { locale } = Astro.props as Props;
const content = helpUsMessages[locale] || helpUsMessages.en;
---

<section>
  <Heading tag="h2">{content.heading}</Heading>

  {content.text.map((paragraph) => (
    <Text>{paragraph}</Text>
  ))}

  <gcds-button button-role="secondary" type="link" href="#">
    {content.btnFeedback}
  </gcds-button>
  <gcds-button button-role="secondary" type="link" href="#">
    {content.btnReport}
  </gcds-button>
</section>
