<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Heading - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <script src="/gcds-docs/scripts/general.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/titre/code/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/en">GC Design System</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/"
      
    >
      Page templates
    </gcds-nav-link>
  
<gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
  >
    <gcds-nav-link href="/en/contact">Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved">Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo">Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-600 px-225 general-layout" data-pagefind-body>
        
  
    <h1 id="heading-brgcdsheading">Heading <br><code>&lt;gcds-heading&gt;</code></h1>
<p><em>Also called: title, section heading, subheading.</em></p>
<p>A heading is a title that establishes levels of hierarchy to organize page content into a structure.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-heading">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=9439-44&mode=design&t=E0XGUkSN8iUhsIDS-0">Figma</gcds-link>
</li>
</ul></p>
<p><div class="my-600 b-sm b-default component-preview">
<h2 class="container-full font-text font-semibold m-0 px-225 py-150 bb-sm b-default bg-light">
Heading component preview
</h2>
<div>
<iframe
            title="Heading component preview"
            src="/en/components/heading/preview/"
            style="display: block; margin: 0 auto;"
            frameBorder="0"
            width="100%"
            id="component-preview"
          ></iframe>
</div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/heading/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/heading/design/ >
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/heading/code/ aria-current=page>
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="build-a-heading">Build a Heading</h2>
<p>Headings structure content by establishing levels of hierarchy that organize page content.</p>
<h2 id="coding-and-accessibility-for-headings">Coding and accessibility for headings</h2>
<h3 id="order-heading-levels-hierarchically">Order heading levels hierarchically</h3>
<p>Heading levels follow a sequential, hierarchical order: higher levels have larger display text than lower ones.</p>
<ul class="list-disc mb-300"><li>Set correct and consistent heading levels to align the coded and visual headings on a page. Consistent headings support an equitable experience for people who use assistive technologies.</li>
<li>Order headings sequentially from lowest to highest (H1–H6).</li>
<li>Avoid skipping heading levels. Instead, restructure content so headings are used sequentially, from largest (H1) to smallest (H6).</li>
<li>Only use an H1 heading once on a page. Other heading types can be used multiple times.</li>
<li>Use H2 headings to describe individual sections. Each section should have one H2 heading.</li>
<li>Opt to use H3–H6 headings within sections. Sections can contain multiple H3–H6 headings, as long as they are placed in hierarchical order.</li>
</ul>
<h3 id="maintain-accessible-character-limits">Maintain accessible character limits</h3>
<ul class="list-disc mb-300"><li>Maintain the default <code>character-limit</code> for each heading line by keeping the attribute set to <code>true</code> for a comfortable and accessible reading length. These defaults create a balanced, consistent line length across heading font sizes.</li>
<li>Keep character limits to the following lengths to maintain a visual balance across headings on a page:<ul class="list-disc mb-300"><li>31 characters for H1.</li>
<li>35 characters for H2.</li>
<li>40 characters for H3.</li>
<li>45 characters for H4.</li>
<li>50 characters for H5.</li>
<li>57 characters for H6.</li>
</ul>
</li>
</ul>
<h3 id="use-consistent-spacing">Use consistent spacing</h3>
<ul class="list-disc mb-300"><li>Maintain default spacing for a comfortable and accessible reading experience. These defaults create visual breaks and separation between different sections.</li>
<li>Keep spacing values to the following to maintain a visual balance across headings on a page:<ul class="list-disc mb-300"><li>Default <code>margin-bottom</code>: <code>300</code> for all</li>
<li>Default <code>margin-top</code>: <code>0</code> for H1 and <code>600</code> for H2–3</li>
</ul>
</li>
</ul>
<h3 id="get-your-code">Get your code</h3>
<p>Generate an instance of the component you need by selecting its code properties.</p>
<ol class="list-decimal mb-300"><li>
<p>Explore by choosing different code values to generate the instance you want.</p>
</li>
<li>
<p>Get the code and pull it into your environment.</p>
</li>
<li>
<p>Add any copy you need to the component (like text for a label).</p>
</li>
</ol>
<p><strong>Note:</strong> The code builder uses English for all code elements, which follows standard practice.</p>
<iframe
  title="Overview of gcds-heading properties and events."
  src="https://cds-snc.github.io/gcds-components/iframe.html?viewMode=docs&demo=true&singleStory=true&id=components-heading--events-properties&lang=en"
  width="1200"
  height="1300"
  style="display: block; margin: 0 auto;"
  frameBorder="0"
  allow="clipboard-write"
></iframe>


  <section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
  >
    Report an issue on GitHub
    <gcds-icon name="external" label=" (Opens destination in a new tab.)">
    </gcds-icon>
  </gcds-button>
</section>



        <gcds-date-modified class="mb-300">
          2025-06-11
        </gcds-date-modified>
      </main>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>
    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
