<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Container - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <script src="/gcds-docs/scripts/component-preview.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/boite/code/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/en">GC Design System</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/page-templates/"
      
    >
      Page templates
    </gcds-nav-link>
  
<gcds-nav-group
    menu-label="Contact"
    open-trigger="Contact"
  >
    <gcds-nav-link href="/en/contact">Contact us</gcds-nav-link>
    <gcds-nav-link href="/en/get-involved">Get involved</gcds-nav-link>
    <gcds-nav-link href="/en/register-for-a-demo">Find a demo</gcds-nav-link>
  </gcds-nav-group>
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-600 px-225 general-layout" data-pagefind-body>
        
  
    <h1 id="containerbrgcdscontainer">Container<br><code>&lt;gcds-container&gt;</code></h1>
<p><em>Also called: wrapper, box.</em></p>
<p>A container is a basic box layout with a set width for its contents.</p>
<p><ul class="d-flex flex-wrap gap-300">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-container">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=6660-15761&mode=design&t=yAHkop3p7GgECtHy-0">Figma</gcds-link>
</li>
</ul></p>
<p><div class="my-600 b-sm b-default component-preview">
<h2 class="container-full font-text font-semibold m-0 px-225 py-150 bb-sm b-default bg-light">
Container component preview
</h2>
<div>
<iframe
            title="Container component preview"
            src="/en/components/container/preview/"
            style="display: block; margin: 0 auto;"
            frameBorder="0"
            width="100%"
            id="component-preview"
          ></iframe>
</div>
</div></p>

    <nav class="tabs mb-300" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/container/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/container/design/ >
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/container/code/ aria-current=page>
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="build-a-container">Build a container</h2>
<p>Use containers to add a wrapper element with a defined maximum width, providing a container for other content and components that are typically arranged vertically from top to bottom.</p>
<h2 id="code-and-accessibility-for-containers">Code and accessibility for containers</h2>
<h3 id="limit-width-of-content">Limit width of content</h3>
<ul class="list-disc mb-300"><li>Keep text line length below 65 characters for a comfortable, accessible reading length.</li>
<li>Limit column width to stop large screens from displaying lines of text that are overly long and difficult to read.</li>
<li>Avoid exceeding the maximum width of 71.25rem (1140px) wide.</li>
</ul>
<h3 id="add-a-container-size">Add a container size</h3>
<p>The <code>size</code> property sets the size of the container. It comes in 6 sizes:</p>
<table>
<thead>
<tr>
<th>Size</th>
<th>REM</th>
<th>Pixels (Px)</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>full</code></td>
<td>100%</td>
<td>100%</td>
</tr>
<tr>
<td><code>xl</code></td>
<td>71.25rem</td>
<td>1140px</td>
</tr>
<tr>
<td><code>lg</code></td>
<td>62rem</td>
<td>992px</td>
</tr>
<tr>
<td><code>md</code></td>
<td>48rem</td>
<td>768px</td>
</tr>
<tr>
<td><code>sm</code></td>
<td>30rem</td>
<td>480px</td>
</tr>
<tr>
<td><code>xs</code></td>
<td>20rem</td>
<td>320px</td>
</tr>
</tbody>
</table>
<br/>
<p>By default, the container size will be set to <code>full</code> which means it will take up the entire width of the parent container.</p>
<h3 id="centre-the-container">Centre the container</h3>
<p>Containers are not centered automatically. To centre a container on a page, add the <code>centered</code> property.</p>
<h3 id="get-your-code">Get your code</h3>
<p>Generate an instance of the component you need by selecting its code properties.</p>
<ol class="list-decimal mb-300"><li>
<p>Explore by choosing different code values to generate the instance you want.</p>
</li>
<li>
<p>Get the code and pull it into your environment.</p>
</li>
<li>
<p>Add any copy you need to the component (like text for a label).</p>
</li>
</ol>
<p><strong>Note:</strong> The code builder uses English for all code elements, which follows standard practice.</p>
<iframe
  title="Overview of gcds-container properties and events."
  src="https://cds-snc.github.io/gcds-components/iframe.html?viewMode=docs&demo=true&singleStory=true&id=components-container--events-properties&lang=en"
  width="1200"
  height="1500"
  style="display: block; margin: 0 auto;"
  frameBorder="0"
  allow="clipboard-write"
></iframe>


  <section data-pagefind-ignore class="my-600 bt-sm b-dark ">
  <h2>Help us improve</h2>
  <p>Have questions or a request? Give feedback on our contact form.</p>

  
  <p>
    Something's wrong? Raise it through GitHub with an <gcds-link href='https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github' external>account</gcds-link>. You'll have access to the team's direct responses, progress made on your issue, and issues raised by others.
  </p>
  

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
    class="mb-300"
  >
    Give feedback
  </gcds-button>
  <gcds-button
    type="link"
    button-role="secondary"
    href="https://github.com/cds-snc/gcds-components/issues/new/choose"
  >
    Report an issue on GitHub
    <gcds-icon name="external" label=" (Opens destination in a new tab.)">
    </gcds-icon>
  </gcds-button>
</section>



        <gcds-date-modified class="mb-300">
          2025-04-30
        </gcds-date-modified>
      </main>

    <gcds-footer
  display="full"
  lang="en"
  contextual-heading="GC Design System"
  contextual-links='{ "About us": "/en/about-us", "Accessibility statement": "/en/accessibility/", "Service level agreement": "/en/service-level-agreement/" }'
  sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms of use": "/en/terms-of-use", "Privacy": "/en/privacy-notice" }'
></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
