---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Raccourcis CSS 1.1.0" locale="fr" section="cssShortcuts" version="1.1.0" pageKey="section">
  <h1>Raccourcis CSS</h1>
<p>Instantané de la version 1.1.0.</p>
</VersionedDocLayout>
