<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Buttons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "/alpha-design-system-documentation/components/loader/index.es2017.js";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="/alpha-design-system-documentation/variables/variables.css">
        <link rel="stylesheet" href="/alpha-design-system-documentation/styles/prism.css">

    </head>
    <body>
        <gcds-button
        type="link"
        task="skip-to-content"
        href="#content"
        >
        Skip to main content
        </gcds-button>

        
<header>
    <div  lang="fr">
        
        
        <ul>

        
        

        
        

        
        
        

        
        

        
        

        
        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-design-system-documentation/fr/components/boutons/">Français</a>
        </li>

        

        </ul>
        
    </div>
</header>

        <nav>

    <h2>Design system</h2>

    

    

    <ul><li>
    <a href="/alpha-design-system-documentation/en/">Home</a></li><li>
    <a href="/alpha-design-system-documentation/en/onboarding/">Onboarding</a><ul>
            <li>
    <a href="/alpha-design-system-documentation/en/onboarding/design/">Designing a Webpage</a></li>
        
            <li>
    <a href="/alpha-design-system-documentation/en/onboarding/development/">Developing a Webpage</a></li>
        
            
        
            
        </ul></li><li>
    <a href="/alpha-design-system-documentation/en/components/">Component and Pattern Inventory</a><ul>
            <li class="my-active-class">
    <a href="/alpha-design-system-documentation/en/components/buttons/">Buttons</a><ul>
            <li>
    <a href="/alpha-design-system-documentation/en/components/buttons/design/">Implementing a Button for Design</a></li>
        
            <li>
    <a href="/alpha-design-system-documentation/en/components/buttons/development/">Implementing a Button for Development</a></li>
        
            
        
            
        </ul></li>
        
            
        </ul></li></ul>
</nav>


        <main id="content">
            <h1 id="buttons" tabindex="-1">Buttons <a class="direct-link" href="#buttons">#</a></h1>
<p>A button is an interactive object that highlights an important or common action for the person using your product.</p>
<h2 id="how-a-button-works" tabindex="-1">How a button works <a class="direct-link" href="#how-a-button-works">#</a></h2>
<p>A short label or icon says what the button does. A person communicates using the button when they launch the button’s click action. A click action can be a mouse key, a keydown action, a tap, or a mouse click.
When someone activates a button, it sets off a response or a change of location or state.</p>
<br/>
<h2 id="button-uses" tabindex="-1">Button uses <a class="direct-link" href="#button-uses">#</a></h2>
<p>Use a button as a clear, simple means to set off an action. Buttons express agreement or disagreement,  change  location or state, and give direction about information.
Some common uses are:</p>
<ul>
<li>saving, deleting, downloading.</li>
<li>clearing entered data.</li>
<li>sending a form or request.</li>
<li>giving consent or agreement.</li>
<li>making a binary choice.</li>
<li>entering or exiting a web product, like a secure area login, a form, or tutorial.</li>
<li>skip-to-content link.</li>
</ul>
<p>In applications, buttons are used in place of text links for things like:</p>
<ul>
<li>controlling movement, like going from one screen to another in a flow.</li>
<li>external links (in a ways that lets someone know they’re external).</li>
</ul>
<h2 id="related-components" tabindex="-1">Related components <a class="direct-link" href="#related-components">#</a></h2>
<p>Consider links instead when:</p>
<ul>
<li>an action is less important.</li>
<li>taking someone off a web page.</li>
</ul>
<p>Consider menus or selections, like dropdowns or radio buttons, instead for:</p>
<ul>
<li>a choice with more than two options.</li>
</ul>
<br/>
<h2 id="understanding-the-basic-button-component" tabindex="-1">Understanding the basic button component <a class="direct-link" href="#understanding-the-basic-button-component">#</a></h2>
<h3 id="button-task" tabindex="-1">Button task <a class="direct-link" href="#button-task">#</a></h3>
<p>You’ll select a button task based on what you need your button to do. Each task has a different function. They’re styled to help a person using your product predict where to find an action.</p>
<p>A primary button is a type of button task.</p>
<h3 id="button-states" tabindex="-1">Button states <a class="direct-link" href="#button-states">#</a></h3>
<p>Each task has corrresponding states. A button’s state changes as a person interacts with it. States signal how a button can be used and how someone has used it, like if it’s been selected already.</p>
<h2 id="how-is-the-button-component-accessible" tabindex="-1">How is the button component accessible <a class="direct-link" href="#how-is-the-button-component-accessible">#</a></h2>
<p>Colours, spacing, and typography are built into the button to be accessible.</p>
<ul>
<li>Underlining shows a button can be tapped, clicked, or activated.</li>
<li>Margins and padding size makes sure the tap surface is accessible.</li>
<li>The button’s size and whitespace are set so tap targets are large enough to hit.</li>
<li>Font height and weight support responsive design, accessibility, and bilingual content design.</li>
<li>Button and font colours make button tasks recognizable and with enough contrast.</li>
</ul>
<br/>
<p><a href="/alpha-design-system-documentation/en/components/buttons/development">Implementation for Developing</a> | <a href="/alpha-design-system-documentation/en/components/buttons/design">Implementation for Designing</a></p>

        </main>

        <footer>
    <br/>
</footer>
    </body>
</html>
