<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Boutons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "/alpha-design-system-documentation/components/loader/index.es2017.js";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="/alpha-design-system-documentation/variables/variables.css">
        <link rel="stylesheet" href="/alpha-design-system-documentation/styles/prism.css">

    </head>
    <body>
        <gcds-button
        type="link"
        task="skip-to-content"
        href="#content"
        >
        Skip to main content
        </gcds-button>

        
<header>
    <div  lang="en">
        
        
        <ul>

        
        

        
        

        
        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-design-system-documentation/en/components/buttons/">English</a>
        </li>

        

        
        
        

        
        

        
        

        </ul>
        
    </div>
</header>

        <nav>

    <h2>Design system FR</h2>

    

    

    <ul><li>
    <a href="/alpha-design-system-documentation/fr/">Home</a></li><li>
    <a href="/alpha-design-system-documentation/fr/onboarding/">Onboarding FR</a><ul>
            
        
            
        
            <li>
    <a href="/alpha-design-system-documentation/fr/onboarding/design/">Designing a Webpage FR</a></li>
        
            <li>
    <a href="/alpha-design-system-documentation/fr/onboarding/development/">Developing a Webpage FR</a></li>
        </ul></li><li>
    <a href="/alpha-design-system-documentation/fr/components/">Component and Pattern Inventory FR</a><ul>
            
        
            <li class="my-active-class">
    <a href="/alpha-design-system-documentation/fr/components/boutons/">Boutons</a><ul>
            
        
            
        
            <li>
    <a href="/alpha-design-system-documentation/fr/components/boutons/design/">Implementing a Button for Design FR</a></li>
        
            <li>
    <a href="/alpha-design-system-documentation/fr/components/boutons/development/">Implementing a Button for Development FR</a></li>
        </ul></li>
        </ul></li></ul>
</nav>


        <main id="content">
            <h1 id="boutons" tabindex="-1">Boutons <a class="direct-link" href="#boutons">#</a></h1>
<p>Un bouton est un objet intéractif qui souligne un action important ou fréquent pour la personne utilisant votre produit.</p>
<h2 id="comment-fonctionne-le-bouton" tabindex="-1">Comment fonctionne le bouton <a class="direct-link" href="#comment-fonctionne-le-bouton">#</a></h2>
<p>Une etiquette courte ou one icône signale la fonction du button à la personne qui utilise votre produit. La personne commande un bouton en déclenchant un action de souris, telle qu’une touche de souris, un action keydown, une touche/intéraction tactile, ou clic de souris.</p>
<p>L’activation d’un bouton permet à la personne d’initier une réponse ou changer de lieu ou d’état.</p>
<br/>
<h2 id="usage-de-bouton" tabindex="-1">Usage de bouton <a class="direct-link" href="#usage-de-bouton">#</a></h2>
<p>Utiliser les boutons comme moyen simple et clair d’initier un action. Les boutons expriment un accord ou un désaccord, un changement de lieu ou d’état, ou une direction respective aux informations, telles que:</p>
<ul>
<li>sauvegarder, supprimer,  télécharger.</li>
<li>vider de données saisies.</li>
<li>envoyer un formulaire ou une demande.</li>
<li>consentir à ou accepter.</li>
<li>faire un choix binaire.</li>
<li>entrer ou quitter un produit web, comme un login à un lieu sécurisé, un formulaire, ou tutoriel.</li>
</ul>
<p>Dans une application, les buttons sont employés au lieu de lien de text pour des choses comme:</p>
<ul>
<li>le contrôle de mouvement, c’est à dire aller d’un écran à la prochaine dans un flow.</li>
<li>des liens externes (dans de maniére que signale qu’ils sont externes).</li>
</ul>
<h2 id="composantes-connexes" tabindex="-1">Composantes connexes <a class="direct-link" href="#composantes-connexes">#</a></h2>
<p>Privilèger les liens lorsque :</p>
<ul>
<li>un action est moins important.</li>
<li>un déplacement de la page web est nécessaire.</li>
</ul>
<p>Privilèger les menus ou selections, telle qu’une liste déroulante ou bouton radio, lorsque:</p>
<ul>
<li>un choix à plus de deux options.</li>
</ul>
<br/>
<h2 id="composante-de-base-bouton" tabindex="-1">Composante de base bouton <a class="direct-link" href="#composante-de-base-bouton">#</a></h2>
<h3 id="t%C3%A2ches-de-bouton" tabindex="-1">Tâches de bouton <a class="direct-link" href="#t%C3%A2ches-de-bouton">#</a></h3>
<p>Vous choisissez une tâche selon ce que le bouton doit faire. Chaque tâche a une fonction unique. Elles sont présentées de façon qu’une personne utilisant votre produit puisse prévoir où trouver l’action dont elle cherche.</p>
<p>Un bouton primaire est un genre de tâche de bouton.</p>
<h3 id="%C3%A9tats-de-bouton" tabindex="-1">États de bouton <a class="direct-link" href="#%C3%A9tats-de-bouton">#</a></h3>
<p>Chaque tâche à des états correspondants. La tâche d’un bouton change en relation avec les interactions d’une personne. Les états démontrent comment button peut être utilisé et aussi comment quelqu’un l’a utilisé, si il l’a récemment selectionné.</p>
<h2 id="comment-la-composante-de-bouton-est-accessible" tabindex="-1">Comment la composante de bouton est accessible <a class="direct-link" href="#comment-la-composante-de-bouton-est-accessible">#</a></h2>
<p>Les couleurs, l’espacement et la typographie sont pré-établis pour être accesssible.</p>
<ul>
<li>Le soulignement démontre que le bouton peut être tapé, cliqué ou activé.</li>
<li>La taille des marges ainsi que le padding fait en sorte que le plan tactile est accessible.</li>
<li>La taille et l’espace blanc sont établis pour que la surface de touche est assez grand.</li>
<li>La hauteur et le poid de la fonte appui la conception réactive, l’accessibilité et le design de contenu bilingue.</li>
<li>Les boutons sont idenitifiable et en bon contraste à cause des couleurs de bouton et de fonte.</li>
</ul>
<br/>
<p><a href="/alpha-design-system-documentation/fr/components/boutons/development">Implementation for Developing</a> | <a href="/alpha-design-system-documentation/fr/components/boutons/design">Implementation for Designing</a></p>

        </main>

        <footer>
    <br/>
</footer>
    </body>
</html>
