<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Checkbox - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  


<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/Case-a-cocher/design/'
>
  



<gcds-top-nav slot="menu" label="Main" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/foundations/"
      
    >
      Foundations
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
      
        <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
          Components
        </gcds-breadcrumbs-item>
      
    
  </gcds-breadcrumbs>

</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout">
        
  
    <h1 id="checkboxbrgcdscheckbox" class="mb-400">Checkbox<br><code>&lt;gcds-checkbox&gt;</code></h1>
<p class="mb-400"><em>Also called: checklist, check list.</em></p>
<p class="mb-400">A checkbox is a set of options for one or multiple selections.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<a href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-checkbox" target="_blank" rel="nofollow" aria-label="GitHub (Opens in a new tab)">GitHub<gcds-icon name="external-link" margin-left="100" /></a>
</li>
<li class="figma-link">
<a href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?node-id=2760%3A8318&t=ciEmm7GYyGAY73zZ-0" target="_blank" rel="nofollow" aria-label="Figma (Opens in a new tab)">Figma<gcds-icon name="external-link" margin-left="100" /></a>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Checkbox component preview
</p>
<div class="px-300 pt-400"></p>
<p class="mb-400"><gcds-fieldset
  fieldset-id="fieldset"
  legend="Legend"
  hint="Hint / Example message."
>
<gcds-checkbox
    checkbox-id="form-check-1"
    label="Label"
    hint="Description or example to make the option clearer."
    name="radio"
    checked
  ></gcds-checkbox>
<gcds-checkbox
    checkbox-id="form-check-2"
    label="Label"
    hint="Description or example to make the option clearer."
    name="radio"
  ></gcds-checkbox>
</gcds-fieldset></p>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Checkbox">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/checkbox/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/checkbox/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/checkbox/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="checkbox-anatomy-with-fieldset" class="mt-500 mb-400">Checkbox anatomy – with fieldset</h2>
<ol class="anatomy-list">
  <li>The <strong>fieldset legend</strong> acts as a heading to identify the grouped checkboxes. Legend text is left aligned and in sentence case (only the initial letter is capitalized).</li>
  <li>The <strong>fieldset hint text</strong> communicates specific requirements for the checkbox grouping to support task success.</li>
  <li>The <strong>checkbox</strong> shows, by the presence or absence of the <strong>checkmark</strong> (also called the checked box), whether an option has been selected or not.</li>
  <li>The <strong>checkmark</strong> shows that an option has been selected.</li>
  <li>The <strong>checkbox label</strong> states the choice the checkbox represents. Label text is in sentence case.</li>
  <li>The <strong>checkbox hint text</strong> gives users additional information about the choice.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-checkbox-anatomy-with-fieldset.svg" alt="Checkbox anatomy showing the labels Fieldset legend, Fieldset Hint, Checkbox, Checkbox Label, Checkmark, and Checkbox Hint." />
<h2 id="single-checkbox-anatomy" class="mt-500 mb-400">Single checkbox anatomy</h2>
<p class="mb-400">Use the fieldset component with the checkbox, except for checkboxes with a single box to check.</p>
<ol class="anatomy-list">
  <li>The <strong>checkbox</strong> shows, by the presence or absence of the <strong>checkmark</strong> (also called the checked box), whether an option has been selected or not.</li>
  <li>The <strong>checkmark</strong> shows that an option has been selected.</li>
  <li>The <strong>checkbox label</strong> states the choice the checkbox represents. Label text is in sentence case.</li>
  <li>The <strong>checkbox hint text</strong> gives users additional information about the choice.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-checkbox-anatomy-single.svg" alt="Checkbox anatomy showing the labels Checkbox, Checkbox Label, Checkmark, and Checkbox Hint." />
<h2 id="design-and-accessibility-for-checkboxes" class="mt-500 mb-400">Design and accessibility for checkboxes</h2>
<h3 id="make-checkboxes-visible-and-options-clear" class="mt-500 mb-400">Make checkboxes visible and options clear</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Limit the number of options to 6-7.</li>
<li><p class="mb-400">Limit text for each option to a few words or a short phrase and include hint text for more context.</li>
<li><p class="mb-400">Generally, order options alphabetically. In some cases, it can be helpful for you to order them from most to least common.</li>
</ul>
<h3 id="help-people-understand-how-to-use-checkboxes" class="mt-500 mb-400">Help people understand how to use checkboxes</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Avoid assuming a person will know how to use a checkbox.</li>
<li><p class="mb-400">Use the <a href="/en/components/fieldset">fieldset's</a> hint text to include a cue for users unfamiliar with radios so they know they can only make a single selection. For example, &quot;Select the response that best applies&quot;.</li>
<li><p class="mb-400">Include fieldset's hint text to include a cue for users unfamiliar with checkboxes so they know they can make multiple selections.  For example, &quot;Select all that apply&quot;.</li>
<li><p class="mb-400">Avoid pre-selecting checkbox options. This makes it more likely that users will miss a question and submit a wrong answer.</li>
</ul>


  <section class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2023-08-22
        </gcds-date-modified>
      </main>

      <gcds-footer
        display="compact"
        lang="en"
      ></gcds-footer>

      
    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
