---
const tabs = ["Overview", "Examples"];
---

<div>
  <nav class="tabs-nav">
    {tabs.map((tab) => (
      <button
        type="button"
        class={`tab ${"selectedTab" === tab ? "active" : ""}`}
        id={`tab-${tab}`}
      >
        {tab}
      </button>
    ))}
  </nav>

  <div class="tabs-content">
    <div class="tab-content" id="overview">
      <slot name="overview" />
    </div>
    <div class="tab-content" id="examples">
      <slot name="examples" />
    </div>
  </div>
</div>

<script>
  import { initTabs } from "../scripts/tabs.js";
  document.addEventListener("DOMContentLoaded", initTabs);
</script>
