<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Implementing a Button for Design FR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "/alpha-design-system-documentation/components/loader/index.es2017.js";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="/alpha-design-system-documentation/variables/variables.css">
        <link rel="stylesheet" href="/alpha-design-system-documentation/styles/prism.css">

    </head>
    <body>
        
<header>
    <h2>French header</h2>

    <div  lang="en">
        
        
        <ul>

        
        

        
        

        
        

            
            

        

            
            

        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-design-system-documentation/en/components/buttons/design/">English</a>
        </li>

        

        
        
        

        
        

        
        

        </ul>
        
    </div>
</header>

        <nav>

    <h2>Design system FR</h2>

    

    

    <ul><li>
    <a href="/alpha-design-system-documentation/fr/components/alerts/">Alerts FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/components/buttons/">Button Component FR</a></li><li class="my-active-class">
    <a href="/alpha-design-system-documentation/fr/components/buttons/design/">Implementing a Button for Design FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/components/buttons/development/">Implementing a Button for Development FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/components/">Component and Pattern Inventory FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/onboarding/design/">Designing a Webpage FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/onboarding/development/">Developing a Webpage FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/onboarding/">Onboarding FR</a></li><li>
    <a href="/alpha-design-system-documentation/fr/">Home</a></li></ul>
</nav>


        <main>
            <h1 id="implementing-a-button-for-design-fr" tabindex="-1">Implementing a Button for Design FR <a class="direct-link" href="#implementing-a-button-for-design-fr">#</a></h1>

        </main>

        <footer>
    <h2>French footer</h2>
</footer>
    </body>
</html>
