---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Button overview 1.1.0" locale="en" section="components" version="1.1.0" pageKey="buttonOverview">
  <h1>Button overview</h1>
<p>Overview available in 1.1.0.</p>
</VersionedDocLayout>
