---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Card" locale="en" section="components" version="1.1.0" pageKey="card">
  <h1>Card</h1>
  <p>Documentation for Card (1.1.0).</p>
</VersionedDocLayout>
