---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Checkboxes" locale="en" section="components" version="1.1.0" pageKey="checkboxes">
  <h1>Checkboxes</h1>
  <p>Documentation for Checkboxes (1.1.0).</p>
</VersionedDocLayout>
