---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Date modified" locale="en" section="components" version="1.1.0" pageKey="dateModified">
  <h1>Date modified</h1>
  <p>Documentation for Date modified (1.1.0).</p>
</VersionedDocLayout>
