---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Details" locale="en" section="components" version="1.1.0" pageKey="details">
  <h1>Details</h1>
  <p>Documentation for Details (1.1.0).</p>
</VersionedDocLayout>
