---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Error message" locale="en" section="components" version="1.1.0" pageKey="errorMessage">
  <h1>Error message</h1>
  <p>Documentation for Error message (1.1.0).</p>
</VersionedDocLayout>
