---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Fieldset" locale="en" section="components" version="1.1.0" pageKey="fieldset">
  <h1>Fieldset</h1>
  <p>Documentation for Fieldset (1.1.0).</p>
</VersionedDocLayout>
