---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="File uploader" locale="en" section="components" version="1.1.0" pageKey="fileUploader">
  <h1>File uploader</h1>
  <p>Documentation for File uploader (1.1.0).</p>
</VersionedDocLayout>
