---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Header" locale="en" section="components" version="1.1.0" pageKey="header">
  <h1>Header</h1>
  <p>Documentation for Header (1.1.0).</p>
</VersionedDocLayout>
