---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Icon" locale="en" section="components" version="1.1.0" pageKey="icon">
  <h1>Icon</h1>
  <p>Documentation for Icon (1.1.0).</p>
</VersionedDocLayout>
