---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Components 1.1.0" locale="en" section="components" version="1.1.0" pageKey="section">
  <h1>Components</h1>
<p>Snapshot for version 1.1.0.</p>
</VersionedDocLayout>
