---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Language toggle" locale="en" section="components" version="1.1.0" pageKey="languageToggle">
  <h1>Language toggle</h1>
  <p>Documentation for Language toggle (1.1.0).</p>
</VersionedDocLayout>
