---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Pagination" locale="en" section="components" version="1.1.0" pageKey="pagination">
  <h1>Pagination</h1>
  <p>Documentation for Pagination (1.1.0).</p>
</VersionedDocLayout>
