---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Radios" locale="en" section="components" version="1.1.0" pageKey="radios">
  <h1>Radios</h1>
  <p>Documentation for Radios (1.1.0).</p>
</VersionedDocLayout>
