---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Screenreader-only" locale="en" section="components" version="1.1.0" pageKey="screenreaderOnly">
  <h1>Screenreader-only</h1>
  <p>Documentation for Screenreader-only (1.1.0).</p>
</VersionedDocLayout>
