---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Search" locale="en" section="components" version="1.1.0" pageKey="search">
  <h1>Search</h1>
  <p>Documentation for Search (1.1.0).</p>
</VersionedDocLayout>
