---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Side navigation" locale="en" section="components" version="1.1.0" pageKey="sideNavigation">
  <h1>Side navigation</h1>
  <p>Documentation for Side navigation (1.1.0).</p>
</VersionedDocLayout>
