---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---
<VersionedDocLayout pageTitle="Top navigation" locale="en" section="components" version="1.1.0" pageKey="topNavigation">
  <h1>Top navigation</h1>
  <p>Documentation for Top navigation (1.1.0).</p>
</VersionedDocLayout>
