/* --- Global styles --- */
code {
  font-size: 80%;
  line-height: var(--gcds-line-heights-text-small);
  padding: var(--gcds-spacing-25);
  background-color: var(--gcds-color-grayscale-50);
  border-radius: var(--gcds-border-radius-sm);
}

/* I would normally move this code somewhere else, but leaving it here for this demo project */
.bg-full-width {
  position: relative;
  width: calc(100% + var(--gcds-spacing-225));
  margin-inline: calc(-1 * var(--gcds-spacing-100));
  padding-inline: var(--gcds-spacing-100);

  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    content: "";
    background-color: inherit;
  }

  &:before {
    left: calc(-100vw + 0.01px);
  }

  &:after {
    right: calc(-100vw + 0.01px);
  }
}

.bg-light-blue {
  background-color: var(--gcds-color-blue-100);
  color: var(--gcds-color-blue-800);
}
