---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Jetons de conception">
  <h1>Jetons de conception</h1>
  <p>La documentation des jetons de conception sera ajoutée ici.</p>
</BaseLayout>

