---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Raccourcis CSS">
  <h1>Raccourcis CSS</h1>
  <p>La documentation des raccourcis CSS sera ajoutée ici.</p>
</BaseLayout>

