---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Couleur 1.1.0" locale="fr" section="tokens" version="1.1.0" pageKey="color">
  <h1>Couleur</h1>
<p>Documentation des jetons de couleur en 1.1.0.</p>
</VersionedDocLayout>
