<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Buttons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="module">
            import { defineCustomElements } from "/alpha-design-system-documentation/components/loader/index.es2017.js";
            defineCustomElements();
        </script>
        <link rel="stylesheet" href="/alpha-design-system-documentation/components/dist/gcds/gcds.css">
        <link rel="stylesheet" href="/alpha-design-system-documentation/styles/prism.css">

    </head>
    <body>
        <gcds-button
        type="link"
        task="skip-to-content"
        href="#content"
        >
        Skip to main content
        </gcds-button>

        
<header>
    <div  lang="fr">
        
        
        <ul>

        
        

        
        

        
        
        

        
        

        
        

        
        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            
                
            

        

            
            

        

            
            

        

            
            

        

            
            

        

            
            

        

        <li>
            <a href="/alpha-design-system-documentation/fr/components/boutons/">Français</a>
        </li>

        

        </ul>
        
    </div>

    


<gcds-site-menu menu-alignment="right">
 <span slot="left">Design system</span>
<ul>
    <li>
    
        <a href="/alpha-design-system-documentation/en/foundations/">Foundations</a>
    </li>

    <li>
    
        <a href="/alpha-design-system-documentation/en/components/">Components</a>
    <ul>
            
    <li>
    
        <span>Basic</span>
    <ul>
            
    <li class="my-active-class">
    
        <a href="/alpha-design-system-documentation/en/components/basic/buttons/">Buttons</a>
    </li>

        
            
        
            
        </ul></li>

        
            
    <li>
    
        <span>Forms</span>
    <ul>
            
    <li>
    
        <a href="/alpha-design-system-documentation/en/components/forms/formsguidance/">Forms guidance</a>
    </li>

        
            
    <li>
    
        <a href="/alpha-design-system-documentation/en/components/forms/inputs/">Input field</a>
    </li>

        
            
    <li>
    
        <a href="/alpha-design-system-documentation/en/components/forms/textarea/">Textarea</a>
    </li>

        
            
        
            
        </ul></li>

        </ul></li>

    <li>
    
        <a href="/alpha-design-system-documentation/en/contactus/">Contact us</a>
    </li>
</ul>
</gcds-site-menu>


    
    
    <nav aria-label="breadcrumb">
        <ol>
            <li>
                <a href=/alpha-design-system-documentation/en>Home</a>
            </li>
            
                 
                    <li>
                        <a href="/alpha-design-system-documentation/en/components/"  >Components</a>
                    </li>
                
            
                
            
                 
                    <li>
                        <a href="/alpha-design-system-documentation/en/components/basic/buttons/"  aria-current="page"  >Buttons</a>
                    </li>
                
            
        </ol>
    </nav>


</header>

        
            <aside>
    <nav aria-label="On this page">
        <h2>On this page</h2>
        
        <ul>
            
                <li>
                    <a href="#use-the-basic-button-component">Use the basic button component</a>
                </li>
            
                <li>
                    <a href="#customize-a-button">Customize a button</a>
                </li>
            
                <li>
                    <a href="#what-to-use-buttons-for">What to use buttons for</a>
                </li>
            
                <li>
                    <a href="#related-components">Related components</a>
                </li>
            
                <li>
                    <a href="#placing-buttons-so-they’re-findable">Placing buttons so they’re findable</a>
                </li>
            
                <li>
                    <a href="#writing-button-labels">Writing button labels</a>
                </li>
            
                <li>
                    <a href="#adding-icons-to-buttons">Adding icons to buttons</a>
                </li>
            
        </ul>
    </nav>
</aside>
        

        <main id="content">
            
<h1 id="buttons" tabindex="-1">Buttons <a class="direct-link" href="#buttons">#</a></h1>
<h2 id="use-the-basic-button-component" tabindex="-1">Use the basic button component <a class="direct-link" href="#use-the-basic-button-component">#</a></h2>
<h2 id="customize-a-button" tabindex="-1">Customize a button <a class="direct-link" href="#customize-a-button">#</a></h2>
<h2 id="what-to-use-buttons-for" tabindex="-1">What to use buttons for <a class="direct-link" href="#what-to-use-buttons-for">#</a></h2>
<h2 id="related-components" tabindex="-1">Related components <a class="direct-link" href="#related-components">#</a></h2>
<h2 id="placing-buttons-so-they%E2%80%99re-findable" tabindex="-1">Placing buttons so they’re findable <a class="direct-link" href="#placing-buttons-so-they%E2%80%99re-findable">#</a></h2>
<h2 id="writing-button-labels" tabindex="-1">Writing button labels <a class="direct-link" href="#writing-button-labels">#</a></h2>
<h2 id="adding-icons-to-buttons" tabindex="-1">Adding icons to buttons <a class="direct-link" href="#adding-icons-to-buttons">#</a></h2>

        </main>

        <footer>
    <br/>

    <ul>
    
        
            <li><a href=/alpha-design-system-documentation/en/privacypolicy/>Privacy policy</a></li>
        
            <li><a href=/alpha-design-system-documentation/en/termsandconditions/>Terms and conditions</a></li>
        
    
    </ul>
</footer>
    </body>
</html>
