<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Heading - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/titre/design/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/styles/"
      
    >
      Styles
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout" data-pagefind-body>
        
  
    <h1 id="heading-brgcdsheading" class="mb-400">Heading <br><code>&lt;gcds-heading&gt;</code></h1>
<p class="mb-400"><em>Also called: title, section heading, subheading.</em></p>
<p class="mb-400">A heading is a title that establishes levels of hierarchy to organize page content into a structure.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-heading">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=9439-44&mode=design&t=E0XGUkSN8iUhsIDS-0">Figma</gcds-link>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview" id="component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Heading component preview
</p>
<div class="px-300 py-400"></p>
<p class="mb-400"><gcds-heading tag="h2">Heading</gcds-heading></p>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/heading/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/heading/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/heading/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="heading-anatomy" class="mt-500 mb-400">Heading anatomy</h2>
<ol class="anatomy-list">
  <li><strong>Heading</strong> is a prominent line of text that introduces the paragraph or other body content that immediately follows it. The visual prominence of the heading decreases based on its level in the hierarchical order. More visual emphasis is given to the first heading, the H1, than a subordinate heading like an H5 or H6. Assistive technologies, such as screen readers, identify headings by their levels.</li>
  <li><strong>Text</strong> is non-heading content. Its subject matter is related to the idea outlined in its corresponding heading.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-heading-anatomy.svg" alt="A large, prominent heading text above a block of smaller text. The larger text reads: “This is a heading”. The next block reads: “This is text that's related to the heading and describes in further detail the heading's subject or action. Text is typically one or several lines or paragraphs that form a section's content or introduce a bulleted list, table, or other content, like an image or video.” There's a label pointing to the larger text reading “1” and there's a label pointing to the smaller block of text that reads “2”.." />
<h2 id="design-and-accessibility-for-headings" class="mt-500 mb-400">Design and accessibility for headings</h2>
<h3 id="order-heading-levels-hierarchically" class="mt-500 mb-400">Order heading levels hierarchically</h3>
<p class="mb-400">Heading levels follow a sequential, hierarchical order: higher levels have larger display text than lower ones.</p>
<ul class="list-disc mb-400"><li><p class="mb-400">Set correct and consistent heading levels to align the coded and visual headings on a page. Consistent headings support an equitable experience for people who use assistive technologies.</li>
<li><p class="mb-400">Order headings sequentially from lowest to highest (H1–H6).</li>
<li><p class="mb-400">Avoid skipping heading levels. Instead, restructure content so headings are used sequentially, from largest (H1) to smallest (H6).</li>
<li><p class="mb-400">Only use an H1 heading once on a page. Other heading types can be used multiple times.</li>
<li><p class="mb-400">Use H2 headings to describe individual sections. Each section should have one H2 heading.</li>
<li><p class="mb-400">Opt to use H3–H6 headings within sections. Sections can contain multiple H3–H6 headings, as long as they are placed in hierarchical order.</li>
</ul>
<h3 id="maintain-accessible-character-limits" class="mt-500 mb-400">Maintain accessible character limits</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Maintain the default character limits for each heading line for a comfortable and accessible reading length. These defaults create a balanced, consistent line length across heading font sizes.</li>
<li><p class="mb-400">Keep character limits to the following lengths to maintain a visual balance across headings on a page:<ul class="list-disc mb-400"><li><p class="mb-400">31 characters for H1.</li>
<li><p class="mb-400">35 characters for H2.</li>
<li><p class="mb-400">40 characters for H3.</li>
<li><p class="mb-400">45 characters for H4.</li>
<li><p class="mb-400">50 characters for H5.</li>
<li><p class="mb-400">57 characters for H6.</li>
</ul>
</li>
</ul>
<h3 id="write-clear-and-consistent-headings" class="mt-500 mb-400">Write clear and consistent headings</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Use sentence case (only the initial letter is capitalized).</li>
<li><p class="mb-400">Include a single, descriptive H1 heading for each page to convey the page's content and the purpose of the page's title.</li>
<li><p class="mb-400">Use subheadings to break up content. Split the content into smaller sections and group common elements together.</li>
<li><p class="mb-400">Make each heading distinctive and make it clear what content you'll find in that section.</li>
<li><p class="mb-400">When you've exhausted available headings and other style elements, consider using font weights to emphasize words in body content.</li>
<li><p class="mb-400">When writing in English, keep in mind the French headings will be around 30% longer.</li>
</ul>
<h3 id="use-consistent-spacing" class="mt-500 mb-400">Use consistent spacing</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Maintain the default spacing for a comfortable and accessible reading experience. These defaults create visual breaks and separation between different sections.</li>
<li><p class="mb-400">Keep spacing values to the following to maintain a visual balance across headings on a page:<ul class="list-disc mb-400"><li><p class="mb-400">Bottom margin: 400 for all.</li>
<li><p class="mb-400">Top margin: 0 for H1 and 500 for H2-3.</li>
</ul>
</li>
</ul>


  <section data-pagefind-ignore class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2024-08-15
        </gcds-date-modified>
      </main>


      <gcds-footer
        display="full"
        lang="en"
        contextual-heading="Canadian Digital Service"
        contextual-links='{ "Sign up for mailing list": "/en/contact", "Report an issue": "https://github.com/cds-snc/gcds-components/issues/new/choose", "About us": "/en/about-us" }'
        sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms and conditions": "https://www.canada.ca/en/transparency/terms.html", "Privacy": "/en/privacy-notice" }'
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
