<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Card - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    
    <script src="https://kit.fontawesome.com/892cb27850.js" crossorigin="anonymous"></script>

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>
  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  


<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/carte/design/'
>
  



<gcds-top-nav slot="menu" label="Main" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/foundations/"
      
    >
      Foundations
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  
</gcds-top-nav>
  

  

  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    <gcds-breadcrumbs-item href=/gcds-docs/en>
      Home
    </gcds-breadcrumbs-item>
    
      
        <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
          Components
        </gcds-breadcrumbs-item>
      
    
  </gcds-breadcrumbs>

</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout">
        
  
    <h1 id="card-brgcdscard" class="mb-400">Card <br><code>&lt;gcds-card&gt;</code></h1>
<p class="mb-400"><em>Also called: tile, content card.</em></p>
<p class="mb-400">A card is a box containing structured, actionable content on a single topic.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<a href="https://github.com/cds-snc/gcds-components/tree/main/src/components/gcds-card" target="_blank" rel="nofollow" aria-label="GitHub (Opens in a new tab)">GitHub<gcds-icon name="external-link" margin-left="100" /></a>
</li>
<li class="figma-link">
<a href="https://www.figma.com/community/file/1128687821123298228" target="_blank" rel="nofollow" aria-label="Figma (Opens in a new tab)">Figma<gcds-icon name="external-link" margin-left="100" /></a>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Card component preview
</p>
<div class="px-300 py-400"></p>
<gcds-card card-title="Card title link" tag="Tag" href="#" description="Description or supporting text relating to the headline. Longer text will be truncated with ...">
<div slot="footer">Context info • metadata</div>
</gcds-card>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Card">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/card/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/card/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/card/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="card-anatomy" class="mt-500 mb-400">Card anatomy</h2>
<ol class="anatomy-list">
  <li>The <strong>container</strong> holds all of a card’s elements.</li>
  <li>The <strong>image</strong> is a 1:1 or a 16:9 visual that can be included in the card.</li>
  <li>The <strong>tag</strong> is a piece of supporting information that can be included to describe the content type.</li>
  <li>The <strong>card title</strong> is a short headline on the subject of the card content and links to further information.</li>
  <li>The <strong>description</strong> has supporting text for the card title and includes a few lines of summary on the card’s topic or a progressive list of details related to the same subject, like a list of event details.</li>
  <li>The <strong>card footer</strong> can contain either an action, when there’s a button, or metadata. Metadata can include a date, location, author, or other relevant information.</li>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-card-anatomy.svg" alt="An image showing a card's anatomy"/>
<h2 id="design-and-accessibility-for-cards" class="mt-500 mb-400">Design and accessibility for cards</h2>
<h3 id="write-a-scannable-card-title" class="mt-500 mb-400">Write a scannable card title</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Use a title as a signpost to let a person know what they’ll find in the card.</li>
<li><p class="mb-400">Make the title scannable by keeping it concise.</li>
<li><p class="mb-400">Choose a brief description or call-to-action statement for the title.</li>
<li><p class="mb-400">Write a meaningful title to help a person choose what to read.</li>
</ul>
<h3 id="choose-what-information-to-add-to-the-card" class="mt-500 mb-400">Choose what information to add to the card</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Consider adding an image related to the title to make individual cards more identifiable.</li>
<li><p class="mb-400">Include a tag to identify the subject and support the scannability of the card.</li>
<li><p class="mb-400">Opt to display relevant metadata about the card, as additional context to the primary information in the title and description.</li>
</ul>
<h3 id="select-which-metadata-to-include" class="mt-500 mb-400">Select which metadata to include</h3>
<p class="mb-400">If you include metadata, choose the 1 piece of information most important to your readers. For example:</p>
<ul class="list-disc mb-400"><li><p class="mb-400">Estimated length or reading time.</li>
<li><p class="mb-400">Source, reference, or author.</li>
<li><p class="mb-400">Rating or number of likes or saves.</li>
<li><p class="mb-400">Date or location.</li>
</ul>
<h3 id="group-multiple-cards-for-visual-consistency" class="mt-500 mb-400">Group multiple cards for visual consistency</h3>
<p class="mb-400">When you have more than 1 card on a page:</p>
<ul class="list-disc mb-400"><li><p class="mb-400">Organize multiple cards within a grid component.</li>
<li><p class="mb-400">Use the same card type within a section on a page. Choose the link card type or the action card type for all cards rather than mixing types.</li>
<li><p class="mb-400">Try to include the same properties for each card within a section on a page. For example, if one card has an image then all cards get an image.</li>
</ul>


  <section class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2023-11-02
        </gcds-date-modified>
      </main>

      <gcds-footer
        display="compact"
        lang="en"
      ></gcds-footer>

      
    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
