---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Bouton 1.0.0" locale="fr" section="components" version="1.0.0" pageKey="button">
  <h1>Bouton</h1>
<p>Instantané de la documentation du bouton pour 1.0.0.</p>
</VersionedDocLayout>
