---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Aperçu du bouton 1.0.0" locale="fr" section="components" version="1.0.0" pageKey="buttonOverview">
  <h1>Aperçu du bouton</h1>
<p>Aperçu disponible en 1.0.0.</p>
</VersionedDocLayout>
