---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Composants 1.0.0" locale="fr" section="components" version="1.0.0" pageKey="section">
  <h1>Composants</h1>
<p>Instantané de la version 1.0.0.</p>
</VersionedDocLayout>
