.bg-full-width {
  position: relative;
  width: calc(100% + var(--gcds-spacing-300));
  margin-inline: calc(-1 * var(--gcds-spacing-150));
  padding-inline: var(--gcds-spacing-150); }
  .bg-full-width:before, .bg-full-width:after {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    content: '';
    background-color: inherit; }
  .bg-full-width:before {
    left: calc(-100vw + 0.01px); }
  .bg-full-width:after {
    right: calc(-100vw + 0.01px); }

.bg-light-blue {
  background-color: var(--gcds-color-blue-100);
  color: var(--gcds-color-blue-800); }

a[href] {
  text-decoration-color: currentColor; }
  a[href]:not([class*='link-light']):hover:not(:focus) {
    color: var(--gcds-link-hover); }
  a[href]:focus {
    border-radius: var(--gcds-border-radius-sm);
    background-color: var(--gcds-focus-background);
    color: var(--gcds-focus-text);
    text-decoration: none;
    box-shadow: 0 0 0 var(--gcds-border-width-md) var(--gcds-color-grayscale-0);
    outline-offset: var(--gcds-border-width-md);
    outline: var(--gcds-spacing-50) solid var(--gcds-focus-background); }

a[href]:not([class*='link-inherit']):not([class*='link-light']):not(:focus):not(
:hover
) {
  color: var(--gcds-link-default); }

h1 {
  max-width: 32ch; }

h2 {
  max-width: 37ch; }

h3 {
  max-width: 42ch; }

h4 {
  max-width: 46ch; }

h5 {
  max-width: 53ch; }

h6 {
  max-width: 60ch; }

ul li,
p {
  font: var(--gcds-font-text-long);
  max-width: 65ch; }

ul li p:last-child,
ol li p:last-child {
  margin-block-end: var(--gcds-spacing-0) !important; }

code,
[class*='language-'] {
  font-family: var(--gcds-font-families-monospace); }

code:not([class*='language-']) {
  font-size: 80%;
  line-height: var(--gcds-line-heights-caption);
  padding: var(--gcds-spacing-50);
  background-color: var(--gcds-color-grayscale-50);
  border-radius: var(--gcds-border-radius-sm); }

/*
 * General
 */
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  animation: fade 0.05s normal forwards ease-in-out; }

.remove-empty-p p:empty {
  display: none; }

iframe {
  max-width: 100%; }

ul li p.mb-400:has(+ ul),
ul li ul.mb-400 {
  margin-block-end: 0; }

ul li ul li {
  list-style: circle; }

.anatomy-list {
  counter-reset: item;
  margin-block-end: var(--gcds-spacing-450); }
  .anatomy-list li {
    position: relative;
    max-width: 65ch;
    counter-increment: item;
    margin-block-end: var(--gcds-spacing-400);
    padding-inline-start: var(--gcds-spacing-450); }
    .anatomy-list li:before {
      position: absolute;
      left: 0;
      display: inline-block;
      width: var(--gcds-spacing-400);
      height: var(--gcds-spacing-400);
      font-size: var(--gcds-font-sizes-caption);
      text-align: center;
      content: counter(item);
      margin-inline-end: var(--gcds-spacing-200);
      background: #c54600;
      color: var(--gcds-text-light);
      border-radius: var(--gcds-border-radius-xl); }

/*
 * Code showcase
 */
.code-showcase .showcase {
  background-color: #262626; }
  .code-showcase .showcase[aria-hidden='true'] {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .code-showcase .showcase[aria-hidden='false'] {
    margin-top: calc(-1 * var(--gcds-spacing-400)); }
  .code-showcase .showcase code {
    background-color: transparent;
    color: var(--gcds-text-light); }

.code-showcase gcds-button {
  margin: 0 var(--gcds-spacing-300) 0 0; }

.code-showcase .code-copy {
  display: none;
  visibility: hidden; }

.component-preview p {
  margin-block-end: var(--gcds-spacing-0); }

.component-preview-box a {
  height: 100%;
  border: var(--gcds-border-width-md) solid transparent;
  transition: all 0.35s; }
  .component-preview-box a:hover {
    border-color: var(--gcds-border-default); }
    .component-preview-box a:hover .text-secondary {
      color: inherit; }
  .component-preview-box a:focus {
    background-color: var(--gcds-focus-background);
    outline: var(----gcds-outline-width) solid var(--gcds-focus-background);
    outline-offset: var(--gcds-border-width-md); }
    .component-preview-box a:focus .text-secondary {
      color: var(--gcds-focus-text); }

@media (max-width: 64rem) {
  .table-overflow {
    max-width: var(--gcds-container-full);
    overflow-x: scroll;
    box-shadow: inset calc(-1 * var(--gcds-border-width-xl)) 0 0 var(--gcds-color-grayscale-50), inset var(--gcds-border-width-xl) 0 0 var(--gcds-color-grayscale-50); } }

table {
  text-align: left;
  width: var(--gcds-container-full); }
  .table-overflow table {
    min-width: var(--gcds-container-md);
    box-shadow: inset calc(-1 * var(--gcds-border-width-xl)) 0 0 var(--gcds-color-grayscale-0), inset var(--gcds-border-width-xl) 0 0 var(--gcds-color-grayscale-0); }
  table tr {
    vertical-align: baseline; }
  table thead tr {
    border-block-end: var(--gcds-border-width-md) solid var(--gcds-border-default); }
  table tbody tr {
    border-block-end: var(--gcds-border-width-sm) solid var(--gcds-border-default); }
  table td,
  table th {
    padding: var(--gcds-spacing-300) var(--gcds-spacing-250); }
    table td:first-child,
    table th:first-child {
      padding-inline-start: 0; }
    table td:last-child,
    table th:last-child {
      padding-inline-end: 0; }
  table th {
    font-weight: var(--gcds-font-weights-bold);
    padding-block-start: 0; }
  table .color-preview {
    width: var(--gcds-spacing-500);
    height: var(--gcds-spacing-500);
    margin-block-start: calc(-1 * var(--gcds-spacing-200));
    border-radius: var(--gcds-spacing-500); }
  table .spacing-preview {
    background-color: var(--gcds-color-blue-500); }

.table-display-token-color tr {
  vertical-align: top; }

.table-display-token-color td {
  padding-block: calc(var(--gcds-spacing-300) + var(--gcds-spacing-200)); }

.table-display-token-color th:nth-child(1) {
  width: var(--gcds-spacing-500); }

.table-display-token-color th:nth-child(2) {
  width: 30%; }

.table-display-token-color th:nth-child(4) {
  width: 7ch; }

.table-display-token-color th:nth-child(5) {
  width: 35%; }

.table-base-colors th:nth-child(2) {
  width: 40%; }

.table-base-colors th:nth-child(4) {
  width: 7ch; }

.table-base-colors th:nth-child(5) {
  display: none; }

.table-display-token-typography th,
.table-display-token-fontFamilies th,
.table-display-token-fontWeights th {
  width: 30%;
  min-width: 13.125rem; }

.table-display-token-typography th:nth-child(3),
.table-display-token-fontFamilies th:nth-child(3),
.table-display-token-fontWeights th:nth-child(3) {
  width: 40%; }

.table-display-token-typography tr.row-label,
.table-display-token-typography tr.row-textLong {
  display: none; }

.table-display-token-fontFamilies .row-icons {
  display: none; }

.table-display-token-dimension {
  margin-block-end: var(--gcds-spacing-600); }
  .table-display-token-dimension tr {
    vertical-align: top; }

nav.tabs ul {
  list-style: none;
  margin-inline-start: 0;
  margin-block-end: var(--gcds-spacing-500);
  width: var(--gcds-container-full);
  display: flex;
  background-color: var(--gcds-color-grayscale-0);
  gap: var(--gcds-spacing-100);
  flex-wrap: wrap;
  border-block-end: var(--gcds-border-width-md) solid var(--gcds-color-grayscale-100); }

nav.tabs a {
  display: block;
  border-radius: var(--gcds-button-border-radius) var(--gcds-button-border-radius) 0 0;
  padding: var(--gcds-spacing-200) var(--gcds-spacing-200) var(--gcds-spacing-150) var(--gcds-spacing-200);
  color: var(--gcds-text-default);
  margin-block-start: var(--gcds-spacing-150);
  margin-block-end: var(--gcds-spacing-50); }
  nav.tabs a[aria-current='page'] {
    background-color: var(--gcds-color-grayscale-0);
    border: var(--gcds-border-width-md) solid var(--gcds-color-grayscale-100);
    border-block-end: 0 solid var(--gcds-color-grayscale-0);
    box-shadow: 0 var(--gcds-border-width-xl) 0 calc(var(--gcds-border-width-md) * -1) var(--gcds-color-grayscale-0);
    text-decoration: none;
    font-weight: bold;
    padding: var(--gcds-spacing-300) var(--gcds-spacing-200) var(--gcds-spacing-250) var(--gcds-spacing-200);
    margin-block-start: 0;
    margin-block-end: 0;
    pointer-events: none; }
  nav.tabs a:hover {
    background-color: var(--gcds-color-grayscale-50); }
  nav.tabs a:active {
    color: var(--gcds-focus-text) !important; }
  nav.tabs a:focus {
    background-color: var(--gcds-focus-background);
    color: var(--gcds-focus-text);
    text-decoration: none; }
  nav.tabs a[aria-current='page']:focus {
    border-color: var(--gcds-focus-background); }

.hero {
  margin: calc(-1 * var(--gcds-spacing-200));
  background: url(../../images/common/home/home-hero.jpg) top center no-repeat;
  background-size: cover; }
  .hero:before {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    content: 'Image credit: John Lee, https://unsplash.com/photos/oMneOBYhJxY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink'; }
  .hero .hero__content {
    position: relative;
    width: 80%;
    max-width: 40.625rem; }
    .hero .hero__content:before {
      position: absolute;
      top: 0;
      left: calc(-100vw + 0.01px);
      width: 100vw;
      height: 100%;
      content: '';
      background-color: var(--gcds-color-blue-900); }
