<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signature component preview - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/gcds-docs/styles/style.css">

    <!-- GCDS CSS Shortcuts -->
    <link rel="stylesheet" href="/gcds-docs/gcds-css-shortcuts.min.css" />

    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>

    <script src="/gcds-docs/scripts/component-preview-iframe.js"></script>
  </head>
  <body class="overflow-visible box-border px-225 py-300">
    
<div class="d-inline-block me-300">
  <gcds-signature type="signature"></gcds-signature>
</div>

<div class="d-inline-block">
  <gcds-signature class="px-300" type="wordmark"></gcds-signature>
</div>

  </body>
</html>
