<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TBZBZVVK8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TBZBZVVK8');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Link - GC Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Utility framework -->
    <link rel="stylesheet" href="/gcds-docs/gcds-utility.min.css" />

    <link rel="stylesheet" href="/gcds-docs/styles/prism.css">
    <link rel="stylesheet" href="/gcds-docs/styles/style.css">
    <script src="/gcds-docs/scripts/code-showcase.js"></script>
    <script src="/gcds-docs/scripts/code-copy.js"></script>
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/gcds-docs/favicon.ico">

    <!-- Icons Font Awesome (to access icons, import Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

    <!-- GC Design System  Components-->
    <link rel="stylesheet" href="/gcds-docs/components/dist/gcds/gcds.css">
    <script type="module" src="/components/dist/gcds/gcds.esm.js"></script>
    <script nomodule src="/components/dist/gcds/gcds.js"></script>

    <!-- Pagefind -->
    <script src="/pagefind/pagefind.js" type="module"></script>
    <script src="/gcds-docs/scripts/search.js" type="module"></script>

  </head>
  <body>
    


  
  

  
  
    
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      

        

      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
      
      
    
  




<gcds-header
  lang="en"
  skip-to-href="#mc"
  lang-href='/fr/composants/lien/design/'
>
  



<gcds-top-nav slot="menu" label="Main menu" alignment="right">
  <gcds-nav-link slot="home" href="/gcds-docs/en" class="home-link link-inherit link-no-underline" slot="left">GC Design system</gcds-nav-link>
  
    <gcds-nav-link
      href="/gcds-docs/en/components/"
      
    >
      Components
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/installation/"
      
    >
      Installation
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/contact/"
      
    >
      Contact us
    </gcds-nav-link>
  

  
    <gcds-nav-link
      href="/gcds-docs/en/get-involved/"
      
    >
      Get involved
    </gcds-nav-link>
  
</gcds-top-nav>
  

  <gcds-breadcrumbs lang="en" slot="breadcrumb">
    
      <gcds-breadcrumbs-item href=/gcds-docs/en>
        GC Design System
      </gcds-breadcrumbs-item>

      

      
      
        
          <gcds-breadcrumbs-item href=/gcds-docs/en/components/>
            Components
          </gcds-breadcrumbs-item>
        
      
    
  </gcds-breadcrumbs>

  
<gcds-search search-id="search" slot="search" placeholder="GC Design System" action="/en/search">
</gcds-search>


</gcds-header>

    <div class="content-wrapper">
      <main id="mc" class="container-xl mx-auto xl:px-0 sm:px-500 px-300 general-layout" data-pagefind-body>
        
  
    <h1 id="link-brgcdslink" class="mb-400">Link <br><code>&lt;gcds-link&gt;</code></h1>
<p class="mb-400"><em>Also called: anchor, hyperlink, call to action.</em></p>
<p class="mb-400">A link is a navigational element that brings a person to a new page, website, file, or section on the current page.</p>
<p class="mb-400"><ul class="d-flex flex-wrap gap-400">
<li class="github-link">
<gcds-link external href="https://github.com/cds-snc/gcds-components/tree/main/packages/web/src/components/gcds-link">GitHub</gcds-link>
</li>
<li class="figma-link">
<gcds-link external href="https://www.figma.com/file/mh2maMG2NBtk41k1O1UGHV/Canadian-Digital-Service%E2%80%A8---GC-Design-System?type=design&node-id=2646-8407&mode=design&t=Fc8G98RMn9FnseDi-0">Figma</gcds-link>
</li>
</ul></p>
<p class="mb-400"><div class="my-500 b-sm b-default component-preview" id="component-preview">
<p class="container-full font-semibold px-300 py-200 bb-sm b-default bg-light">
Link component preview
</p>
<div class="px-300 py-400"></p>
<p class="mb-400"><gcds-link class="d-block mb-400" href="#">Navigation link</gcds-link>
<gcds-link class="d-block mb-400" href="download.pdf" download="file.pdf" type="application/pdf">Download document (PDF, 1.5 MB)</gcds-link>
<gcds-link class="d-block mb-400" href="mailto:test@test.com?subject=Test%20Email">Email</gcds-link>
<gcds-link class="d-block" href="tel:1234567890">Call</gcds-link></p>
<p class="mb-400"></div>
</div></p>

    <nav class="tabs mb-400" aria-label="Guidance tabs">
      <ul>
        
          
        
          
            <li class="tab">
              <a href=/en/components/link/ >
                Use case
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/link/design/ aria-current=page>
                Design
              </a>
            </li>
          
        
          
            <li class="tab">
              <a href=/en/components/link/code/ >
                Code
              </a>
            </li>
          
        
          
        
          
        
      </ul>
    </nav>
  

  <h2 id="link-anatomy" class="mt-500 mb-400">Link anatomy</h2>
<ol class="anatomy-list">
  <li>The <strong>link text</strong> navigates to a new page, website, or section on the current page. It specifies the link's destination or, for downloads, identifies the file type, and size. Note: Opening links in a new tab or window can be disorienting for people and can cause accessibility issues.</li>
  <li>The <strong>link icon</strong> is attached to certain link types, like download, phone, and email. Otherwise, it’s optional to add an icon.</li>
  <ul>
    <li>The download icon lets a person know that selecting the link will initiate a download.</li>
    <li>The phone icon identifies the phone number and selecting it initiates a phone call.</li>
    <li>The email icon identifies the email address and initiates a message from the default email application.</li>
  </ul>
</ol>
<img class="b-sm b-default p-400" src="/images/en/components/anatomy/gcds-link-anatomy.svg" alt="A label with an underline to signal that it's an interactive link that can be followed. An icon wth a downward pointing arrow sits to the right of the link." />
<h2 id="accessibility-and-design-for-links" class="mt-500 mb-400">Accessibility and design for links</h2>
<h3 id="write-specific-and-descriptive-link-text" class="mt-500 mb-400">Write specific and descriptive link text</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Make link text clear, descriptive, and specific so a person can predict where the link will take them and what they'll find there.</li>
<li><p class="mb-400">Avoid generic or vague link text, like &quot;click here&quot;, &quot;read more&quot;, or &quot;home&quot;.</li>
<li><p class="mb-400">Within link text, place the most important information first, as this is helpful to screen-reader users.</li>
<li><p class="mb-400">Provide enough information in the link text on the link's purpose, rather than relying on the surrounding content. Some assistive technologies present links separately.</li>
<li><p class="mb-400">Keep link text short and distinctive so a person is able to scan the links on a page. Generally limit text to 60 characters and avoid going over 80 characters. When writing in English, keep in mind French content will be around 30% longer.</li>
</ul>
<p class="mb-400">Tip: Use navigation elements like <a href="/en/components/breadcrumbs">breadcrumbs</a> or <a href="/en/components/top-navigation">top navigation</a> so a person knows how to return to their original location.</p>
<h3 id="limit-the-number-and-density-of-links-in-your-text" class="mt-500 mb-400">Limit the number and density of links in your text</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Limit the number of informational links in your text. Too much information increases cognitive load and can be overwhelming to some readers.</li>
<li><p class="mb-400">Consider separating links in a list or other format when you need to share several in the same section. If the links are informational, they may not be essential to the task.</li>
<li><p class="mb-400">Avoid link density in unstructured text. Multiple links in a paragraph interrupt the flow of reading and can be distracting and repetitive with some assistive technologies.</li>
</ul>
<h3 id="provide-information-for-download-files" class="mt-500 mb-400">Provide information for download files</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Provide information in the link text about the file type and size of files for download.</li>
<li><p class="mb-400">Avoid placing the download link within paragraph text.</li>
</ul>
<h3 id="add-a-skiptocontent-link" class="mt-500 mb-400">Add a skip-to-content link</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">A skip-to-content link lets a person skip a cluster of navigation links and jump to the main content.</li>
<li><p class="mb-400">To avoid covering up content, configure the link to push down content so it's not floating. For desktop, place skip-to-content button at top left of the page so it doesn't interrupt the flow.</li>
</ul>
<h3 id="avoid-external-links-when-possible" class="mt-500 mb-400">Avoid external links when possible</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Avoid adding external links:<ul class="list-disc mb-400"><li><p class="mb-400">In the middle of a person's progress, like when a person's filling out a form.</li>
<li><p class="mb-400">If changing pages would make them lose unsaved progress.</li>
<li><p class="mb-400">When starting a process would stop if the person follows a link, like when they're watching a video or completing a main task.</li>
<li><p class="mb-400"><strong>When they're invasive and disruptive to the flow of the page.</strong></li>
<li><p class="mb-400">When it could be a surprise to a person to find themselves somewhere else unexpectedly.</li>
</ul>
</li>
<li><p class="mb-400">Make it obvious where a link will lead, so a person can decide if they should leave the current page.</li>
<li><p class="mb-400">Communicate clearly when links have special conditions. For example, when they're only available inside a closed network because of a firewall.</li>
</ul>
<h3 id="when-to-use-buttons-instead-of-links" class="mt-500 mb-400">When to use buttons instead of links</h3>
<ul class="list-disc mb-400"><li><p class="mb-400">Choose links for most navigation, including within an application, for external sites, jumping to on-page elements, and for email addresses or phone numbers.</li>
<li><p class="mb-400">Choose buttons for actions that modify data, change states, or initiate actions, like submitting a form, playing a video, or saving.</li>
</ul>


  <section data-pagefind-ignore class="pt-100 mt-400 mb-600 bt-sm b-dark ">
  <h2 class="mt-300 mb-400">
    Help us improve
  </h2>

  <p class="mb-400">
    Have questions? Something you&#39;d change or you&#39;d like to see? Share your feedback with us to help improve GC Design System.
  </p>

  <gcds-button
    type="link"
    button-role="secondary"
    href="/en/contact/#contact-us"
  >
    Give feedback
  </gcds-button>
</section>



        <gcds-date-modified class="mb-400 font-caption">
          2024-10-17
        </gcds-date-modified>
      </main>


      <gcds-footer
        display="full"
        lang="en"
        contextual-heading="Canadian Digital Service"
        contextual-links='{ "Sign up for mailing list": "/en/contact", "Report an issue": "https://github.com/cds-snc/gcds-components/issues/new/choose", "About us": "/en/about-us" }'
        sub-links='{ "Social media": "https://www.canada.ca/en/social.html", "Mobile applications": "https://www.canada.ca/en/mobile.html", "About Canada.ca": "https://design.canada.ca/about/", "Terms and conditions": "https://www.canada.ca/en/transparency/terms.html", "Privacy": "/en/privacy-notice" }'
      ></gcds-footer>

    </div>

    <script>function showTooltip(o,e){o.trigger.className.includes("tooltipped")||(o.trigger.children[0].className="tooltipped tooltipped-s",o.trigger.children[0].ariaLabel=e)}window.addEventListener("load",()=>{var o=new ClipboardJS(".code-copy");o.on("success",o=>showTooltip(o,"Copied!")),o.on("error",o=>showTooltip(o,"Failed..."))});</script>
<script async src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  </body>
</html>
