---
title: Bannière de vérification
layout: "layouts/documentation.njk"
eleventyNavigation:
  key: verifybannerFR
  title: Bannière de vérification — à venir
  locale: fr
  parent: basicFR
  order: 3
  url: null
  hideMain: true
translationKey: "verifybanner"
permalink: false
---