name: A11y test documentation site

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'reports/**'
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  a11y-test:
    name: A11y test documentation site
    runs-on: ubuntu-latest
    container:
      image: cypress/included:11.2.0
    steps:
      - name: Git Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: '18.x'

      - name: Cypress run
        uses: cypress-io/github-action@2ad32e649e4db26c07674ebae31a297601dbcbaf # v6.10.8
        with:
          build: npm run build:eleventy
          start: npm run watch:eleventy
          wait-on: 'http://localhost:8080/en'
          # wait for 2 minutes for the server to respond
          wait-on-timeout: 240
