name: A11y test documentation site

env:
  CYPRESS_INSTALL_BINARY: 0

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'reports/**'
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  a11y-test:
    name: A11y test documentation site
    runs-on: ubuntu-latest
    container: 
      image: cypress/included:11.2.0
      options: --user root
    steps:
      - name: Git Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
        with:
          node-version: '16.x'
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build:eleventy
          start: npm run watch:eleventy
