name: Eleventy Build
on:
  push:
    paths-ignore:
      - README.md
    branches:
      - main

jobs:
  build-deploy:
    name: Eleventy Build
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
        env:
          PATH_PREFIX: ${{ github.event.repository.name }}
          GITHUB_ORG: cds-snc
      - name: Add a11y action
        run: |
          mkdir -p ./_site/.github/workflows/
          cp -r ./.github/workflows/a11y-tests.yaml ./_site/.github/workflows/a11y-tests.yaml
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          publish_dir: ./_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
          exclude_assets: 'admin/index.html,admin/config.yml'
