{% set components = [cardlist.type, locale | upper] | join %}

{% if (cardlist.type == "components") %}
  {% set navPages = collections.all | eleventyNavigation(components) | sortAlpha %}
{% else %}
  {% set navPages = collections.all | eleventyNavigation(components) %}
{% endif %}

{% if (cardlist.type === 'components' or cardlist.type === 'foundations') and cardlist.state === 'published' %}
  <div class="my-500">
    <gcds-grid tag="ul" columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" gap="400">
    {%- for entry in navPages %}
      {% if entry.state == cardlist.state %}
        <gcds-card
          card-title="{{ entry.title }}"
          type="link"
          href="{{entry.url}}"
          title-element="h3"
          tag="{% if entry.tag %}{{ entry.tag }}{% endif %}"
          description="{{ entry.description }}"
          img-src="{{ entry.thumbnail }}"
          img-alt="{{ entry.alt }}"
          role="listitem"
        >
          <div slot="footer">
            {% if entry.otherNames %}
              <p class="text-secondary">
                <small><em>{{ documentation[locale].othernames }}{{ entry.otherNames }}</em></small>
              </p>
            {% endif %}
          </div>
        </gcds-card>
      {% endif %}
    {%- endfor -%}
    </gcds-grid>
  </div>
{% endif %}
