<h2 id="component-tags">{{ componentcssshortcuts[locale].heading }}</h2>

{% for value in componentcssshortcuts[locale].paragraphs %}
<gcds-text>{{ value | safe }}</gcds-text>
{% endfor %}

<gcds-button type="link" href="{{ links.shortcuts }}" button-role="secondary" >
  {{ componentcssshortcuts[locale].buttonText }}
</gcds-button>
