<h3 class="mt-500 mb-400">{{ errormessage[locale].heading }}</h3>

<ul class="list-disc">
  {% for value in errormessage[locale].listitems %}
    <li>
      {{ value }}
    </li>
  {% endfor %}
</ul>
