<gcds-footer
  display="full"
  lang="{{ locale }}"
  contextual-heading="{{ footer[locale].contextual.heading }}"
  contextual-links='{ "{{ footer[locale].contextual.about }}": "{{ footer[locale].contextual.abouturl }}", "{{ footer[locale].contextual.a11y }}": "{{ footer[locale].contextual.a11yurl }}", "{{ footer[locale].contextual.sla }}": "{{ footer[locale].contextual.slaurl }}" }'
  sub-links='{ "{{ footer[locale].sub.social }}": "{{ footer[locale].sub.socialurl }}", "{{ footer[locale].sub.mobile }}": "{{ footer[locale].sub.mobileurl }}", "{{ footer[locale].sub.about }}": "{{ footer[locale].sub.abouturl }}", "{{ footer[locale].sub.terms }}": "{{ links.termsOfUse }}", "{{ footer[locale].sub.privacy }}": "{{ links.privacy }}" }'
></gcds-footer>