<footer class="footer">
    <div class="container footer__container">
        <ul>
            <li>
                <a href="{{ footer[locale].termsurl }}" target="_blank" aria-label="{% if locale == "en" %}Terms and conditions (Opens in a new tab){% else %}Avis (S'ouvre dans un nouvel onglet){% endif %}">{{ footer[locale].terms }}</a>
            </li>
            <li>
                <a href="{{ footer[locale].privacyurl }}" target="_blank" aria-label="{% if locale == "en" %}Privacy (Opens in a new tab){% else %}Confidentialité (S'ouvre dans un nouvel onglet){% endif %}">{{ footer[locale].privacy }}</a>
            </li>
            <li>
                <a href="https://www.canada.ca/" target="_blank" aria-label="{% if locale == "en" %}Canada.ca site (Opens in a new tab){% else %}Site Web Canada.ca (S'ouvre dans un nouvel onglet){% endif %}">Canada.ca</a>
            </li>
        </ul>

        {% if locale == "en" %}
            {{ '/src/images/en/gov-canada-wordmark.svg' | svgContents | safe }}
        {% else %}
            {{ '/src/images/fr/gov-canada-wordmark.svg' | svgContents | safe }}
        {% endif %}
    </div>
</footer>