  <h2>
    {{ givefeedback[locale].heading }}
  </h2>

  <p>
    {{ givefeedback[locale].paragraph | safe }}
  </p>

  <gcds-link
    href="{{ links.githubCompsBug }}"
    external
  >
    {{ givefeedback[locale].reportAnIssue }}
  </gcds-link>

  {% include "partials/helpus.njk" %}
