{% set otherLang = "fr" if locale == "en" else "en" %}
<header>
    <h2>{{ header[locale].heading }}</h2>

    <section  lang="{{ otherLang }}">
        {# loop though site.languages #}
        {% for lgg in site.languages %}
        {% if loop.first %}<ul>{% endif %}

        {# set translatedUrl to the homepage of that language by default #}
        {% set translatedUrl = "/" + lgg.code + "/" %}

        {# Only render opposite language link #}
        {% if lgg.code != locale %}

        {# loop through all the content of the site #}
        {% for item in collections.all %}

            {# for each item in the loop, check if
            - its translationKey matches the current item translationKey
            - its locale matches the code of the language we are looping through #}
            {% if item.data.translationKey == translationKey and item.data.locale == lgg.code %}
                {% set translatedUrl = item.url %}
            {% endif %}

        {% endfor %}

        <li>
            <a href="{{ translatedUrl | url }}">{{ lgg.label }}</a>
        </li>

        {% endif %}

        {% if loop.last %}</ul>{% endif %}
        {% endfor %}
    </section>
</header>