
{% for lgg in site.languages %}
  {% set translatedUrl = "/" + lgg.code + "/" %}

  {# Only render opposite language link #}
  {% if lgg.code != locale %}
    {# loop through all the content of the site #}
    {% for item in collections.all %}
      {# for each item in the loop, check if
      - its translationKey matches the current item translationKey
      - its locale matches the code of the language we are looping through #}
      {% if item.data.translationKey == translationKey and item.data.locale == lgg.code %}

        <gcds-header
          lang="{{ locale }}"
          skip-to-href="#mc"
          lang-href='{{ item.url }}'
        >
          {% include "partials/nav.njk" %}
          {% include "partials/breadcrumbs.njk" %}
        </gcds-header>

      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
