{% set itemUrl = '' %}

{% for lgg in site.languages %}
  {# Only render opposite language link #}
  {% if lgg.code != locale %}
    {# loop through all the content of the site #}
    {% for item in collections.all %}
      {# for each item in the loop, check if
      - its translationKey matches the current item translationKey
      - its locale matches the code of the language we are looping through #}
      {% if item.data.translationKey == translationKey and item.data.locale == lgg.code and item.url %}

        {% set itemUrl = item.url %}

      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}



<gcds-header
  lang="{{ locale }}"
  skip-to-href="#mc"
  lang-href='{{ itemUrl }}'
>
  {% include "partials/breadcrumbs.njk" %}
  {% include "partials/search.njk" %}

</gcds-header>