<h3 class="mt-500 mb-400">{{ hint[locale].heading }}</h3>

<ul class="list-disc">
  <li>
    {{ hint[locale].listitems.0 }}
  </li>
  <li>
    {{ hint[locale].listitems.1 }}
  </li>
  <li>
    {{ hint[locale].listitems.2 }}
  </li>
</ul>
