<gcds-notice notice-role="info" notice-title-tag="h2" notice-title="{{ logicalproperties[locale].heading }}">
  {% for value in logicalproperties[locale].text %}
  <gcds-text>{{ value }}</gcds-text>
  {% endfor %}
</gcds-notice>