{% if translationKey == "components" %}
  {% set linkText = lookingfor[locale]["gotogetinvolved"] %}
  {% set linkHref = lookingfor[locale]["gotogetinvolvedhref"] %}
  {% set paragraph = lookingfor[locale]["csparagraph"] %}
{% else %}
  {% set linkText = lookingfor[locale]["gotocomponents"] %}
  {% set linkHref = lookingfor[locale]["gotocomponentshref"] %}
  {% set paragraph = lookingfor[locale]["coparagraph"] %}
{% endif %}

<section class="pt-100 mt-400">
  <h2 class="mt-300 mb-400">
    {{ lookingfor[locale].heading }}
  </h2>

  <p class="mb-400">
    {{ paragraph | safe }}
  </p>

  <ul class="mb-600">
    <li class="md:d-inline sm:d-block me-200">
      <gcds-button
        type="link"
        button-role="primary"
        href="{{ lookingfor[locale].feedbackHref }}"
      >
        {{ lookingfor[locale].feedback }}
      </gcds-button>
    </li>

    <li class="md:d-inline sm:d-block mt-150 md:mt-0">
      <gcds-button
        type="link"
        button-role="secondary"
        href="{{ linkHref }}"
        lang="{{ locale }}"
      >
        {{ linkText }}
      </gcds-button>
    </li>
  </ul>
</section>