{% if translationKey == "components" %}
  {% set linkText = lookingfor[locale]["gotogetinvolved"] %}
  {% set linkHref = lookingfor[locale]["gotogetinvolvedhref"] %}
  {% set paragraph = lookingfor[locale]["csparagraph"] %}
{% else %}
  {% set linkText = lookingfor[locale]["gotocomponents"] %}
  {% set linkHref = lookingfor[locale]["gotocomponentshref"] %}
  {% set paragraph = lookingfor[locale]["coparagraph"] %}
{% endif %}

<section class="mt-600 bt-sm">
  <h2>{{ lookingfor[locale].heading }}</h2>
  <p>{{ paragraph | safe }}</p>
  <ul class="mb-600">
    <li class="md:d-inline sm:d-block me-150">
      <gcds-button
        type="link"
        button-role="primary"
        href="{{ lookingfor[locale].feedbackHref }}"
      >
        {{ lookingfor[locale].feedback }}
      </gcds-button>
    </li>
    <li class="md:d-inline sm:d-block mt-100 md:mt-0">
      <gcds-button
        type="link"
        button-role="secondary"
        href="{{ linkHref }}"
        lang="{{ locale }}"
      >
        {{ linkText }}
      </gcds-button>
    </li>
  </ul>
</section>
