{% set navPages = collections.all | eleventyNavigation %}

{% macro renderNavListItem(entry) -%}
{% if not entry.hideMain %}
  {% if entry.url %}
    <gcds-nav-link
      href="{{ entry.url | url }}"
      {% if entry.url == page.url %}current{% endif %}
    >
      {{ entry.title }}
    </gcds-nav-link>
  {% endif %}
{% endif %}
{%- endmacro %}

<gcds-side-nav label="{{ nav[locale].label }}">
  <gcds-nav-link href="{{ links.home }}">{{ nav[locale].title }}</gcds-nav-link>

  {%- for entry in navPages %}
    {%- if entry.locale == locale %}{{ renderNavListItem(entry) }}{% endif -%}
  {%- endfor -%}
  
  <gcds-nav-group
    menu-label="{{ nav[locale].contact }}"
    open-trigger="{{ nav[locale].contact }}"
  >
    <gcds-nav-link href="{{ links.contact }}">{{ nav[locale].contactus }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.getInvolved }}">{{ nav[locale].getinvolved }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.registerDemo }}">{{ nav[locale].finddemo }}</gcds-nav-link>
  </gcds-nav-group>
</gcds-side-nav>