{% set components = ["components", locale | upper] | join %}
{% set pageTemplates = ["pageTemplates", locale | upper] | join %}
{% set shortcuts = ["shortcuts", locale | upper] | join %}

{% set navPages = collections.all | eleventyNavigation %}
{% set componentPages = collections.all | eleventyNavigation(components) | sortAlpha %}
{% set templatePages = collections.all | eleventyNavigation(pageTemplates) | sortAlpha %}
{% set shortcutsPages = collections.all | eleventyNavigation(shortcuts) | sortAlpha %}

{% macro isCurrent(url) -%}
  {% if page.url | contains(url)%}current{% endif %}
{%- endmacro %}

{% macro isNavGroupOpen(url) -%}
  {% if page.url | contains(url) %}open{% endif %}
{%- endmacro %}

{% macro isCSSShortcutGroupOpen(children, url) -%}
  {% for child in children %}
    {% if page.url | contains(child.url) %}
      open
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro renderComponentListItem(entry) -%}
{% if entry.state === 'published' %}
  {% if entry.url %}
    <gcds-nav-link
      href="{{ entry.url | url }}"
      {{ isCurrent(entry.url) }}
    >
      {{ entry.title }}
    </gcds-nav-link>
  {% endif %}
{% endif %}
{%- endmacro %}

{% macro renderNavListItem(entry) -%}
{% if not entry.hideMain %}
  {% if entry.url %}
    <gcds-nav-link
      href="{{ entry.url | url }}"
      {{ isCurrent(entry.url) }}
    >
      {{ entry.title }}
    </gcds-nav-link>
  {% endif %}
{% endif %}
{%- endmacro %}

{% macro renderCSSShortcutItem(entry) -%}
{% if not entry.hideMain %}
  {% if not entry.url and entry.children %}
    <gcds-nav-group
      menu-label="{{ entry.title }}"
      open-trigger="{{ entry.title }}"
      {{ isCSSShortcutGroupOpen(entry.children | sortAlpha, entry.url) }}
     >
      {%- for child in entry.children %}
        {%- if child.locale == locale %}{{ renderNavListItem(child) }}{% endif -%}
      {%- endfor -%}
    </gcds-nav-group>
  {% else %}
      <gcds-nav-link
        href="{{ entry.url | url }}"
        {{ isCurrent(entry.url) }}
      >
        {{ entry.title }}
      </gcds-nav-link>
  {% endif %}
{% endif %}
{%- endmacro %}

<gcds-side-nav label="{{ nav[locale].label }}">
  <gcds-nav-link href="{{ links.home }}">{{ nav[locale].title }}</gcds-nav-link>
  <gcds-nav-link href="{{ links.getStarted }}" {{ isCurrent(links.getStarted) }}>{{ nav[locale].getstarted }}</gcds-nav-link>

  {# Page templates #}
  
  <gcds-nav-group
    menu-label="{{ nav[locale].pagetemplates }}"
    open-trigger="{{ nav[locale].pagetemplates }}"
    {{ isNavGroupOpen(links.pageTemplates) }}
  >
    <gcds-nav-link
      href="{{ links.pageTemplates }}"
      {% if [links.pageTemplates, '/'] | join == page.url %}current{% endif %}
    >
      {{ nav[locale].pagetemplatesoverview }}
    </gcds-nav-link>

    {%- for entry in templatePages %}
      {%- if entry.locale == locale %}{{ renderComponentListItem(entry) }}{% endif -%}
    {%- endfor -%}
  </gcds-nav-group>

  {# Components #}
  
  <gcds-nav-group
    menu-label="{{ nav[locale].components }}"
    open-trigger="{{ nav[locale].components }}"
    {{ isNavGroupOpen(links.components) }}
  >
    <gcds-nav-link
      href="{{ links.components }}"
      {% if [links.components, '/'] | join == page.url %}current{% endif %}
    >
      {{ nav[locale].componentsoverview }}
    </gcds-nav-link>

    {%- for entry in componentPages %}
      {%- if entry.locale == locale %}{{ renderComponentListItem(entry) }}{% endif -%}
    {%- endfor -%}
  </gcds-nav-group>

  {# CSS shortcuts #}

  <gcds-nav-group
    menu-label="{{ nav[locale].cssshortcuts }}"
    open-trigger="{{ nav[locale].cssshortcuts }}"
    {{ isNavGroupOpen(links.shortcuts) }}
  >
    <gcds-nav-link
      href="{{ links.shortcuts }}"
      {% if [links.shortcuts, '/'] | join == page.url %}current{% endif %}
    >
      {{ nav[locale].cssshortcutsoverview }}
    </gcds-nav-link>

    {%- for entry in shortcutsPages %}
      {%- if entry.locale == locale %}{{ renderCSSShortcutItem(entry) }}{% endif -%}
    {%- endfor -%}
  </gcds-nav-group>

  {# Styles #}

  <gcds-nav-group
    menu-label="Styles"
    open-trigger="Styles"
    {{ isNavGroupOpen(links.styles) }}
  >
    <gcds-nav-link href="{{ links.styles }}"{% if [links.styles, '/'] | join == page.url %}current{% endif %}>{{ nav[locale].stylesoverview }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.designTokens }}" {{ isCurrent(links.designTokens) }}>{{ nav[locale].designtokens }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.colour }}" {{ isCurrent(links.colour) }}>{{ nav[locale].colourtokens }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.spacing }}" {{ isCurrent(links.spacing) }}>{{ nav[locale].spacingtokens }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.typography }}" {{ isCurrent(links.typography) }}>{{ nav[locale].typographytokens }}</gcds-nav-link>
  </gcds-nav-group>

  {# Contacts #}

  <gcds-nav-group
    menu-label="{{ nav[locale].contact }}"
    open-trigger="{{ nav[locale].contact }}"
    {{ isNavGroupOpen(links.contact) }}
  >
    <gcds-nav-link href="{{ links.contact }}">{{ nav[locale].contactus }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.getInvolved }}">{{ nav[locale].getinvolved }}</gcds-nav-link>
    <gcds-nav-link href="{{ links.registerDemo }}">{{ nav[locale].finddemo }}</gcds-nav-link>
  </gcds-nav-group>
</gcds-side-nav>