<section data-pagefind-ignore class="my-600 {% if removeBorder %} {% else %}bt-sm b-dark {% endif %}">
  <gcds-heading tag="h2">{{ needhelp[locale].heading }}</gcds-heading>
  <gcds-text>{{ needhelp[locale].paragraph }}</gcds-text>
</section>
