<aside>
    <nav aria-label="{{ onthispage[locale].heading }}" class="context-menu">
        <h2>{{ onthispage[locale].heading }}</h2>
        {% set onthispage = onThisPage | onThisPage %}
        <ul>
            {% for key, item in onthispage %}
                <li>
                    <gcds-link href="#{{ item }}">{{ key }}</gcds-link>
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>