<gcds-heading tag="h2">{{ responsivelayout[locale].heading }}</gcds-heading>
<gcds-heading tag="h3">{{ responsivelayout[locale].subheading }}</gcds-heading>
<gcds-text>{{ responsivelayout[locale].textIntro }}</gcds-text>

<ul class="list-disc mb-300">
  <li><code>xs</code>: <code>&gt; 480px</code></li>
  <li><code>sm</code>: <code>&gt; 640px</code></li>
  <li><code>md</code>: <code>&gt; 768px</code></li>
  <li><code>lg</code>: <code>&gt; 1024px</code></li>
  <li><code>xl</code>: <code>&gt; 1280px</code></li>
</ul>

<pre class="shortcut-responsive-layout">
  <code class="language-html">
&lt;div class="xs:{{ shortcutsPartialClass }} ..."&gt;
  ...
&lt;/div&gt;
  </code>
</pre>

<gcds-text>{{ responsivelayout[locale].textLink }}</gcds-text>
