{% if not hidesearch %}
<gcds-search search-id="search" slot="search" placeholder="{{ search[locale].placeholder}}" action="{{ search[locale].action}}" data-placeholder-long="{{ search[locale].placeholder }}" data-placeholder-short="{{ search[locale].shortPlaceholder }}">
</gcds-search>
{% endif %}