<gcds-heading tag="h2">{{ shortcutstable[locale].heading }}</gcds-heading>
{% if shortcutsDescription %}
  <gcds-text>{{ shortcutsDescription }}</gcds-text>
{% endif %}
<div class="mb-300 table-overflow shortcut-table">
  <table>
    <thead>
      <tr>
        <th>{{ shortcutstable[locale].class }}</th>
        <th>{{ shortcutstable[locale].style }}</th>
        {% if shortcutsHasLegacy %}
          <th>{{ shortcutstable[locale].legacy }}</th>
        {% endif %}
        {% if shortcutsHasMinWidth %}
          <th>{{ shortcutstable[locale].minWidth }}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for shortcut in shortcuts %}
      <tr>
        <td><pre><code>{{ shortcut.class }}</code></pre></td>
        <td><pre><code>{{ shortcut.style }}</code></pre></td>
        {% if shortcut.legacy %}
          <td><pre><code>{{ shortcut.legacy }}</code></pre></td>
        {% endif %}
        {% if shortcut.minWidth %}
          <td><pre><code>{{ shortcut.minWidth }}</code></pre></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
