<gcds-notice class="mb-300" notice-role="info" notice-title-tag="h2" notice-title="{{ shortcutstemplate[locale].heading }}">
  <gcds-text>{{ shortcutstemplate[locale].text }}</gcds-text>
</gcds-notice>