<gcds-notice type="info" notice-title-tag="h2" notice-title="{{ shortcutsnoticedirection[locale].heading }}">
  <gcds-text>{{shortcutsnoticedirection[locale].textPartOne}} <code>{{ shortcutsNoticeDirection }}</code> {{shortcutsnoticedirection[locale].textPartTwo}}</gcds-text>
</gcds-notice>
