<gcds-heading tag="h3">{{ state[locale].heading }}</gcds-heading>
<gcds-text>{{ state[locale].textIntro }}</gcds-text>

<ul class="list-disc mb-300">
  <li><code>hover</code></li>
  <li><code>focus</code></li>
</ul>

<pre class="shortcut-responsive-layout">
  <code class="language-html">
&lt;div class="hover:{{ shortcutsPartialClass }} ..."&gt;
  ...
&lt;/div&gt;
  </code>
</pre>

<gcds-text>{{ state[locale].textLink }}</gcds-text>
