---
import VersionedDocLayout from "../../../../layouts/VersionedDocLayout.astro";
---

<VersionedDocLayout pageTitle="Espacement 1.0.0" locale="fr" section="cssShortcuts" version="1.0.0" pageKey="spacing">
  <h1>Espacement</h1>
<p>Raccourcis d'espacement en 1.0.0.</p>
</VersionedDocLayout>
